<template>
  <div class="contact-account" style="height: 100%">
    <view-box body-padding-top="50px">
      <x-header slot="header" title="账户信息设置" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <template slot="default">
        <group gutter="0">
          <div style="padding:20px;box-sizing: border-box; width: 100%;text-align: center;">
            <div class="show">
              <div class="picture" :style="'backgroundImage:url(' + headerImage + ')'"></div>
            </div>
            <div style="text-align: center;">
              <input type="file" id="upload" accept="image/jpg" @change="upload" style="width: 165px;">
              <label for="upload"></label>
            </div>
          </div>
          <!--<div style="width: 100%;text-align: center;padding-top: 30px;padding-bottom: 30px; float: left;" class="grad">
             <img src="../../../static/images/top-bar.jpg" height="85" width="85" />
             <p>上传自定义头像</p>
          </div>-->
          <x-input title="会员ID"  placeholder="设置会员ID" :show-clear="false" placeholder-align="right" text-align="right"></x-input>
        </group>
        <group gutter="0" title="提示：点击用户ID，进行自定义；ID仅可以设置为3位大写字母与3位数字的组合；每位用户仅此一次修改ID的机会">
          <x-input title="昵称"  placeholder="设置会员昵称" :show-clear="false" placeholder-align="right" text-align="right"></x-input>
        </group>
        <br/>
        <br/>
        <box gap="10px 10px">
          <x-button type="primary">保存设置</x-button>
        </box>
        <p class="copy-right">© BestPay</p>
      </template>
      <!--<tabbar slot="bottom" class="logout-button">
        <tabbar-item @on-item-click="logout">
          <span slot="label">退出登陆</span>
        </tabbar-item>
      </tabbar>-->
    </view-box>
    <p class="copy-right">© BestPay</p>
  </div>
</template>

<script>
import {EXIF} from './exif.js'

export default {
  mounted () {
    var self = this
    self.$models.User.info().then(function (response) {
      if (response.data.success !== 1) {
        self.$router.push('/not-login')
      }
      self.loaded = true
      self.info = response.data.data
      self.infoValue = encodeURIComponent('userId=' + self.info.mobile + '&name=' + self.info.mobile + '&memo=' + self.info.mobile)
    })
  },
  data () {
    return {
      loaded: false,
      url: '/static/images/top-bar.jpg',
      info: {
        uid: '',
        usable_gold: 0,
        freeze_gold: 0,
        financal: {
          status: 0
        }
      },
      headerImage: '',
      picValue: ''
    }
  },
  methods: {
    logout () {
      var self = this
      self.$models.User.logout().then(function () {
        window.location.href = '/'
      })
    },
    test () {
      window.location.href = 'http://www.baidu.com'
    },
    upload (e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      this.picValue = files[0]
      this.imgPreview(this.picValue)
      console.log(this.picValue)
    },
    imgPreview (file) {
      let self = this
      let Orientation
      // 去获取拍照时的信息，解决拍出来的照片旋转问题
      EXIF.getData(file, function () {
        Orientation = EXIF.getTag(this, 'Orientation')
      })
      // 看支持不支持FileReader
      if (!file || !window.FileReader) return

      if (/^image/.test(file.type)) {
          // 创建一个reader
        let reader = new FileReader()
          // 将图片2将转成 base64 格式
        reader.readAsDataURL(file)
          // 读取成功后的回调
        reader.onloadend = function () {
          let result = this.result
          let img = new Image()
          img.src = result
          // 判断图片是否大于100K,是就直接上传，反之压缩图片
          if (this.result.length <= (100 * 1024)) {
            self.headerImage = this.result
            self.postImg()
          } else {
            img.onload = function () {
              let data = self.compress(img, Orientation)
              self.headerImage = data
              self.postImg()
            }
          }
        }
      }
    },
    postImg () {
      // 这里写接口
    },
    rotateImg (img, direction, canvas) {
      // 最小与最大旋转方向，图片旋转4次后回到原方向
      const minStep = 0
      const maxStep = 3
      if (img == null) return
      // img的高度和宽度不能在img元素隐藏后获取，否则会出错
      let height = img.height
      let width = img.width
      let step = 2
      if (step == null) {
        step = minStep
      }
      if (direction === 'right') {
        step++
        // 旋转到原位置，即超过最大值
        step > maxStep && (step = minStep)
      } else {
        step--
        step < minStep && (step = maxStep)
      }
      // 旋转角度以弧度值为参数
      let degree = step * 90 * Math.PI / 180
      let ctx = canvas.getContext('2d')
      switch (step) {
        case 0:
          canvas.width = width
          canvas.height = height
          ctx.drawImage(img, 0, 0)
          break
        case 1:
          canvas.width = height
          canvas.height = width
          ctx.rotate(degree)
          ctx.drawImage(img, 0, -height)
          break
        case 2:
          canvas.width = width
          canvas.height = height
          ctx.rotate(degree)
          ctx.drawImage(img, -width, -height)
          break
        case 3:
          canvas.width = height
          canvas.height = width
          ctx.rotate(degree)
          ctx.drawImage(img, -width, 0)
          break
      }
    },
    compress (img, Orientation) {
      let canvas = document.createElement('canvas')
      let ctx = canvas.getContext('2d')
        // 瓦片canvas
      let tCanvas = document.createElement('canvas')
      let tctx = tCanvas.getContext('2d')
      let initSize = img.src.length
      let width = img.width
      let height = img.height
      // 如果图片大于四百万像素，计算压缩比并将大小压至400万以下
      let ratio
      if ((ratio = width * height / 4000000) > 1) {
        console.log('大于400万像素')
        ratio = Math.sqrt(ratio)
        width /= ratio
        height /= ratio
      } else {
        ratio = 1
      }
      canvas.width = width
      canvas.height = height
  //         铺底色
      ctx.fillStyle = '#fff'
      ctx.fillRect(0, 0, canvas.width, canvas.height)
      // 如果图片像素大于100万则使用瓦片绘制
      let count
      if ((count = width * height / 1000000) > 1) {
        console.log('超过100W像素')
        count = ~~(Math.sqrt(count) + 1) // 计算要分成多少块瓦片
  //             计算每块瓦片的宽和高
        let nw = ~~(width / count)
        let nh = ~~(height / count)
        tCanvas.width = nw
        tCanvas.height = nh
        for (let i = 0; i < count; i++) {
          for (let j = 0; j < count; j++) {
            tctx.drawImage(img, i * nw * ratio, j * nh * ratio, nw * ratio, nh * ratio, 0, 0, nw, nh)
            ctx.drawImage(tCanvas, i * nw, j * nh, nw, nh)
          }
        }
      } else {
        ctx.drawImage(img, 0, 0, width, height)
      }
      // 修复ios上传图片的时候 被旋转的问题
      if (Orientation !== '' && Orientation !== 1) {
        switch (Orientation) {
          case 6:// 需要顺时针（向左）90度旋转
            this.rotateImg(img, 'left', canvas)
            break
          case 8:// 需要逆时针（向右）90度旋转
            this.rotateImg(img, 'right', canvas)
            break
          case 3:// 需要180度旋转
            this.rotateImg(img, 'right', canvas)// 转两次
            this.rotateImg(img, 'right', canvas)
            break
        }
      }
      //  进行最小压缩
      let ndata = canvas.toDataURL('image/jpeg', 0.1)
      console.log('压缩前：' + initSize)
      console.log('压缩后：' + ndata.length)
      console.log('压缩率：' + ~~(100 * (initSize - ndata.length) / initSize) + '%')
      tCanvas.width = tCanvas.height = canvas.width = canvas.height = 0
      return ndata
    }
  }
}
</script>

<style lang="less">
@import '~vux/src/styles/weui/widget/weui-uploader/index.less';
*{
  margin: 0;
  padding: 0;
}
.show {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border: 1px solid #d5d5d5;
  margin: auto;
}
.picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
