<template>
  <div class="contact-add" style="height: 100%">
    <view-box body-padding-top="50px">
      <x-header slot="header" title="建议与反馈" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <box v-if="!result_info.success">
        <group>
          <cell title="联系方式">
            <check-icon :value.sync="contact_info.wechat.select" @click.native="changeContactType(0)">微信</check-icon>
            <check-icon :value.sync="contact_info.qq.select" @click.native="changeContactType(1)">QQ邮箱</check-icon>
          </cell>
          <x-input v-if="contact_info.type == 0" v-model="contact_info.wechat.id" v-bind:title="contact_info.detail_info[contact_info.type].title" v-bind:placeholder="contact_info.detail_info[contact_info.type].type_placeholder" :show-clear="false" placeholder-align="right" text-align="right"></x-input>
          <x-input v-if="contact_info.type == 1" v-model="contact_info.qq.id" v-bind:title="contact_info.detail_info[contact_info.type].title" v-bind:placeholder="contact_info.detail_info[contact_info.type].type_placeholder" :show-clear="false" placeholder-align="right" text-align="right"></x-input>
          <x-input title="会员ID" v-model="contact_info.id" placeholder="遇到问题的会员ID" :show-clear="false" placeholder-align="right" text-align="right"></x-input>
          <popup-radio title="问题类型" :options="question_info.options" @on-change="onQuestionTypeChange"></popup-radio>
        </group>
        <group v-if="question_info.options_select == 1">
          <cell v-if="deposit_info.order_list_select == 0" title="充值订单" @click.native="show_deposit_list = true" style="text-overflow:ellipsis;-o-text-overflow:ellipsis;" is-link><span>{{deposit_none_info.order_custom}}</span></cell>
          <cell v-else title="充值订单" @click.native="show_deposit_list = true" style="text-overflow:ellipsis;-o-text-overflow:ellipsis;" is-link><span style="font-size: 0.20em;">{{deposit_info.order_no}}</span></cell>

          <datetime-range v-if="deposit_info.order_list_select == 0" title="充值时间" v-model="question_info.date" :start-date="question_info.start_date" :end-date="question_info.end_date" format="YYYY-MM-DD" @on-change="onDateChange"></datetime-range>
          <cell v-else title="充值时间">{{question_info.date[0]}}    {{question_info.date[1]}}:{{question_info.date[2]}}</cell>

          <popup-radio v-if="deposit_info.order_list_select == 0" title="充值方式" :value="deposit_info.platform_id" :options="deposit_info.platform_options" @on-change="onDepositTypeChange"></popup-radio>
          <cell v-else title="充值方式">{{deposit_info.platform}}</cell>

          <x-input v-if="deposit_info.order_list_select == 0" title="充值金额" v-model="deposit_info.amount" :value="deposit_info.amount" :max="8" placeholder="请填写实际充值金额" :show-clear="false" placeholder-align="right" text-align="right" type="number"></x-input>
          <cell v-else title="充值金额">{{deposit_info.amount}}</cell>

          <x-input v-if="needPlatformOrderId()" title="渠道订单号" v-model="deposit_info.platform_order_id" :value="deposit_info.platform_order_id" placeholder="" :show-clear="false" placeholder-align="right" text-align="right"></x-input>

          <x-input v-if="isUnionPay()" title="付款卡卡号" v-model="deposit_info.card_no" :value="deposit_info.card_no" placeholder="" :show-clear="false" placeholder-align="right" text-align="right"></x-input>
          <x-input v-if="isUnionPay()" title="付款人姓名" v-model="deposit_info.card_username" :value="deposit_info.card_username" placeholder="" :show-clear="false" placeholder-align="right" text-align="right"></x-input>
          <cell v-if="desc_info.desc == ''" title="支付凭证" @click.native="show_desc = true" is-link></cell>
          <cell v-else title="支付凭证" @click.native="show_desc = true" is-link>已编辑</cell>
        </group>
        <group v-else-if="question_info.options_select == 2">
          <cell v-if="withdrawal_info.order_list_select == 0" title="提现订单" @click.native="show_withdrawal_list = true" style="text-overflow:ellipsis;-o-text-overflow:ellipsis;" is-link><span>{{withdrawal_none_info.value}}</span></cell>
          <cell v-else title="提现订单" @click.native="show_withdrawal_list = true" style="text-overflow:ellipsis;-o-text-overflow:ellipsis;" is-link><span style="font-size: 0.20em;">{{withdrawal_info.order_no}}</span></cell>

          <datetime-range v-if="withdrawal_info.order_list_select == 0" title="提现时间" v-model="question_info.date" :start-date="question_info.start_date" :end-date="question_info.end_date" format="YYYY-MM-DD" @on-change="onDateChange"></datetime-range>
          <cell v-else title="提现时间">{{question_info.date[0]}}    {{question_info.date[1]}}:{{question_info.date[2]}}</cell>

          <x-input v-if="withdrawal_info.order_list_select == 0" title="提现金额" v-model="withdrawal_info.amount" :value="withdrawal_info.amount" :max="8" placeholder="" :show-clear="false" placeholder-align="right" text-align="right" type="number"></x-input>
          <cell v-else title="提现金额">{{withdrawal_info.amount}}</cell>

          <popup-radio v-if="withdrawal_info.order_list_select == 0" title="提现银行" :value="withdrawal_info.bank" :options="withdrawal_info.bank_options" @on-change="onBankChange"></popup-radio>
          <cell v-else title="提现银行">{{withdrawal_info.bank}}</cell>

          <x-input v-if="withdrawal_info.order_list_select == 0" title="提现卡号" v-model="withdrawal_info.card_no" :value="withdrawal_info.card_no" :max="20" placeholder="" :show-clear="false" placeholder-align="right" text-align="right" type="number"></x-input>
          <cell v-else title="提现卡号">{{withdrawal_info.card_no}}</cell>

          <cell v-if="desc_info.desc == ''" title="支付凭证" @click.native="show_desc = true" is-link></cell>
          <cell v-else title="支付凭证" @click.native="show_desc = true" is-link>已编辑</cell>
        </group>
        <group v-else-if="question_info.options_select > 2">
          <datetime-range title="问题时间" v-model="question_info.date" v-bind:start-date="question_info.start_date" v-bind:end-date="question_info.end_date" format="YYYY-MM-DD" @on-change="onDateChange"></datetime-range>
          <cell title="问题描述" @click.native="show_desc = true" is-link></cell>
        </group>
      </box>
      <box v-if="question_info.options_select != 0 && !result_info.success" gap="30px 10px 10px">
        <x-button type="primary" @click.native="checkData">提交</x-button>
      </box>
      <template v-if="result_info.success">
        <div>
          <msg :title="result_info.title" :description="result_info.desc" :buttons="result_info.buttons" icon="success"></msg>
        </div>
      </template>
      <popup v-model="show_deposit_list" height="90%">
        <group gutter="0">
          <radio :options="deposit_info.order_list" v-model="deposit_info.order_list_select" @on-change="onDepositListSelect">
            <template slot-scope="props" slot="each-item">
              <p v-if="props.label.deposit_id > 0">
                <label>{{ props.label.platform }}</label>
                <span style="position: absolute; left: 70%;">¥ {{ props.label.amount }}</span><br/>
                <label>{{ props.label.created_at }}</label>
                <span style="position: absolute; left: 70%;">{{ props.label.status }}</span><br/>
              </p>
              <p v-else>
                <label>{{ props.label }}</label>
              </p>
            </template>
          </radio>
        </group>
      </popup>
      <popup v-model="show_withdrawal_list" height="90%">
        <group gutter="0">
          <radio :options="withdrawal_info.order_list" v-model="withdrawal_info.order_list_select" @on-change="onWithdrawalListSelect">
            <template slot-scope="props" slot="each-item">
              <p v-if="props.label.withdrawal_id > 0">
                <label>{{ props.label.bank }}</label>
                <span style="position: absolute; left: 70%;">¥ {{ props.label.amount }}</span><br/>
                <label>{{ props.label.created_at }}</label>
                <span style="position: absolute; left: 70%;">{{ props.label.status }}</span><br/>
              </p>
              <p v-else>
                <label>{{ props.label }}</label>
              </p>
            </template>
          </radio>
        </group>
      </popup>
      <popup v-model="show_desc" height="100%" width="100%" position="right">
        <view-box body-padding-top="50px">
          <x-header slot="header" title="建议与反馈" :left-options="{backText: '', preventGoBack: true}" @on-click-back="show_desc = false" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
          </x-header>
          <group title="问题和建议">
            <x-textarea v-model="desc_info.desc" :max="200" :height="100"></x-textarea>
          </group>
          <group>
            <ul class="weui-uploader__files">
              <uploader ref="uploader1" title="图片（选填，提供问题截图)" :max="upload_info.upload_max" :size='upload_info.size' :autoUpload="true" :handleClick="false" :images="upload_info.images" :uploadUrl="upload_info.uploadUrl"></uploader>
            </ul>
            <!--<box gap="10px 10px 10px">
              <div class="weui-uploader__input-box">
                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple />
              </div>
            </box>-->
          </group>
          <box gap="10px 10px 10px">
            <x-button type="primary" @click.native="finish">完成</x-button>
          </box>
        </view-box>
      </popup>
    </view-box>
    <p class="copy-right">© BestPay</p>
  </div>
</template>

<script>
import { dateFormat } from 'vux'
import Vue from 'vue'
export default {
  components: {
    'uploader': require('../unit/uploader/uploader.vue')
  },
  data () {
    return {
      contact_info: {
        type: 0,
        id: '',
        wechat: {
          select: true,
          id: ''
        },
        qq: {
          select: false,
          id: ''
        },
        detail_info: [{
          title: '联系微信',
          type_placeholder: '便于我们通过微信与您联系'
        }, {
          title: '联系QQ',
          type_placeholder: '便于我们通过QQ邮箱与您联系'
        }]
      },
      question_info: {
        start_date: '2017-01-01',
        end_date: '',
        date: ['', '', ''],
        options_select: 0,
        options: [{
          key: 1,
          value: '充值未到账'
        }, {
          key: 2,
          value: '提现未到账'
        }, {
          key: 3,
          value: '银行卡绑定'
        }, {
          key: 4,
          value: '钱包余额问题'
        }, {
          key: 5,
          value: '资金密码问题'
        }, {
          key: 6,
          value: '商务合作'
        }, {
          key: 7,
          value: '其他'
        }]
      },
      deposit_info: {
        platform_options: [],
        platform_id: 0,
        platform: '',
        platform_order_id: '',
        amount: '',
        order_no: '',
        order_list_select: 0,
        order_list: [],
        card_no: '',
        card_username: ''
      },
      deposit_list_load: false,
      show_deposit_list: false,
      withdrawal_info: {
        card_list: [],
        bank_options: [],
        bank_id: 0,
        bank: '',
        amount: '',
        card_no: '',
        order_no: '',
        order_list_select: 0,
        order_list: []
      },
      withdrawal_list_load: false,
      show_withdrawal_list: false,
      platforms: [],
      banks: [],
      deposit_list: [],
      deposit_status_list: [],
      deposit_none_info: {
        key: 0,
        value: '订单不在列表中',
        order_custom: '自定义'
      },
      withdrawal_list: [],
      withdrawal_status_list: [],
      withdrawal_none_info: {
        key: 0,
        value: '订单不在列表中'
      },
      show_desc: false,
      desc_info: {
        desc: '',
        pic: []
      },
      submitting: false,
      upload_info: {
        upload_max: 5,
        size: 'small',
        images: [],
        uploadUrl: Vue.prototype.serverUrl + 'upload'
      },
      result_info: {
        success: false,
        title: '提交成功',
        desc: '谢谢您的反馈 ，我们会在24小时内与您联系',
        buttons: [{
          type: 'primary',
          text: '返回',
          onClick: this.resultClick.bind(this)
        }]
      }
    }
  },
  mounted () {
    const self = this
    self.$models.User.info().then(function (response) {
      if (response.data.success !== 1) {
        self.$router.push('/not-login')
      }
      self.contact_info.id = response.data.data.uid
    })
    self.contact_info.detail_info_title = self.contact_info.detail_info[self.contact_info.type].title
    self.resetDateTimeRange()
    self.resetDepositOrder()
  },
  methods: {
    changeContactType (index) {
      this.contact_info.type = index
      if (this.contact_info.type === 0) {
        this.contact_info.wechat.select = true
        this.contact_info.qq.select = false
        this.contact_info.qq.id = ''
      } else {
        this.contact_info.wechat.select = false
        this.contact_info.qq.select = true
        this.contact_info.wechat.id = ''
      }
    },
    onQuestionTypeChange (e) {
      const self = this
      self.question_info.options_select = e
      switch (this.question_info.options_select) {
        case 1:
          if (!self.deposit_list_load) {
            self.getDepositPlatform(self.getDepositList, self)
          }
          break
        case 2:
          if (!self.withdrawal_list_load) {
            self.getBankList()
            self.getCardList(self.getWithdrawalList, self)
          }
          break
        default:
          self.resetDateTimeRange()
          break
      }
    },
    onDepositTypeChange (e) {
      const self = this
      self.deposit_info.platform_id = e
      if (self.needPlatformOrderId()) {
        self.deposit_info.platform_order_id = ''
      }
      if (self.isUnionPay()) {
        self.deposit_info.card_no = ''
        self.deposit_info.card_username = ''
      }
    },
    onBankChange (e) {
      this.withdrawal_info.bank_id = e
    },
    onDateChange () {
      console.log('onDateChange')
    },
    onDepositListSelect (e) {
      const self = this
      self.deposit_info.order_list_select = e
      self.show_deposit_list = false
      if (self.deposit_info.order_list_select > 0) {
        var orderInfo = self.deposit_list[self.deposit_info.order_list_select]
        self.question_info.date[0] = orderInfo.created_at.split(' ')[0]
        self.question_info.date[1] = orderInfo.created_at.split(' ')[1].split(':')[0]
        self.question_info.date[2] = orderInfo.created_at.split(' ')[1].split(':')[1]
        self.deposit_info.order_no = orderInfo.order_no
        self.deposit_info.platform = self.platforms[orderInfo.platform_id].name
        self.deposit_info.platform_id = orderInfo.platform_id
        self.deposit_info.amount = orderInfo.amount
      } else {
        self.resetDateTimeRange()
        self.resetDepositOrder()
      }
    },
    onWithdrawalListSelect (e) {
      const self = this
      self.withdrawal_info.order_list_select = e
      self.show_withdrawal_list = false
      if (self.withdrawal_info.order_list_select > 0) {
        var withdrawalInfo = self.withdrawal_list[self.withdrawal_info.order_list_select]
        self.question_info.date[0] = withdrawalInfo.created_at.split(' ')[0]
        self.question_info.date[1] = withdrawalInfo.created_at.split(' ')[1].split(':')[0]
        self.question_info.date[2] = withdrawalInfo.created_at.split(' ')[1].split(':')[1]
        self.withdrawal_info.order_no = withdrawalInfo.serial_number
        self.withdrawal_info.bank = self.withdrawal_info.card_list[withdrawalInfo.card_id].bank.bank_name
        self.withdrawal_info.bank_id = self.withdrawal_info.card_list[withdrawalInfo.card_id].bank.bank_id
        self.withdrawal_info.card_no = self.withdrawal_info.card_list[withdrawalInfo.card_id].card_no
        self.withdrawal_info.amount = withdrawalInfo.amount
      } else {
        self.resetDateTimeRange()
        self.resetWithdrawalOrder()
      }
    },
    resetDepositOrder () {
      const self = this
      self.deposit_info.order_no = ''
      self.deposit_info.platform_id = 0
      self.deposit_info.platform = ''
      self.deposit_info.platform_order_id = ''
      self.deposit_info.amount = ''
      self.deposit_info.card_no = ''
      self.deposit_info.card_username = ''
    },
    resetWithdrawalOrder () {
      const self = this
      self.deposit_info.order_no = ''
      self.deposit_info.bank_id = 0
      self.deposit_info.bank = ''
      self.deposit_info.card_no = ''
      self.deposit_info.amount = ''
    },
    resetDateTimeRange () {
      const self = this
      self.question_info.start_date = '2017-01-01'
      var date = dateFormat(new Date(), 'YYYY-MM-DD HH:mm:ss')
      self.question_info.end_date = date.split(' ')[0]
      self.question_info.date[0] = date.split(' ')[0]
      self.question_info.date[1] = date.split(' ')[1].split(':')[0]
      self.question_info.date[2] = date.split(' ')[1].split(':')[1]
    },
    getDepositPlatform (fun, thisObj) {
      const self = this
      self.$models.Deposit.platforms({type: 'all'}).then(function (platforms) {
        for (var key in platforms.data.data.lists) {
          let platformsObj = platforms.data.data.lists[key]
          self.platforms[platformsObj.id] = platformsObj
          var optionObj = {
            key: platformsObj.id,
            value: platformsObj.name
          }
          thisObj.deposit_info.platform_options.push(optionObj)
        }
        fun()
      })
    },
    getDepositList () {
      const self = this
      self.deposit_list_load = true
      self.$models.Deposit.list({type: 'all'}).then(function (response) {
        for (var i in response.data.data.list) {
          self.deposit_status_list = response.data.data.status
          var payInfoTemp = response.data.data.list[i]
          var payInfo = {
            key: payInfoTemp.deposit_id,
            value: {
              deposit_id: payInfoTemp.deposit_id,
              amount: payInfoTemp.amount,
              created_at: payInfoTemp.created_at,
              status: self.deposit_status_list[payInfoTemp.status],
              platform: self.platforms[payInfoTemp.platform_id].name
            }
          }
          self.deposit_info.order_list.push(payInfo)
          self.deposit_list[payInfoTemp.deposit_id] = payInfoTemp
        }
        self.deposit_info.order_list.reverse()
        self.deposit_info.order_list.push(self.deposit_none_info)
      })
    },
    getCardList (fun, thisObj) {
      const self = this
      self.$models.Card.list().then(function (response) {
        if (response.data.success) {
          let cards = response.data.data.cards
          for (var key in cards) {
            let card = cards[key]
            thisObj.withdrawal_info.card_list[card.card_id] = card
          }
          fun()
        }
      })
    },
    getBankList () {
      const self = this
      self.$models.Card.bankList().then(function (response) {
        if (response.data.success) {
          let banks = response.data.data.banks
          for (var key in banks) {
            let bankObj = banks[key]
            self.banks[bankObj.bank_id] = bankObj
            var optionObj = {
              key: bankObj.bank_id,
              value: bankObj.bank_name
            }
            self.withdrawal_info.bank_options.push(optionObj)
          }
        }
      })
    },
    getWithdrawalList () {
      const self = this
      self.withdrawal_list_load = true
      self.$models.Withdrawal.list().then(function (response) {
        for (var i in response.data.data.list) {
          self.withdrawal_status_list = response.data.data.status
          var withdrawalInfoTemp = response.data.data.list[i]
          var withdrawalInfo = {
            key: withdrawalInfoTemp.withdrawal_id,
            value: {
              withdrawal_id: withdrawalInfoTemp.withdrawal_id,
              amount: withdrawalInfoTemp.amount,
              created_at: withdrawalInfoTemp.created_at,
              status: self.withdrawal_status_list[withdrawalInfoTemp.status],
              bank: self.withdrawal_info.card_list[withdrawalInfoTemp.card_id].bank.bank_name,
              card_no: self.withdrawal_info.card_list[withdrawalInfoTemp.card_id].card_no
            }
          }
          self.withdrawal_info.order_list.push(withdrawalInfo)
          self.withdrawal_list[withdrawalInfoTemp.withdrawal_id] = withdrawalInfoTemp
        }
        self.withdrawal_info.order_list.reverse()
        self.withdrawal_info.order_list.push(self.withdrawal_none_info)
      })
    },
    finish () {
      this.show_desc = false
    },
    checkData () {
      if (!self.submitting) {
        switch (this.question_info.options_select) {
          case 0:
            this.$vux.toast.show({
              'text': '请选择问题类型',
              'type': 'warn',
              'width': '60%'
            })
            break
          case 1:
            this.checkDepositData()
            break
          case 2:
            this.checkWithdrawalData()
            break
          default:
            this.checkOtherData()
            break
        }
      }
    },
    needPlatformOrderId () {
      const self = this
      if (self.deposit_info.platform_id === 4 || self.deposit_info.platform_id === 8 || self.deposit_info.platform_id === 11 || self.deposit_info.platform_id === 999) {
        return true
      }
      return false
    },
    isUnionPay () {
      const self = this
      if (self.deposit_info.platform_id === 1 || self.deposit_info.platform_id === 2 || self.deposit_info.platform_id === 5 || self.deposit_info.platform_id === 10) {
        return true
      }
      return false
    },
    checkContactInfo () {
      const self = this
      if (self.contact_info.type === 0 && self.contact_info.wechat.id === '') {
        self.$vux.toast.show({
          'text': '请填写微信帐号',
          'type': 'warn',
          'width': '60%'
        })
        return false
      } else if (self.contact_info.type === 1 && self.contact_info.qq.id === '') {
        self.$vux.toast.show({
          'text': '请填写qq帐号',
          'type': 'warn',
          'width': '60%'
        })
        return false
      }
      if (self.contact_info.id === '') {
        self.$vux.toast.show({
          'text': '请填写会员id',
          'type': 'warn',
          'width': '60%'
        })
        return false
      }
      return true
    },
    checkDepositData () {
      const self = this
      if (self.checkContactInfo()) {
        if (self.deposit_info.order_list_select === 0) {
          if (self.question_info.date[0] === '' || self.question_info.date[1] === '' || self.question_info.date[2] === '') {
            self.$vux.toast.show({
              'text': '请填写订单日期',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
          if (self.deposit_info.platform_id === 0) {
            self.$vux.toast.show({
              'text': '请选择充值方式',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
          if (self.deposit_info.amount === 0 || self.deposit_info.amount === '') {
            self.$vux.toast.show({
              'text': '请填写充值金额',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
        }
        if (self.needPlatformOrderId()) {
          if (self.deposit_info.platform_order_id === '') {
            self.$vux.toast.show({
              'text': '请填写渠道订单号',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
        }
        if (self.checkDescData()) {
          self.submitDepositData()
        }
      }
    },
    checkWithdrawalData () {
      const self = this
      if (self.checkContactInfo()) {
        if (self.withdrawal_info.order_list_select === 0) {
          if (self.question_info.date[0] === '' || self.question_info.date[1] === '' || self.question_info.date[2] === '') {
            self.$vux.toast.show({
              'text': '请填写订单日期',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
          if (self.withdrawal_info.amount === 0 || self.withdrawal_info.amount === '') {
            self.$vux.toast.show({
              'text': '请填写提现金额',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
          if (self.withdrawal_info.bank_id === 0) {
            self.$vux.toast.show({
              'text': '请选择提现银行',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
          if (self.withdrawal_info.card_no === '') {
            self.$vux.toast.show({
              'text': '请选择填写银行卡号',
              'type': 'warn',
              'width': '60%'
            })
            return false
          }
        }
        if (self.checkDescData()) {
          self.submitWithdrawalData()
        }
      }
    },
    checkOtherData () {
      const self = this
      if (self.checkContactInfo()) {
        if (self.question_info.date[0] === '' || self.question_info.date[1] === '' || self.question_info.date[2] === '') {
          self.$vux.toast.show({
            'text': '请选择问题时间',
            'type': 'warn',
            'width': '60%'
          })
          return false
        }
        if (self.checkDescData()) {
          self.submitOtherData()
        }
      }
    },
    checkDescData () {
      const self = this
      var msg = ''
      switch (this.question_info.options_select) {
        case 1:
          msg = '请填写支付凭证'
          break
        case 2:
          msg = '请填写提现凭证'
          break
        default:
          msg = '请填写问题描述'
          break
      }
      if (self.desc_info.desc === '') {
        self.$vux.toast.show({
          'text': msg,
          'type': 'warn',
          'width': '60%'
        })
        return false
      }
      return true
    },
    getImages () {
      const self = this
      var imgs = []
      for (var i = 0; i < self.upload_info.images.length; i++) {
        var img = self.upload_info.images[i]
        imgs.push({
          content: img.url
        })
      }
      return imgs
    },
    submitDepositData () {
      const self = this
      self.$models.Contact.add({
        wechat: self.contact_info.wechat.id,
        qq: self.contact_info.qq.id,
        type: self.question_info.options_select,
        dsc: {
          order_no: self.deposit_info.order_no,
          time: self.question_info.date[0] + ' ' + self.question_info.date[1] + ':' + self.question_info.date[2],
          platform_id: self.deposit_info.platform_id,
          amount: self.deposit_info.amount,
          platform_order_no: self.deposit_info.platform_order_id,
          description: self.desc_info.desc,
          card_no: self.deposit_info.card_no
        },
        imgs: JSON.stringify(self.getImages())
      }).then(function (response) {
        if (response.data.success === 1) {
          self.result_info.success = true
        } else {
          self.submitting = false
        }
      })
    },
    submitWithdrawalData () {
      const self = this
      self.$models.Contact.add({
        wechat: self.contact_info.wechat.id,
        qq: self.contact_info.qq.id,
        type: self.question_info.options_select,
        dsc: {
          order_no: self.withdrawal_info.order_no,
          time: self.question_info.date[0] + ' ' + self.question_info.date[1] + ':' + self.question_info.date[2],
          platform_id: self.withdrawal_info.bank_id,
          amount: self.withdrawal_info.amount,
          card_no: self.withdrawal_info.card_no,
          description: self.desc_info.desc
        },
        imgs: JSON.stringify(self.getImages())
      }).then(function (response) {
        if (response.data.success === 1) {
          self.result_info.success = true
        } else {
          self.submitting = false
        }
      })
    },
    submitOtherData () {
      const self = this
      self.$models.Contact.add({
        wechat: self.contact_info.wechat.id,
        qq: self.contact_info.qq.id,
        type: self.question_info.options_select,
        dsc: {
          time: self.question_info.date[0] + ' ' + self.question_info.date[1] + ':' + self.question_info.date[2],
          description: self.desc_info.desc
        },
        imgs: JSON.stringify(self.getImages())
      }).then(function (response) {
        if (response.data.success === 1) {
          self.result_info.success = true
        } else {
          self.submitting = false
        }
      })
    },
    resultClick () {
      this.result_info.success = false
    }
  }
}
</script>

<style lang="less">
@import '~vux/src/styles/weui/widget/weui-uploader/index.less';
</style>
