<template>
  <div class="card-add" style="height: 100%">
    <view-box body-padding-top="60px" body-padding-bottom="50px">
      <x-header slot="header" :left-options="{backText: ''}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <span slot="default">{{title}}</span>
      </x-header>
      <template slot="default">
        <box v-show="info.has_mobile" gap="10px 25px 25px">
          <step v-model="step" background-color='#fbf9fe'>
            <step-item title="银行信息"></step-item>
            <step-item title="验证密码"></step-item>
          </step>
        </box>
        <box v-show="!info.has_mobile" gap="10px 25px 25px">
          <step v-model="step" background-color='#fbf9fe'>
            <step-item title="银行信息"></step-item>
            <step-item title="验证手机"></step-item>
            <step-item title="验证密码"></step-item>
          </step>
        </box>
        <box gap="30px 0px 0px" v-show="step === 0">
          <group title="请绑定一张支持提现本人的卡">
            <x-input title="持卡人" v-model="formData.name" placeholder="请输入持卡人姓名" placeholder-align="right"
                     text-align="right" :disabled="named"></x-input>
          </group>
          <group-title v-show="!named" style="color: #FF0000;text-align: right;">以后必须是同姓名的卡才可以绑定</group-title>
          <group :gutter="card_gutter">
            <group-title slot="title" style="text-align: right;"><span class="font-red">{{card_warning}}</span></group-title>
            <x-input title="卡号" v-model="cardNum" :min="16" :max="19" placeholder="请输入16到19位卡号" placeholder-align="right" type="tel"
                     text-align="right"></x-input>
            <cell title="银行" is-link v-on:click.native="cardSelector.show = true" :value="selected_bank">
            </cell>
            <popup-picker ref="branch_picker" title="开户地" :data="branches" :columns="3" v-model="branch" show-name></popup-picker>
            <x-input title="开户网点" placeholder="请输入网点名称" placeholder-align="right" text-align="right" v-model="branc_name"></x-input>
          </group>
        </box>
        <group v-show="step === 1 && !info.has_mobile" title="验证银行预留手机号">
          <x-input title="手机号" :max="11" placeholder="请输入银行预留手机号" placeholder-align="left" text-align="left" v-model="formData.mobile" label-width="80px" @click.native="setFocus(0)"></x-input>
          <x-input title="验证码" v-model="formData.vcode" :max="4" label-width="80px" type="tel"  placeholder="请填写验证码">
            <x-button slot="right" v-bind:type="vcode_status.type"  @click.native="sendCode" v-bind:disabled="vcode_status.disabled" mini style="margin-left: 0px;padding-left: 10px;padding-right: 10px;background: none;background-color: #FFFFFF;border-radius: 20px;border: 1px solid #4dcc63;color: #4dcc63;"  type="primary">
              发送验证码 <countdown v-model="vcode_status.countdown_sec" :start="vcode_status.start" v-show="vcode_status.show" @on-finish="vcodeCountdownFinish">()</countdown>
            </x-button>
          </x-input>
        </group>
        <box v-show="step === 2 || (step === 1 && info.has_mobile)">
          <group-title style="text-align: center;">验证资金密码</group-title>
          <password ref="password" v-on:input-max="inpuVerificationMax" @click.native="setFocus(2)"></password>
        </box>
        <popup v-model="cardSelector.show" height="80%">
          <div>
            <x-header class="vux-popup-header" slot="header" title="" :left-options="{showBack: false}">
              <span>选择银行卡</span>
              <a slot="right" type="close" @click="cardSelector.show = false" style="font-size: 1.5em;">✕</a>
            </x-header>
            <group gutter="0">
              <radio :options="banks[0]" v-model="selected_bank" @on-change="cardSelector.show = false">
                <template slot-scope="props" slot="each-item">
                  <p>
                    <img :src="bank_index[props.label].icon" class="rmargin-5px" style="float: left" width="40">
                    <span style="vertical-align: middle;line-height: 40px;">{{ props.label }}</span>
                  </p>
                </template>
              </radio>
            </group>
          </div>
        </popup>
        <popup v-model="password_show" height="227px" @on-show="onShowPassword" :show-mask="false">
          <keyboard @input-keyboard="inputKeyboard" :show_return="true"></keyboard>
        </popup>
        <box gap="25px 15px" v-show="step === 0 || (step === 1 && !info.has_mobile)">
          <x-button type="primary" @click.native="nextStep" :disabled="next_disabled">{{buttonText}}</x-button>
        </box>
        <br/>
        <toast id="toast" v-model="toast_show" :is-show-mask="true" type="text" @on-hide="onHideToast" width="70%">
          <div slot="default">
            <x-icon type="ios-checkmark" style="fill: #3ab157;vertical-align: middle;" size="30"></x-icon>
            <span style="vertical-align: bottom;"></span>
            {{toast_msg}}
          </div>
        </toast>
      </template>
    </view-box>
    <p class="copy-right">© BestPay</p>
  </div>
</template>
<script>
  import CryptoJS from 'crypto-js'
  import AddressList from './address.json'
  export default{
    data () {
      return {
        named: true,
        title: '添加银行卡',
        card_gutter: '37px',
        card_warning: '',
        info: {
          has_mobile: false
        },
        step: 0,
        step_label: 5,
        selected_bank: '',
        formData: {
          name: '',
          cardNum: '',
          bank: '',
          mobile: '',
          vcode: '',
          fund_pin: ''
        },
        cardSelector: {
          show: false
        },
        cardNum: '',
        showAlert: false,
        buttonText: '下一步',
        vcode_status: {
          send: false,
          disabled: false,
          type: 'primary',
          start: false,
          show: false,
          countdown_sec: 15,
          btn_label: '发送验证码'
        },
        vcode_focus: false,
        fund_pin_focus: false,
        password_show: false,
        next_disabled: true,
        banks: [[
          '中国工商银行',
          '招商银行',
          '中国建设银行',
          '中国农业银行',
          '中国银行',
          '交通银行',
          '中国民生银行',
          '中信银行',
          '上海浦东发展银行',
          '中国邮政储蓄银行',
          '中国光大银行',
          '平安银行',
          '广东发展银行',
          '华夏银行',
          '兴业银行'
        ]],
        bank_index: {
          '中国工商银行': {
            'id': 1,
            'icon': '../../static/images/banks/ICBC.png'
          },
          '招商银行': {
            'id': 2,
            'icon': '../../static/images/banks/CMB.png'
          },
          '中国建设银行': {
            'id': 3,
            'icon': '../../static/images/banks/CCB.png'
          },
          '中国农业银行': {
            'id': 4,
            'icon': '../../static/images/banks/ABC.png'
          },
          '中国银行': {
            'id': 5,
            'icon': '../../static/images/banks/BOC.png'
          },
          '交通银行': {
            'id': 6,
            'icon': '../../static/images/banks/COMM.png'
          },
          '中国民生银行': {
            'id': 7,
            'icon': '../../static/images/banks/CMBC.png'
          },
          '中信银行': {
            'id': 8,
            'icon': '../../static/images/banks/CITIC.png'
          },
          '上海浦东发展银行': {
            'id': 9,
            'icon': '../../static/images/banks/SPDB.png'
          },
          '中国邮政储蓄银行': {
            'id': 10,
            'icon': '../../static/images/banks/PSBC.png'
          },
          '中国光大银行': {
            'id': 11,
            'icon': '../../static/images/banks/CEBB.png'
          },
          '平安银行': {
            'id': 12,
            'icon': '../../static/images/banks/PAB.png'
          },
          '广东发展银行': {
            'id': 13,
            'icon': '../../static/images/banks/GDB.png'
          },
          '华夏银行': {
            'id': 14,
            'icon': '../../static/images/banks/HXBANK.png'
          },
          '兴业银行': {
            'id': 15,
            'icon': '../../static/images/banks/CIB.png'
          }
        },
        branches: AddressList,
        branch: ['1', '35'],
        branc_name: '',
        toast_show: false,
        toast_msg: ''
      }
    },
    watch: {
      cardNum: function (newVal, oldVal) {
        var self = this
        if (newVal === oldVal) {
          return
        }
        self.selected_bank = ''
        if (newVal.length >= 16) {
          let timer = setInterval(function () {
            clearInterval(timer)
            self.getBankInfo(newVal)
          }, 1000)
        }
      }
    },
    mounted () {
      this.loadUser()
    },
    methods: {
      loadUser () {
        var self = this
        self.$models.User.info().then(function (response) {
          if (response.data.success !== 1) {
            self.$router.push('/not-login')
          }
          self.loaded = true
          self.info = response.data.data
          self.checkFundPin()
        })
      },
      checkFundPin () {
        var self = this
        if (!self.info.has_fund_pin) {
          self.$vux.alert.show({
            title: '您还没有资金密码',
            content: '点击确定前往设置',
            onHide () {
              self.$router.replace({
                path: '/funds/reset',
                query: {
                  from_url: self.$route.path
                }
              })
            }
          })
        } else {
          this.loadUserName()
        }
      },
      nextStep () {
        if (this.step === 0) {
          return this.step0()
        }
        if (this.step === 1) {
          if (this.info.has_mobile) {
            return this.step2()
          } else {
            return this.step1()
          }
        }
        if (this.step === 2) {
          return this.step2()
        }
      },
      addStep () {
        const self = this
        self.step = ++self.step % 3
        if ((self.step === 1 && self.info.has_mobile) || self.step === 2) {
          self.setFocus(2)
          self.buttonText = '提交'
          self.fund_pin_focus = true
        }
      },
      getBankInfo (cardNo) {
        const self = this
        this.$models.Card.bank({card_no: cardNo}).then(function (response) {
          if (response.data.success) {
            self.selected_bank = response.data.data.bank
            self.next_disabled = false
            self.card_warning = ''
            self.card_gutter = '37px'
          } else {
            self.selected_bank = ''
            self.next_disabled = true
            self.card_warning = response.data.message
            self.card_gutter = '0px'
          }
        })
      },
      getBankIcon (bank) {
        return ''
      },
      changeBank () {
        this.cardNum = ''
        this.formData.cardNum = ''
      },
      loadUserName () {
        const self = this
        this.$models.User.name().then(function (response) {
          if (response.data.success) {
            self.formData.name = response.data.data.name
            if (response.data.data.name === '') {
              self.named = false
            } else {
              self.named = true
            }
          }
        })
      },
      setFocus (value) {
        const self = this
        self.vcode_focus = false
        self.fund_pin_focus = false
        switch (value) {
          case 1:
            self.vcode_focus = true
            self.password_show = true
            break
          case 2:
            self.fund_pin_focus = true
            self.password_show = true
            break
          default:
            self.password_show = false
            break
        }
      },
      sendCode () {
        const self = this
        if (self.formData.mobile === '') {
          self.$vux.toast.show({
            type: 'warn',
            text: '请填写手机号',
            width: '70%'
          })
          return false
        }
        if (!(/^1[34578]\d{9}$/.test(this.formData.mobile))) {
          self.$vux.toast.show({
            type: 'warn',
            text: '请检查手机号',
            width: '70%'
          })
          return false
        }
        this.$models.User.mobileCode({mobile: self.formData.mobile}).then(function (response) {
          if (response.data.success !== 1) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '70%'
            })
            return false
          } else {
            self.vcode_status.send = true
            self.vcode_status.disabled = true
            self.vcode_status.type = 'default'
            self.vcode_status.start = true
            self.vcode_status.show = true
            self.vcode_status.countdown_sec = 15
            self.$vux.toast.show({
              type: 'success',
              text: '验证码已发送，请留意手机短信',
              width: '80%'
            })
          }
        })
      },
      vcodeCountdownFinish () {
        const self = this
        self.vcode_status.type = 'primary'
        self.vcode_status.start = false
        self.vcode_status.show = false
        self.vcode_status.disabled = false
      },
      inputMax () {
        const self = this
        self.formData.vcode = self.$refs.vcode_input.password_value
      },
      inpuVerificationMax (value) {
        const self = this
        self.formData.fund_pin = this.$refs.password.password_value
        self.nextStep()
      },
      inputKeyboard (value) {
        const self = this
        if (value === -2) {
          self.password_show = false
          return
        }
        if (self.vcode_focus) {
          self.$refs.vcode_input.inputKey(value)
          self.formData.vcode = self.$refs.vcode_input.password_value
        } else if (self.fund_pin_focus) {
          self.$refs.password.inputKey(value)
        }
      },
      step0 () {
        const self = this
        if (this.formData.name === '') {
          this.$vux.toast.show({
            type: 'warn',
            text: '请填写姓名',
            width: '70%'
          })
          return false
        }
        if (this.cardNum === '') {
          this.$vux.toast.show({
            type: 'warn',
            text: '请填写卡号',
            width: '70%'
          })
          return false
        }
        if (this.selected_bank === '' || this.cardNum.length < 16) {
          this.$vux.toast.show({
            type: 'warn',
            text: '请检查卡号',
            width: '70%'
          })
          return false
        }
        this.$models.Card.check({'card_no': this.cardNum}).then(function (response) {
          if (response.data.success !== 1) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '70%'
            })
            return false
          }
          self.addStep()
          self.formData.cardNum = self.cardNum
        })
        return true
      },
      step1 () {
        if (this.formData.mobile === '') {
          this.$vux.toast.show({
            type: 'warn',
            text: '请填写手机号',
            width: '70%'
          })
          return false
        }
        if (!this.vcode_status.send) {
          this.$vux.toast.show({
            type: 'warn',
            text: '请先获取验证码',
            width: '70%'
          })
          return false
        } else {
          if (this.formData.vcode.length < 4) {
            this.$vux.toast.show({
              type: 'warn',
              text: '请填写4位数字验证码',
              width: '70%'
            })
            return false
          }
        }
        if (!(/^1[34578]\d{9}$/.test(this.formData.mobile))) {
          this.$vux.toast.show({
            type: 'warn',
            text: '请检查手机号',
            width: '70%'
          })
          return false
        }

        this.addStep()
        return true
      },
      step2 () {
        const self = this
        // 检查资金资金密码
        if (self.formData.fund_pin === '') {
          self.$vux.toast.show({
            type: 'warn',
            text: '请填写资金密码'
          })
          return
        }
        self.formData.bank = self.bank_index[self.selected_bank].id
        self.formData.province = self.$refs.branch_picker.getNameValues().split(' ')[0]
        self.formData.city = self.$refs.branch_picker.getNameValues().split(' ')[1]
        self.formData.branc_name = self.branc_name

        const formData = self.formData
        formData.fund_pin = CryptoJS.AES.encrypt(self.formData.fund_pin, this.aesPassphrase).toString()
        self.$models.Card.add(formData).then(function (response) {
          if (response.data.success !== 1) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '70%'
            })
            return
          }
          self.toast_show = true
          self.toast_msg = '新增银行卡成功'
        })
      },
      onHideToast () {
        const self = this
        if (self.$router.currentRoute.query.from_url) {
          self.$router.replace({
            path: self.$router.currentRoute.query.from_url,
            has_fund_pin: true
          })
        } else {
          self.$router.replace({
            path: '/card/list'
          })
        }
      },
      onShowPassword () {
        this.$refs.password.clear()
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      }
    }
  }
</script>
<style lang="less">
  #toast .weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  #toast .weui-toast.weui-toast_forbidden {
    color: #000000;
  }

  #toast .weui-toast {
    position: fixed;
    z-index: 5001;
    width: 7.6em;
    top: 250px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 5px;
    color: #000000;
  }

  .vux-popup-header {
    position: relative;
    padding: 3px 0;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .vux-popup-header .vux-header-title span{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }
</style>
