<template>
  <div class="card-list" style="height:100%;">
    <view-box body-padding-top="50px" body-padding-bottom="0">
      <x-header slot="header" :left-options="{backText: ''}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        {{title}}
        <router-link slot="right" :to="{path:'/card/add'}">
          <x-icon type="plus" style="fill: #fff"></x-icon>
        </router-link>
      </x-header>
      <template v-if="list_load && cards.length == 0">
        <box gap="100px 20px">
           <flexbox orient="vertical">
            <flexbox-item align="center"><img style="width: 20%;" src="../../../static/images/ui/cards/no_result.png"/></flexbox-item>
            <flexbox-item align="center"><span style="color: #b3b3b3;font-size: 14px;">{{no_data}}</span></flexbox-item>
           </flexbox>
         </box>
      </template>
      <template v-else slot="default">
        <box gap="15px 0px">
          <div v-for="card in cards" :key="card.card_id" style="width: 100%;overflow-x: hidden;">
            <div style="position: relative;left: 18%;width: 100%;height: 100%;top: 5rem;">
              <p style="color: #FFFFFF;font-size: 1.2rem;position: absolute;top: -60px;">{{card.bank.bank_name}}</p>
              <label style="color: #FFFFFF;font-size: 1.5rem;position: absolute;top: -30px;">{{card.card_no}}</label>
              <x-icon type="trash-a" style="fill: #FFFFFF;position: absolute;top: -35px;right: 25%;" @click.native="del(card)"></x-icon>
            </div>
            <div style="text-align: center;">
              <img :src="getBankIcon(card.bank.bank_name)" style="width:92%;"/>
            </div>
          </div>
        </box>
        <popup v-model="password_show" height="80%" @on-show="onShowPassword" style="background: #FFFFFF;">
          <div>
            <x-header class="vux-popup-header" slot="header" title="输入资金密码" :left-options="{showBack: false}" style="width:100%;position:absolute;left:0;top:0;z-index:100;border-bottom: 1px solid #D9D9D9;">
              <span>输入资金密码</span>
              <a slot="right" type="close" @click="password_show = false" style="font-size: 1.5em;">✕</a>
            </x-header>
            <box gap="70px 0px">
              <password id="password" ref="password" v-on:input-max="inputMax"></password>
              <tabbar>
                <keyboard @input-keyboard="inputKeyboard"></keyboard>
              </tabbar>
            </box>
          </div>
        </popup>
        <popup v-model="del_show">
          <div>
            <div style="height: 48px;width: 100%;">
              <button style="background: none;border: none;background-color: #FFFFFF;border-radius: 0px;width: 100%;height: 100%;border-bottom: 1px solid #D9D9D9;font-size: 16px;" class="font-grey">{{del_desc}}</button>
            </div>
            <div style="height: 48px;width: 100%;">
              <button style="background: none;border: none;background-color: #FFFFFF;border-radius: 0px;width: 100%;height: 100%;border-bottom: 1px solid #D9D9D9;" @click="delConfirm"><span class="font-red" style="font-size: 16px;">确定删除</span></button>
            </div>
            <div style="height: 48px;width: 100%;padding-top: 5px;">
              <button style="background: none;border: none;background-color: #FFFFFF;border-radius: 0px;width: 100%;height: 100%;border-bottom: 1px solid #D9D9D9;font-size: 16px;" @click="del_show = false" >取消</button>
            </div>
          </div>
        </popup>
      </template>
    </view-box>
    <p class="copy-right">© BestPay</p>
  </div>
</template>
<script>
  import CryptoJS from 'crypto-js'
  import { Masker } from 'vux'
  export default{
    components: {
      Masker
    },
    data () {
      return {
        title: '银行卡',
        confirm: {
          show: false
        },
        has_fund_pin: null,
        mobile: null,
        cards: [],
        current_card: null,
        submitting: false,
        password_show: false,
        list_load: false,
        del_show: false,
        del_desc: '',
        no_data: '您还没有添加银行卡哦',
        fund_pin: '',
        banks: {
          'ICBC': '中国工商银行',
          'CMB': '招商银行',
          'CCB': '中国建设银行',
          'ABC': '中国农业银行',
          'BOC': '中国银行',
          'COMM': '交通银行',
          'CMBC': '中国民生银行',
          'CITIC': '中信银行',
          'SPDB': '上海浦东发展银行',
          'PSBC': '中国邮政储蓄银行',
          'CEB': '中国光大银行',
          'SPABANK': '平安银行',
          'GDB': '广东发展银行',
          'HXBANK': '华夏银行',
          'CIB': '兴业银行'
        }
      }
    },
    created () {
      var self = this
      self.has_fund_pin = this.$route.query.has_fund_pin
      self.mobile = this.$route.query.mobile
    },
    mounted () {
      this.loadUserCards()
    },
    methods: {
      gotoBindCard () {
        const self = this
        self.$vux.alert.show({
          title: '您还没有绑定过银行卡',
          content: '点击确定绑定银行卡',
          onHide () {
            self.$router.replace({
              path: '/card/add',
              query: {
                from_url: self.$route.path
              }
            })
          }
        })
      },
      gotoSetFundPin () {
        var self = this
        self.$vux.alert.show({
          title: '您还没有资金密码',
          content: '点击确定前往设置',
          onHide () {
            self.$router.replace({
              path: '/funds/reset',
              query: {
                from_url: '/card/add',
                has_fund_pin: self.has_fund_pin,
                mobile: self.mobile
              }
            })
          }
        })
      },
      del (card) {
        var self = this
        if (self.cards.length === 1) {
          self.$vux.toast.show({
            type: 'warn',
            text: '对不起，你就剩一张银行卡了，不能删除',
            width: '90%'
          })
        } else {
          self.del_show = true
          var temp = card.card_no
          var cardNo = temp.replace(new RegExp(/[* ]/g), '')
          self.del_desc = '确定删除卡号为' + cardNo + '的银行卡吗？'
          self.current_card = card
        }
      },
      delConfirm () {
        var self = this
        self.del_show = false
        self.password_show = true
      },
      onShowPassword () {
        this.$refs.password.clear()
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      },
      inputMax () {
        const self = this
        self.fund_pin = self.$refs.password.password_value
        self.password_show = false
        if (!self.submitting) {
          self.submitting = true
          self.submitDel(self.current_card)
        }
      },
      inputKeyboard (value) {
        const self = this
        self.$refs.password.inputKey(value)
      },
      loadUserCards () {
        var self = this
        self.$models.Card.list().then(function (response) {
          if (response.data.success) {
            self.cards = response.data.data.cards
            if (self.cards.length === 0) {
              if (self.has_fund_pin) {
                self.gotoBindCard()
              } else {
                self.gotoSetFundPin()
              }
            }
            self.list_load = true
          }
        })
      },
      getBankIcon (bank) {
        for (let a in this.banks) {
          if (bank === this.banks[a]) {
            return '../../../static/images/ui/cards/' + a + '.png'
          }
        }
      },
      submitDel (card) {
        var self = this
        self.$vux.loading.show({
          text: 'Loading'
        })
        self.$models.Card.delete({
          card_id: card.card_id,
          fund_pin: CryptoJS.AES.encrypt(self.fund_pin, this.aesPassphrase).toString()
        }).then(function (response) {
          self.submitting = false
          self.$vux.loading.hide()
          if (response.data.success !== 1) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '90%',
              onHide () {
                self.password_show = true
              }
            })
            return
          }
          self.loadUserCards()
        })
      }
    }
  }
</script>
<style lang="less" scoped>
.vux-popup-header {
    position: relative;
    padding: 3px 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.vux-popup-header .vux-header-title span{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}
</style>
