body {
    line-height: 1.6;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}

.weui-loadmore_line{
    border-top:1px solid @weuiLineColorLight;
    margin-top:2.4em;
    .weui-loadmore__tips{
        position: relative;
        top:-.9em;
        padding:0 .55em;
        background-color: #fbf9fe;
        color:@weuiTextColorGray;
    }
}

.weui-btn{
    background: -webkit-linear-gradient(left, #22a639 , #4bcd63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #22a639, #4bcd63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #22a639, #4bcd63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #22a639 , #4bcd63); /* 标准的语法 */
    border-radius: 20px;
}

.weui-btn_disabled {
    opacity: 0.3;
}

::-webkit-input-placeholder { /* WebKit browsers */
color:#cccccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:#cccccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:#cccccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color:#cccccc;
}