<?php View::display('header'); ?>

    <body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.loadState('main-container')
            } catch (e) {
            }
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb') ?>

                <div class="page-content">
                    <?php View::display('settings'); ?>
                    <?php View::display('page-header'); ?>
                    
                    <form class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">姓名</label>
                            <div class="col-sm-3">
                                <input name="name" type="text" placeholder="用户名" class="input-xlarge">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">新密码</label>
                            <div class="col-sm-3">
                                <input name="newPsw" type="password" placeholder="" class="input-xlarge">
                            </div>
                        </div>

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Submit
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>


                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts') ?>