<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings'); ?>

                    <?php View::display('page-header'); ?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]); ?>

                    <a href="/manage/admin/add" type="button" class="btn btn-default navbar-right">添加管理员</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="detail-col">#</th>
                                            <th>名字</th>
                                            <th>最后登录时间</th>
                                            <th>创建时间</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach($list as $info):?>
                                            <tr>
                                                <td class="center">
                                                    <div class="action-buttons">
                                                        <?= $info->admin_id; ?>
                                                    </div>
                                                </td>

                                                <td class="center">
                                                    <div class="action-buttons">
                                                        <?= $info->name; ?>
                                                    </div>
                                                </td>

                                                <td><?= $info->signin_at; ?></td>

                                                <td><?= $info->created_at->format('Y-m-d H:i:s'); ?></td>

                                                <td><?php echo empty($info->deleted_at) ? "使用中" : "已删除" ; ?></td>

                                                <td>
                                                    <div class="hidden-sm hidden-xs action-buttons">

                                                        <a class="btn btn-sm btn-info" href="/manage/admin/log?admin_id=<?= $info->admin_id?>">操作日志</a>

                                                        <a class="btn btn-sm btn-info" href="/manage/admin/changePsw?id=<?= $info->admin_id?>">修改密码</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>