<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings'); ?>

                    <?php View::display('page-header'); ?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]); ?>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>名字</th>
                                            <!-- <th class="col-xs-3">请求地址</th> -->
                                            <th>控制器</th>
                                            <th>行为</th>
                                            <th class="col-xs-3">请求数据</th>
                                            <th>IP</th>
                                            <th>请求时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach($list as $info):?>
                                            <tr>
                                                <td><?= $info->admin_id; ?></td>
                                                <td><?= $info->admin->name; ?></td>
                                                <!-- <td> <?= $info->request_uri; ?> </td> -->
                                                <td> <?= $info->controller; ?> </td>
                                                <td> <?= $info->action; ?> </td>
                                                <td> <?= $info->request_data; ?> </td>
                                                <td> <?= $info->ip; ?> </td>
                                                <td> <?= $info->created_at->format('Y-m-d H:i:s'); ?> </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <?php View::display('paginate', ['info' => $list]); ?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>