<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>
                <?php View::display('page-header');?>

                <form id="validation-form" class="form-horizontal" role="form" method="post">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">渠道标识符</label>
                        <div class="col-sm-3">
                            <input name="identifier" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">渠道名称</label>
                        <div class="col-sm-3">
                            <input name="name" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">web</label>
                        <div class="col-sm-6">
                            <input name="web" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">IP</label>
                        <div class="col-sm-3">
                            <input name="ip" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">帐号</label>
                        <div class="col-sm-3">
                            <input name="platform_account" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">key</label>
                        <div class="col-sm-3">
                            <input name="platform_key" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">请求地址</label>
                        <div class="col-sm-6">
                            <input name="request_url" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否支持主动查询</label>
                        <div class="col-sm-3">
                            <select name="query_enabled" class="input-xlarge">
                                <option <?php echo $platform->need_bank == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->need_bank == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">查询地址</label>
                        <div class="col-sm-6">
                            <input name="query_url" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">查询次数</label>
                        <div class="col-sm-3">
                            <input name="query_time" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">接口地址</label>
                        <div class="col-sm-6">
                            <input name="load_url" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">最大提现金额</label>
                        <div class="col-sm-3">
                            <input name="max_amount" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">最小充值金额</label>
                        <div class="col-sm-3">
                            <input name="min_amount" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否使用</label>
                        <div class="col-sm-3">
                            <select name="in_use" class="input-xlarge">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">状态</label>
                        <div class="col-sm-3">
                            <input name="status" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">余额</label>
                        <div class="col-sm-3">
                            <input name="balance" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">权重</label>
                        <div class="col-sm-3">
                            <input name="limit" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div>

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    $('#validation-form').validate({
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        ignore: "",
        rules: {
            identifier:{
                required: true,
            },
        },

        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
            $(e).remove();
        },

        errorPlacement: function (error, element) {
            if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
        },

        submitHandler: function (form) {
            form.submit();
        },
        invalidHandler: function (form) {
        }
    });
</script>