<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>
                    
                    <a href="/manage/wtdplatform/export" target="_blank" type="button" class="btn btn-default navbar-right">导出(Export Recorde)</a>
                    <a href="/manage/wtdplatform/add" type="button" class="btn btn-default navbar-right">添加充值渠道</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="detail-col">#</th>
                                            <th>渠道编号</th>
                                            <th>渠道名称</th>
                                            <th>是否支持查询</th>
                                            <th>查询地址</th>
                                            <th>查询次数</th>
                                            <th>最大金额</th>
                                            <th>最小金额</th>
                                            <th>是否在使用</th>
                                            <th>状态</th>
                                            <th>余额</th>
                                            <th>排序</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td><?=$info->platform_id;?></td>
                                                <td><?=$info->identifier;?></td>
                                                <td><?=$info->name;?></td>
                                                <td><?=$info->query_enabled;?></td>
                                                <td><?=$info->query_url;?></td>
                                                <td><?=$info->query_time;?></td>
                                                <td><?=$info->max_amount;?></td>
                                                <td><?=$info->min_amount;?></td>
                                                <td><?=$info->in_use ? "是" : "否";?></td>
                                                <td><?=$info->status;?></td>
                                                <td><?=$info->balance;?></td>
                                                <td><?=$info->limit;?></td>
                                                <td><?=$info->created_at;?></td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs btn-group">

                                                        <a href="/manage/wtdplatform/edit?id=<?=$info->platform_id;?>" class="btn btn-xs btn-info">修改</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>

                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    function setInUse(obj) {
        var url = $(obj).attr('data-url');
        $.post(url,'',function(res){
            if ( res.success == 1) {

            }else{

            }
            location.reload();
        });
    }
</script>