<?php View::display('header'); ?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]); ?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb') ?>

            <div class="page-content">
                <?php View::display('settings'); ?>
                <?php View::display('page-header'); ?>
                
                <form id="validation-form" class="form-horizontal" role="form" method="post">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">APP用户ID</label>
                        <div class="col-sm-3">
                            <input name="user_id" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">渠道</label>
                        <div class="col-sm-3">
                            <select name="platform_id" class="input-xlarge">
                                <?php foreach($platformList as  $platform): ?>
                                <option value="<?= $platform->platform_id; ?>"> <?= $platform->display_name; ?> </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">平台</label>
                        <div class="col-sm-3">
                            <select name="terminal_type" class="input-xlarge">
                                <!-- <option value="1">MOBILE</option> -->
                                <option value="2">PC</option>
                                <option value="3">IOS</option>
                                <option value="4">ANDROID</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否展示</label>
                        <div class="col-sm-3">
                            <select name="is_show" class="input-xlarge">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <?php View::display('footer'); ?>

    <?php View::display('scroll-up'); ?>
</div>

<?php View::display('foot-scripts') ?>

<script type="text/javascript">
    $('#validation-form').validate({
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        ignore: "",
        rules: {
            user_id: {
                required: true,
            },
            platform_id: {
                required: true,
            },
            terminal_type: {
                required: true,
            },
            is_show: {
                required: true,
            },
        },

        messages: {
            user_id: {
                required: "必填",
            },
            platform_id: {
                required: "必填",
            },
            is_show: {
                required: "必填",
            },
            terminal_type: {
                required: "必填",
            },
        },

        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
            $(e).remove();
        },

        errorPlacement: function (error, element) {
            if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
        },

        submitHandler: function (form) {
            form.submit();
        },
        invalidHandler: function (form) {
        }
    });
</script>