<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <a href="/manage/userplatform/add" type="button" class="btn btn-default navbar-right">添加</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="detail-col">#</th>
                                            <th>用户名称</th>
                                            <th>渠道名称</th>
                                            <th>终端</th>
                                            <th>是否展示</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td><?=$info->user_platform_id;?></td>
                                                <td><?=$info->user->name;?></td>
                                                <td><?=$info->platform->display_name;?></td>
                                                <td><?=$info->terminal_type_arr[$info->terminal_type];?></td>
                                                <td><?=$info->is_show ? "是" : "否";?></td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs btn-group">
                                                        <a href="/manage/userplatform/edit?id=<?=$info->user_platform_id;?>" class="btn btn-xs btn-info">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>
                                                    </div>

                                                    <button onclick="del(this)" data-url="/manage/userplatform/del?id=<?=$info->user_platform_id;?>" class="btn btn-xs btn-danger">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>

                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>