<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <a href="/manage/functionalities/add" type="button" class="btn btn-default navbar-right">添加功能</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>模块</th>
                                            <th>控制器</th>
                                            <th>行为</th>
                                            <th>名称</th>
                                            <th>父级ID</th>
                                            <th>父级名称</th>
                                            <th>是否为菜单</th>
                                            <th>是否为按钮</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td> <?=$info->function_id;?> </td>
                                                <td> <?=$info->module;?> </td>
                                                <td> <?=$info->controller;?> </td>
                                                <td> <?=$info->action;?> </td>
                                                <td> <?=$info->display_name;?> </td>
                                                <td> <?=$info->parent_func_id;?> </td>
                                                <td> <?= empty($info->parent->display_name) ? '' : $info->parent->display_name;?> </td>
                                                <td> <?=$info->is_menu == 1 ? "是" : "否";?> </td>
                                                <td> <?=$info->is_button == 1 ? "是" : "否";?> </td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs btn-group">
                                                        <a href="/manage/functionalities/edit?id=<?=$info->function_id;?>" class="btn btn-xs btn-info">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>
                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>