<template>
  <div class="messages-detail" style="height: 100%;">
    <view-box body-padding-top="50px" body-padding-bottom="0">
      <x-header slot="header" title="充值提醒" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <template v-if="list_load && gold == 0">
        <box gap="100px 20px">
           <flexbox orient="vertical">
            <flexbox-item align="center"><img style="width: 20%;" src="../../../static/images/ui/deposit/no_result.png"/></flexbox-item>
            <flexbox-item align="center"><span style="color: #b3b3b3;font-size: 14px;">你还没有消息记录哦～</span></flexbox-item>
           </flexbox>
         </box>
      </template>
      <template v-else-if="list_load && gold > 0" slot="default">
        <group>
          <cell title="状态">部分玩家未结算</cell>
        </group>
        <group title="出现未结算牌局，俱乐部将无法创建新牌局" titleColor="#ff5e54">
          <cell :border-intent="false" title="俱乐部">{{club_name}}</cell>
          <cell-box>
            <div style="width: 100%;height: 80px;text-align: center;padding-top: 20px;">
              <div style="width: 49%;float: left;"><div class="font-grey" style="font-size: 14px;">俱乐部余额</div><div style="font-size: 1.5em">{{remain}}</div></div>
              <hr style="width: 1px;height: 50px;float: left;border: none;background-color: #9a9a9a;margin-top: 10px;"></hr>
              <div style="width: 49%;float: right;"><div class="font-grey" style="font-size: 14px;">需要充值积分</div><div style="font-size: 1.5em" class="font-red">{{gold}}</div></div>
            </div>
          </cell-box>
        </group>
        <group title="未结算用户与积分">
          <x-table :cell-bordered="false" style="background-color:#fff;">
            <thead>
              <tr class="font-grey">
                <th>用户昵称</th>
                <th>用户ID</th>
                <th>积分</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in detail_list">
                <td>{{user.nick}}</td>
                <td>{{user.uid}}</td>
                <td>{{user.gold}}</td>
              </tr>
            </tbody>
          </x-table>
        </group>
      </template>
    </view-box>
    <p class="copy-right">© BestPay</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      list: [],
      info: {
        gold: 0.00
      },
      club_name: '',
      remain: 0,
      gold: 0,
      detail_list: [],
      desc: '出现未结算牌局，俱乐部将无法创建牌局',
      list_load: false,
      no_data: '您当前没有消息'
    }
  },
  mounted () {
    const self = this
    self.$models.Messages.list().then(function (response) {
      if (response.data.success) {
        self.list_load = true
        if (response.data.data.lists) {
          self.club_name = response.data.data.lists.club.display_name
          self.remain = response.data.data.lists.remain
          self.gold = response.data.data.lists.gold
          self.detail_list = response.data.data.lists.detail
        }
      }
    })
  }
}
</script>

<style>
</style>
