<template>
  <div class="messages-list" style="height: 100%">
    <view-box body-padding-top="50px">
      <x-header slot="header" title="消息" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right" :to="{path: '/messages/search'}" replace>筛选</router-link>
      </x-header>
      <template v-if="list_load && lists.length == 0">
        <box gap="100px 20px">
           <flexbox orient="vertical">
            <flexbox-item align="center"><img style="width: 20%;" src="../../../static/images/ui/message/no_result.png"/></flexbox-item>
            <flexbox-item align="center"><span style="color: #b3b3b3;font-size: 14px;">{{no_data}}</span></flexbox-item>
           </flexbox>
         </box>
      </template>
      <template v-else slot="default" v-for="(list, index) in lists">
        <group :title="getDate(index)" gutter="0">
          <cell title="充值提醒" :inline-desc="list.desk.display_name" :link="{path: '/messages/detail', query: { info: lists[index] }}" is-link>
            <span slot="default" style="font-size: 14px;pointer-events: none;">
              <br/>
              {{list.optime}}&nbsp;&nbsp;
            </span>
          </cell>
        </group>
      </template>
    </view-box>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        lists: [],
        list_load: false,
        no_data: '您当前没有消息哦～'
      }
    },
    mounted () {
      const self = this
      this.$models.Messages.list(this.$route.query).then(function (response) {
        if (response.data.success) {
          self.list_load = true
          self.lists = response.data.data.lists
          self.lists.reverse()
        }
      })
    },
    methods: {
      getDate (index) {
        if (index === 0) {
          return this.lists[0].optime.split(' ')[0]
        }
        let date = this.lists[index].optime.split(' ')[0]
        let beforeDate = this.lists[index - 1].optime.split(' ')[0]
        if (date === beforeDate) {
          return ''
        }
        return date
      }
    }
  }
</script>
