<template>
  <div class="message-search">
    <view-box body-padding-top="50px">
      <x-header slot="header" title="筛选" :left-options="{backText: ''}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right"
                     :to="{path: '/messages/list', query: {start: this.start, end: this.end}}" replace>
          完成
        </router-link>
      </x-header>
      <group slot="default" gutter="0">
        <!--<checker v-model="type" type="checkbox" default-item-class="trans-type-item"
                 selected-item-class="trans-type-item-selected" style="padding-left:5px;">
          <checker-item :value="1">充值成功</checker-item>
          <checker-item :value="2">资金成功</checker-item>
          <checker-item :value="3">带入成功</checker-item>
          <checker-item :value="4">结算成功</checker-item>
          <checker-item :value="5">牌局奖励</checker-item>
          <checker-item :value="6">提现退回</checker-item>
          <checker-item :value="7">系统添加</checker-item>
          <checker-item :value="8">系统扣除</checker-item>
          <checker-item :value="0" @on-item-click="selectAll">全部</checker-item>
        </checker>-->
        <datetime title="开始时间" v-model="start" @on-change="onStartChange"></datetime>
        <datetime title="结束 时间" v-model="end" :start-date="start"></datetime>
      </group>
    </view-box>
  </div>
</template>
<script>
  export default{
    data () {
      return {
        transactionTypes: [
          '充值成功',
          '提现成功'
        ],
        type: [],
        start: '',
        end: ''
      }
    },
    mounted () {
    },
    methods: {
      selectAll () {
        this.type = [0, 1, 2, 3, 4, 5, 6, 7, 8]
      },
      onStartChange () {
        if (this.start > this.end) {
          this.end = this.start
        }
      }
    }
  }
</script>
<style scoped>
  .trans-type-item {
    width: 32%;
    margin: 10px 0;
    padding: 10px 0;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;

  }

  .trans-type-item-selected {
    background-color: #ccc;
  }
</style>
