<template>
  <div class="deposit-add">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>充值积分</h2>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-form class="title"  label-position="left" label-width="120px">
                <el-form-item label="充值会员ID">
                  <span>{{info.nickname}}</span>
                </el-form-item>
                <el-form-item label="选择付款方式">
                  <el-select v-model="platform_name" placeholder="请选择" style="width: 300px;"  @change="changePlatform">
                    <el-option
                      v-for="item in platforms"
                      :key="item.key"
                      :label="item.value"
                      :value="item.key">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item v-if="showBankSelect" label="银行">
                  <el-select v-model="bank_name" placeholder="请选择" style="width: 300px;" @change="changeBank">
                    <el-option
                      v-for="item in banks"
                      :key="item.key"
                      :label="item.value"
                      :value="item">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item :label="input_amount * 1 + ' 积分'">
                  <el-input placeholder="输入自定义金额" label-width="30px" v-model="input_amount" type="tel" :maxlength="input_amount_max"></el-input>
                </el-form-item>
                <el-form-item label="积分">
                  <el-radio-group v-model="amount">
                    <template v-for="item in amountList">
                      <el-radio :label="item"></el-radio>
                    </template>
                  </el-radio-group>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="check" :disabled="pay_click">立即支付 ¥{{Math.max(amount, input_amount)}}</el-button>
                </el-form-item>
              </el-form>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        title: '充值',
        showPlatform: false,
        platforms: [],
        platform: {
          value: '',
          icon: ''
        },
        platforms_hash: [],
        platform_name: '',
        platform_key: null,
        platform_show: {
          desc: ''
        },
        amountList: [
        ],
        defaultAmountList: [
          100,
          200,
          500,
          1000
        ],
        wechatAmountList: [
          108,
          218,
          588,
          1098
        ],
        amount: 0,
        amount_index: -1,
        input_amount: '',
        input_amount_max: 7,
        confirm: {
          show: false
        },
        showBankSelect: false,
        banks: [],
        need_bank: null,
        bank_id: null,
        bank_name: '',
        showPayPage: false,
        load_url: '',
        qrcode: null,
        info: {
          nickname: '',
          usable_gold: '',
          freeze_gold: '',
          financal: {
            status: 0
          }
        },
        show_list: true,
        pay_click: false
      }
    },
    watch: {
      'platform': function (newVal, oldVal) {
        if (newVal !== oldVal) {
          this.checkBank()
        }
      },
      'amount': function () {
        if (this.amount > 0) {
          this.input_amount = ''
        }
      },
      'input_amount': function () {
        if (this.input_amount > 0) {
          this.amount = 0
        }
      }
    },
    mounted () {
      const self = this

      if (typeof self.$route.query.platform_id === 'undefined') {
        self.platform_key = 1
      } else {
        self.platform_key = JSON.parse(self.$route.query.platform_id)
      }
      self.$models.Deposit.platforms({type: 'all'}).then(function (platforms) {
        let userPlatform = platforms.data.data.user_platform
        for (let platform of platforms.data.data.lists) {
          var mobileShow, mobileDefault
          if (navigator.userAgent.match(/AppleWebKit.*Mobile.*/) !== null) {
            if (navigator.userAgent.indexOf('Android') > -1) {
              mobileShow = platform.android_show
              mobileDefault = platform.android_default
            } else {
              mobileShow = platform.ios_show
              mobileDefault = platform.ios_default
            }
          } else {
            mobileShow = platform.pc_show
            mobileDefault = platform.pc_default
          }
          var platformObj = {
            show_view: Boolean(mobileShow),
            default_show: Boolean(mobileDefault),
            key: platform.id,
            value: platform.name,
            need_bank: platform.need_bank,
            bank_id: platform.bank_id,
            max_load: platform.max_load,
            min_load: platform.min_load,
            icon: '/static/images/logo/' + platform.icon + '.png',
            show: platform.hasOwnProperty('show') ? {
              content: platform.show.content,
              type: platform.show.type,
              link: platform.show[platform.show.type]
            } : null
          }
          if (userPlatform[platform.id] !== undefined) {
            if (navigator.userAgent.indexOf('Android') <= -1 && userPlatform[platform.id]['terminal_type'] === 3) {
              platformObj.show_view = userPlatform[platform.id]['is_show']
            } else if (navigator.userAgent.indexOf('Android') > -1 && userPlatform[platform.id]['terminal_type'] === 4) {
              platformObj.show_view = userPlatform[platform.id]['is_show']
            }
          }
          if (platformObj.show_view) {
            self.platforms = self.platforms.concat(platformObj)
          }
          self.platforms_hash[platformObj.key] = platformObj
          if (platformObj.default_show) {
            self.platform_key = platformObj.key
            self.platform = platformObj
          }
        }
        self.platform_name = self.platforms_hash[self.platform_key].value
        self.checkBank()
        self.changePlatform(self.platform.key)
      })
      self.$models.User.info().then(function (response) {
        if (response.data.success !== 1) {
          self.$router.push('/not-login')
        }
        self.loaded = true
        self.info = response.data.data
      })
    },
    methods: {
      checkBank () {
        for (let platform of this.platforms) {
          if (platform.key === this.platform_key && platform.need_bank === 1) {
            this.bank_id = platform.bank_id
            if (platform.bank_id === '') {
              this.showBankSelect = true
              this.fetchBankForPlatform()
            } else {
              this.showBankSelect = false
              this.banks = []
            }
          }
        }
      },
      fetchBankForPlatform () {
        const self = this
        self.$models.Deposit.banks({platform_id: self.platform_key}).then(function (response) {
          let banks = []
          for (let id in response.data.data.lists) {
            let val = response.data.data.lists[id]
            banks = banks.concat([{
              key: id,
              value: val.name
            }])
          }
          self.banks = banks
        })
      },
      check () {
        var submitAmout = Math.max(this.amount, this.input_amount)
        var minLoad = this.platforms_hash[this.platform_key].min_load
        var maxLoad = this.platforms_hash[this.platform_key].max_load
        if (submitAmout >= minLoad && submitAmout <= maxLoad) {
          this.submit(submitAmout)
        } else {
          var name = this.platforms_hash[this.platform_key].value
          this.$alert(name + '充值支持 ' + minLoad + '元 ~ ' + maxLoad + '元', '提示', {
            confirmButtonText: '确定'
          })
        }
      },
      submit (submitAmout) {
        const self = this
        self.pay_click = true
        // 提交订单，获取订单号、支付页地址
        self.$models.Deposit.create({
          platform_id: this.platform_key,
          bank_id: this.bank_id,
          amount: submitAmout
        }).then(function (response) {
          self.pay_click = false
          if (!response.data.success) {
            self.$message({
              message: response.data.message,
              type: 'warning'
            })
            return
          }

          self.load_url = response.data.data.load_url

          if (response.data.data.load_straight === 1 || response.data.data.load_straight === 0) {
            window.location.href = self.load_url
            self.showAsk()
            return
          }
          // 拉起弹窗展示充值页
          self.showPayPage = true
        })
      },
      showAsk () {
        const self = this
        self.$vux.confirm.show({
          content: '请在新开窗口中完成支付<br />若已完成，请点击“完成支付"',
          confirmText: '完成支付',
          // 组件除show外的属性
          onCancel () {
//          console.log('取消') // 非当前 vm
          },
          onConfirm () {
            self.payComplete()
//          console.log('支付完成')
          }
        })
      },
      changePlatform (e) {
        const self = this
        self.platform_key = e
        if (self.platforms_hash.hasOwnProperty(e)) {
          let platform = self.platforms_hash[e]
          self.platform = platform
          if (self.platform.key !== 12 && self.platform.key !== 17) {
            self.amountList = self.defaultAmountList
          } else {
            self.amountList = self.wechatAmountList
          }
          if (self.amount_index === -1) {
            self.amount_index = 0
          }
          self.amount = self.amountList[self.amount_index]
          self.showContent(self.platform)
        }
        self.showPlatform = false
        self.checkBank()
      },
      changeBank (e) {
        const self = this
        self.bank_id = e.key
      },
      showContent (platform) {
        const self = this
        if (platform.show) {
          self.show_list = false
          switch (platform.show.type) {
            case 'qr':
              self.showQrCode(platform)
              break
            case 'url':
              self.showUrl(platform)
              break
          }
        } else {
          self.show_list = true
        }
      },
      showQrCode (platform) {
        const self = this
        self.platform_show = platform.show
      },
      showUrl (platform) {
        const self = this
        self.platform_show = platform.show
      },
      navToPay () {
        const self = this
        window.location.href = self.platform_show.link
      },
      payComplete () {
        const self = this
        self.showPayPage = false
        self.$router.replace({
          path: '/deposit/list'
        })
      }
    }
  }
</script>
<style scoped>
.donate {
  background-color: #fff;
}

.show-desc{
  font-size: 0.8em;padding: 10px;
}

.show-img{
  text-align: center;
}

.vux-popup-header {
    position: relative;
    padding: 3px 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.vux-popup-header .vux-header-title span{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}
</style>