<template>
  <div class="deposit-list">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>充值记录</h2>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-table :data="view_list" style="width: 100%">
                <el-table-column prop="status" label="订单状态">
                </el-table-column>
                <el-table-column prop="orderId" label="订单号">
                </el-table-column>
                <el-table-column prop="createdAt" label="付款时间">
                </el-table-column>
                <el-table-column prop="platform" label="付款方式" align="right">
                </el-table-column>
                <el-table-column prop="amount" label="充值金额" align="right">
                </el-table-column>
              </el-table>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-pagination class="pagination" :page-size="page.current" background layout="total, prev, pager, next, jumper" :page-count="page.total" @current-change="handleCurrentChange">
              </el-pagination>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        lists: {},
        status: [],
        view_list: [],
        platforms: [],
        ms_day: 86400000,
        page: {
          current: 1,
          total: 1,
          size: 10
        }
      }
    },
    mounted () {
      const self = this
      self.$models.Deposit.platforms({type: 'all'}).then(function (platforms) {
        for (var key in platforms.data.data.lists) {
          let platformsObj = platforms.data.data.lists[key]
          self.platforms[platformsObj.id] = platformsObj
        }
        self.getList()
      })
    },
    methods: {
      getStatus (status, createdAt) {
        if (status === 0) {
          let df = new Date().getTime() - new Date(createdAt).getTime()
          if (df >= this.ms_day) {
            return '订单已关闭'
          }
        }
        const self = this
        return self.status[status]
      },
      getList () {
        const self = this
        var param = {
          pageSize: self.page.size,
          page: self.page.current
        }
        self.$models.Deposit.list(param).then(function (response) {
          self.lists = []
          self.view_list = []
          var lists = response.data.data.list
          self.status = response.data.data.status
          self.page.total = response.data.data.lastPage
          for (var key in lists) {
            var obj = lists[key]
            if (self.lists[obj.deposit_id] === undefined) {
              var viewObj = {
                orderId: obj.order_no,
                platform: self.getWay(obj.platform_id),
                createdAt: obj.created_at,
                amount: obj.amount,
                status: self.getStatus(obj.status, obj.created_at)
              }
              self.lists[obj.deposit_id] = obj
              self.view_list.push(viewObj)
            }
          }
        })
      },
      getColor (id) {
        let status = this.lists[id].status
        let className = 'default-color'
        switch (status) {
          case 0:
            let df = new Date().getTime() - new Date(this.lists[id].created_at).getTime()
            if (df >= this.ms_day) {
              className = 'default-color'
            } else {
              className = 'warning-color'
            }
            break
          case 3:
            className = 'info-color'
            break
          case 1:
          case 2:
            className = 'success-color'
            break
        }
        return className
      },
      getDate (id) {
        let date = this.lists[id].created_at.split(' ')[0]
        return date
      },
      getAmount (id) {
        let amount = this.lists[id].amount
        return '¥ ' + amount
      },
      getOrderNo (id) {
        let orderNumber = this.lists[id].order_no
        return orderNumber
      },
      getWay (platformId) {
        const self = this
        return self.platforms[platformId] ? self.platforms[platformId].name : '渠道异常'
      },
      handleCurrentChange (val) {
        const self = this
        self.page.current = val
        self.getList()
      }
    }
  }
</script>

<style scoped>
  .title {
    margin-top: 30px;
  }
  
  .pagination {
    margin-top: 50px;
    margin-bottom: 100px;
  }
</style>