<template>
  <div class="transaction-list">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>明细记录</h2>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-table :data="lists" style="width: 100%">
                <el-table-column prop="optime" label="日期">
                </el-table-column>
                <el-table-column prop="optype" label="账变类型">
                </el-table-column>
                <el-table-column prop="delta" label="变动金额">
                </el-table-column>
                <el-table-column prop="remain" label="余额">
                </el-table-column>
              </el-table>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-pagination class="pagination" :page-size="page.current" background layout="total, prev, pager, next, jumper" :page-count="page.total" @current-change="handleCurrentChange">
              </el-pagination>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        lists: [],
        page: {
          current: 1,
          total: 1,
          size: 10
        },
        info: {
          uid: '',
          usable_gold: 0,
          freeze_gold: 0,
          financal: {
            status: 0
          }
        }
      }
    },
    mounted () {
      var self = this
      self.getList()
    },
    methods: {
      getList () {
        const self = this
        var param = {
          pageSize: self.page.size,
          page: self.page.current
        }
        self.$models.Transaction.list(param).then(function (response) {
          if (response.data.success) {
            self.lists = []
            var lists = response.data.data.lists
            self.page.total = response.data.data.lastPage
            for (var key in lists) {
              var obj = lists[key]
              if (Number(obj.delta) > 0) {
                obj.delta = '+' + obj.delta
                obj.detal_font = 'font-red'
              } else {
                obj.delta = obj.delta
                obj.detal_font = 'font-black'
              }
              self.lists.push(obj)
            }
          }
        })
      },
      handleCurrentChange (val) {
        const self = this
        self.page.current = val
        self.getList()
      }
    }
  }
</script>

<style scoped>
  .title {
    margin-top: 30px;
  }
  
  .pagination {
    margin-top: 50px;
    margin-bottom: 100px;
  }
</style>