<template>
  <div class="transfer-detal">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg list" justify="space-around">
              <el-col :span="12">
                <el-form label-width="80px">
                  <el-form-item label="转账金额">
                    <el-input v-model="amount" placeholder="请输入转账金额"></el-input>
                  </el-form-item>
                  <el-form-item label="备注">
                    <el-input type="textarea" v-model="remarks" resize="none" max="100" row="5" placeholder="请输入转账备注"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submit()">转账</el-button>
                  </el-form-item>
                </el-form>
              </el-col>
            </el-row>
          </el-col> 
        </el-row>  
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        to_uid: '',
        amount: '',
        remarks: '',
        user_avatar: '',
        user_mobile: '',
        user_nickname: '',
        balance_placeholder: '',
        sending: false
      }
    },
    created () {
      const self = this
      self.to_uid = this.$route.query.to_id
    },
    methods: {
      submit: function () {
        const self = this
        if (self.sending) {
          return
        }
        self.sending = true
        self.$models.Transaction.transfer({
          to_uid: this.to_uid,
          amount: this.amount,
          remarks: this.remarks
        }).then(function (response) {
          if (!response.data.success) {
            self.sending = false
            self.$message.error(response.data.message)
            return
          }
          self.$message({
            message: '转账成功',
            type: 'success'
          })
          let timer = setInterval(function () {
            clearInterval(timer)
            self.clear()
            self.$router.replace({
              path: self.$router.currentRoute.query.from_url
            })
          }, 2000)
        })
      },
      clear: function () {
        const self = this
        self.amount = ''
        self.remarks = ''
      },
      clickBack: function () {
        const self = this
        self.$router.replace({
          path: self.$router.currentRoute.query.from_url
        })
      }
    }
  }
</script>

<style scoped>
  .list {
    margin-top: 100px;
    margin-bottom: 50px;
  }
</style>