<template>
  <div class="transfer">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>转账</h2>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-col :span="10" :push="3">
                <el-input placeholder="请输入内容" prefix-icon="el-icon-search" size="large" v-model="to_uid"></el-input>
              </el-col>
              <el-col :span="5">
                <el-button type="primary" icon="el-icon-search" @click.native="search()">搜索</el-button>
              </el-col>
            </el-row>
            <el-row v-show="show_user" type="flex" class="row-bg" justify="space-around">
              <el-table :data="search_list" style="width: 100%">
                <el-table-column prop="user_nickname" label="最近转账用户">
                </el-table-column>
                <el-table-column label="操作" width="180">
                  <template slot-scope="scope">
                    <el-button @click="next()" type="text" size="small">转账</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-row>
            <el-row v-show="show_list" type="flex" class="row-bg" justify="space-around">
              <el-table :data="profile_list" style="width: 100%">
                <el-table-column prop="nickname" label="最近转账用户">
                </el-table-column>
                <el-table-column label="操作" width="180">
                  <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">转账</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-pagination class="pagination" :page-size="page.current" background layout="total, prev, pager, next, jumper" :page-count="page.total" @current-change="handleCurrentChange">
              </el-pagination>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        to_uid: '',
        show_user: false,
        show_list: false,
        user: {
          user_id: '',
          user_avatar: '',
          user_mobile: '',
          user_nickname: ''
        },
        lists: [],
        search_list: [],
        profile_list: [],
        counter: 1,
        page: {
          current: 1,
          total: 1,
          size: 10
        },
        info: {
          uid: '',
          usable_gold: 0,
          freeze_gold: 0,
          financal: {
            status: 0
          }
        }
      }
    },
    created () {
    },
    mounted () {
      var self = this
      self.getList()
    },
    methods: {
      handleClick (row) {
        this.next(row.user_id)
      },
      search: function () {
        const self = this
        self.show_list = false
        self.$models.User.search({
          mobile: this.to_uid
        }).then(function (response) {
          if (!response.data.success) {
            self.show_user = false
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            return
          }
          self.user_id = response.data.data.user_id
          self.profile()
        })
      },
      profile: function () {
        const self = this
        self.$models.User.profile({
          user_id: self.user_id
        }).then(function (response) {
          self.show_user = false
          if (!response.data.success) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            return
          }
          self.search_list = []
          self.user.user_id = response.data.data.user_id
          self.user.user_avatar = response.data.data.avatar
          self.user.user_mobile = response.data.data.mobile
          self.user.user_nickname = response.data.data.nickname
          self.show_user = true
          self.search_list.push(self.user)
        })
      },
      next: function (userId = 0) {
        const self = this
        self.$router.replace({
          path: '/transaction/TransferDetal',
          query: {
            to_id: userId === 0 ? self.user.user_id : userId,
            from_url: self.$route.path
          }
        })
      },
      getList () {
        const self = this
        self.lists = []
        self.show_list = false
        self.show_user = false
        var param = {
          type: 3,
          page: 1
        }
        self.$models.Transaction.list(param).then(function (response) {
          if (response.data.success) {
            var lists = response.data.data.lists
            if (lists.length === 0) {
              if (self.counter > 1) {
                self.counter--
              }
            }
            for (var key in lists) {
              var obj = lists[key]
              if (obj.optype_id === 3) {
                obj.check_userid = obj.to_user_id
              } else if (obj.optype_id === 4) {
                obj.check_userid = obj.from_user_id
              }
              var check = false
              for (var i = 0; i < self.lists.length; i++) {
                if (self.lists[i].check_userid === obj.check_userid) {
                  check = true
                }
              }
              if (!check) {
                self.lists.push(obj)
              }
            }
            if (self.lists.length > 0) {
              self.getProfileList()
            }
          }
        })
      },
      getProfileList: function () {
        const self = this
        self.profile_list.length = []
        var load = 0
        for (var i = 0; i < self.lists.length; i++) {
          self.$models.User.profile({
            user_id: self.lists[i].check_userid
          }).then(function (response) {
            var obj = response.data.data
            self.profile_list.push(obj)
            load++
            if (load === self.lists.length) {
              self.show_list = true
            }
          })
        }
      },
      handleCurrentChange (val) {
        const self = this
        self.page.current = val
        self.getList()
      }
    }
  }
</script>

<style scoped>
  .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .pagination {
    margin-top: 50px;
    margin-bottom: 100px;
  }
</style>