<template>
  <div class="desk-out" style="height: 100%">
    <view-box body-padding-top="46px">
      <x-header slot="header" title="牌局结算" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <template slot="default">
        <group gutter="0">
          <flexbox orient="vertical" style="height: 130px;">
            <div style="padding-top: 20px;">
              <img style="width: 15%;vertical-align: middle;" src="../../../static/images/ui/desk/desk_out.png"/>
              <span style="vertical-align: middle;">牌局 {{desk_name}}</span>
            </div>
            <div>
              <span class="font-green" style="font-size: 30px;">{{out_num}}</span>
            </div>
            <div>
              <span class="font-grey" style="font-size: 14px;">牌局结算</span>
            </div>
          </flexbox>
          <cell :border-intent="false" title="创建牌局时间">
            <span slot="default" class="font-grey">{{created_at}}</span>
          </cell>
        </group>
        <group>
          <cell v-for="(list, index) in lists" :key="list.transaction_id">
            <span slot="title">{{list.optype}}</span>
            <span slot="inline-desc" class="font-grey" style="font-size: 14px;">用户ID：{{list.to_uid}}</span>
            <span slot="default" class="font-grey" style="font-size: 14px;">
              {{list.created_at.split(' ')[1]}}<br/>
              <span v-if="list.delta > 0" class="font-red">+{{list.delta}}</span>
              <span v-else class="font-green" style="font-size: 18px;">{{list.delta}}</span>
            </span>
          </cell>
        </group>
      </template>
    </view-box>
    
  </div>
</template>

<script>
  export default{
    data () {
      return {
        id: 0,
        lists: [],
        desk_name: '',
        out_num: '',
        created_at: ''
      }
    },
    mounted () {
      const self = this
      self.id = this.$route.query.id
      self.desk_name = this.$route.query.desk_name
      this.$models.Transaction.deskout({desk_id: encodeURI(self.id)}).then(function (response) {
        if (response.data.success) {
          self.lists = response.data.data.lists
          self.out_num = response.data.data.out_sum
          if (self.lists.length > 0) {
            self.created_at = self.lists[0].created_at
          }
        }
      })
    },
    methods: {
      getDate (index) {
        if (index === 0) {
          return this.lists[0].created_at.split(' ')[0]
        }
        let date = this.lists[index].created_at.split(' ')[0]
        let beforeDate = this.lists[index - 1].created_at.split(' ')[0]
        if (date === beforeDate) {
          return ''
        }
        return date
      }
    }
  }
</script>
