<template>
  <div class="desk" style="height: 100%">
    <view-box body-padding-top="50px">
      <x-header slot="header" title="牌局" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <!--<router-link slot="right" :to="{path: '/transaction/search'}" replace>筛选</router-link>-->
      </x-header>
      <template v-if="loading_data && !refresh_data">
        <load-more tip="正在加载"></load-more>
      </template>
      <template v-if="!loading_data && lists.length == 0">
        <box gap="100px 20px">
           <flexbox orient="vertical">
            <flexbox-item align="center"><img style="width: 20%;" src="../../../static/images/ui/transaction/no_result.png"/></flexbox-item>
            <flexbox-item align="center"><span style="color: #b3b3b3;font-size: 14px;">您没有牌局数据哦～</span></flexbox-item>
           </flexbox>
        </box>
      </template>
      <template v-else>
        <div>
          <v-scroll style="margin-top: 50px;" :on-refresh="onRefresh" :on-infinite="onInfinite" :dataList="scrollData">
            <img style="position: absolute;right: 10px;top: 85px;width: 25px;" src="../../../static/images/ui/transaction/date.png"/>
            <group :title="getDate(index)" gutter="0" v-for="(list, index) in lists" :key="list.desk_id">
              <cell :link="{path: '/transaction/DeskIn', query: { id: getId(index), desk_name:getDeskName(index)}}" is-link>
                <span slot="title">牌局带入 ({{list.desk_name}})</span>
                <span slot="default" class="font-grey" style="font-size: 14px;">{{list.created_at.split(' ')[1]}}</span>
              </cell>
              <cell :link="{path: '/transaction/DeskOut', query: { id: getId(index), desk_name:getDeskName(index)}}" is-link>
                <span slot="title">牌局带出 ({{list.desk_name}})</span>
                <span slot="default" class="font-grey" style="font-size: 14px;">{{list.created_at.split(' ')[1]}}</span>
              </cell>
            </group>
          </v-scroll>
        </div>
      </template>
      <p class="copy-right">© BestPay</p>
    </view-box>
  </div>
</template>

<script>
  export default{
    components: {
      'v-scroll': require('../unit/pull-refresh/pull-refresh.vue')
    },
    data () {
      return {
        lists: [],
        counter: 1,
        num: 15,
        loading_data: false,
        refresh_data: false,
        scrollData: {
          noFlag: false
        }
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      getDate (index) {
        if (index === 0) {
          return this.lists[0].created_at.split(' ')[0]
        }
        let date = this.lists[index].created_at.split(' ')[0]
        let beforeDate = this.lists[index - 1].created_at.split(' ')[0]
        if (date === beforeDate) {
          return ''
        }
        return date
      },
      getList () {
        const self = this
        self.loading_data = true
        var param = {
          type: self.$route.query.type,
          start: self.$route.query.start,
          end: self.$route.query.end,
          page: self.counter
        }
        this.$models.Transaction.desk(param).then(function (response) {
          if (response.data.success) {
            var lists = response.data.data.lists
            if (lists.length === 0) {
              if (self.counter > 1) {
                self.counter--
              }
              let more = self.$el.querySelector('.load-more')
              if (more) {
                more.style.display = 'none'
                self.scrollData.noFlag = true
              }
            }
            for (var key in lists) {
              var obj = lists[key]
              self.lists.push(obj)
            }
          }
          self.loading_data = false
          self.refresh_data = false
        })
      },
      getId (index) {
        return this.lists[index].desk_id
      },
      getDeskName (index) {
        return this.lists[index].desk_name
      },
      onRefresh (done) {
        if (!this.refresh_data) {
          this.lists = []
          this.refresh_data = true
          this.counter = 1
          this.getList()
          done()
        }
      },
      onInfinite (done) {
        this.counter++
        this.getList()
        done()
      }
    }
  }
</script>
