<template>
  <div class="transaction-list" style="height: 100%">
    <view-box body-padding-top="50px">
      <x-header slot="header" title="明细" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right" :to="{path: '/transaction/search'}" replace>筛选</router-link>
      </x-header>
      <template v-if="loading_data && !refresh_data">
        <load-more tip="正在加载"></load-more>
      </template>
      <template v-if="!loading_data && lists.length == 0">
        <box gap="100px 20px">
           <flexbox orient="vertical">
            <flexbox-item align="center"><img style="width: 20%;" src="../../../static/images/ui/transaction/no_result.png"/></flexbox-item>
            <flexbox-item align="center"><span style="color: #b3b3b3;font-size: 14px;">您没有明细记录哦～</span></flexbox-item>
           </flexbox>
        </box>
      </template>
      <template v-else>
        <div>
          <v-scroll style="margin-top: 50px;" :on-refresh="onRefresh" :on-infinite="onInfinite" :dataList="scrollData">
            <group :title="getDate(index)" gutter="0" v-for="(item, index) in lists" :key="index">
              <template v-if="item.optype_id == 3 || item.optype_id == 4">
                <cell @click.native="detal(item)" is-link>
                  <img slot="icon" width="40" class="circular-shape rmargin-10px" style="vertical-align: middle;" :src="'../../../static/images/ui/transaction/' + getOptypes(item.optype_id) + '.png'">
                  <span slot="title">{{item.optype}}</span>
                  <span slot="inline-desc" class="font-grey" style="font-size: 14px;">余额: {{item.remain}}</span>
                  <span slot="default" class="font-grey" style="font-size: 14px;">
                    {{item.optime.split(' ')[1]}}<br/>
                    <span :class="item.detal_font"  style="font-size: 18px;">{{item.delta}}</span>
                  </span>
                </cell>
              </template>
              <template v-else>
                <cell @click.native="detal(item)">
                  <img slot="icon" width="40" class="circular-shape rmargin-10px" style="vertical-align: middle;" :src="'../../../static/images/ui/transaction/' + getOptypes(item.optype_id) + '.png'">
                  <span slot="title">{{item.optype}}</span>
                  <span slot="inline-desc" class="font-grey" style="font-size: 14px;">余额: {{item.remain}}</span>
                  <span slot="default" class="font-grey" style="font-size: 14px;">
                    {{item.optime.split(' ')[1]}}<br/>
                    <span :class="item.detal_font"  style="font-size: 18px;">{{item.delta}}</span>
                  </span>
                </cell>
              </template>
            </group>
          </v-scroll>
        </div>
      </template>
      <p class="copy-right">© BestPay</p>
    </view-box>
  </div>
</template>

<script>
  export default{
    components: {
      'v-scroll': require('../unit/pull-refresh/pull-refresh.vue')
    },
    data () {
      return {
        lists: [],
        counter: 1,
        num: 15,
        loading_data: false,
        refresh_data: false,
        scrollData: {
          noFlag: false
        },
        financal: 0
      }
    },
    mounted () {
      this.getList()
    },
    created () {
      var self = this
      self.financal = self.$route.query.financal
    },
    methods: {
      getDate (index) {
        if (index === 0) {
          return this.lists[0].optime.split(' ')[0]
        }
        let date = this.lists[index].optime.split(' ')[0]
        let beforeDate = this.lists[index - 1].optime.split(' ')[0]
        if (date === beforeDate) {
          return ''
        }
        return date
      },
      getList () {
        const self = this
        self.loading_data = true
        var param = {
          type: self.$route.query.type,
          start: self.$route.query.start,
          end: self.$route.query.end,
          page: self.counter
        }
        self.$models.Transaction.list(param).then(function (response) {
          if (response.data.success) {
            var lists = response.data.data.lists
            if (lists.length === 0) {
              if (self.counter > 1) {
                self.counter--
              }
              let more = self.$el.querySelector('.load-more')
              if (more) {
                more.style.display = 'none'
                self.scrollData.noFlag = true
              }
            }
            for (var key in lists) {
              var obj = lists[key]
              if (Number(obj.delta) > 0) {
                obj.delta = '+' + obj.delta
                obj.detal_font = 'font-red'
              } else {
                obj.delta = obj.delta
                obj.detal_font = 'font-black'
              }
              self.lists.push(obj)
            }
          }
          self.loading_data = false
          self.refresh_data = false
        })
      },
      onRefresh (done) {
        if (!this.refresh_data) {
          this.lists = []
          this.refresh_data = true
          this.counter = 1
          this.getList()
          done()
        }
      },
      onInfinite (done) {
        this.counter++
        this.getList()
        done()
      },
      getOptypes (id) {
        let icon = ''
        switch (id) {
          case 1:
            icon = 'optype_2'
            break
          case 2:
            icon = 'optype_3'
            break
          case 3:
            icon = 'optype_5'
            break
          case 4:
            icon = 'optype_4'
            break
          case 5:
            icon = 'optype_7'
            break
          case 6:
            icon = 'optype_8'
            break
          case 7:
            icon = 'optype_6'
            break
          default:
            icon = 'optype_2'
            break
        }
        return icon
      },
      detal (item) {
        const self = this
        var userId = 0
        var userMobile = ''
        if (item.optype_id === 3) {
          userId = item.to_user_id
          userMobile = item.to_user_mobile
        } else if (item.optype_id === 4) {
          userId = item.from_user_id
          userMobile = item.from_user_mobile
        } else {
          return
        }
        self.$router.replace({
          path: '/transaction/TransactionDetal',
          query: {
            amount: item.delta,
            remarks: item.extra.remarks,
            optype_id: item.optype_id,
            optime: item.optime,
            user_id: userId,
            user_mobile: userMobile,
            from_url: self.$route.path
          }
        })
      }
    }
  }
</script>
<style scoped>
  .font-red{
    color: #ff5e54;
  }
  .font-black{
    color: #000000;
  }
</style>
