<template>
  <div class="transaction-search">
    <view-box body-padding-top="50px">
      <x-header slot="header" title="筛选" :left-options="{backText: ''}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right"
                     :to="{path: '/transaction/list', query: {type: this.type.join(','), start: this.start, end: this.end}}" replace>
          完成
        </router-link>
      </x-header>
      <group slot="default" gutter="0">
        <checker v-model="type" type="checkbox" default-item-class="checker-item" selected-item-class="checker-item-selected"
                 style="padding-left:5px;">
          <checker-item :value="1">充值成功</checker-item>
          <checker-item :value="2">提现扣除</checker-item>
          <checker-item :value="3">转账转出</checker-item>
          <checker-item :value="4">转账转入</checker-item>
          <checker-item :value="5">系统添加</checker-item>
          <checker-item :value="6">系统扣除</checker-item>
          <checker-item :value="7">提现退回</checker-item>
          <checker-item :value="0" @on-item-click="selectAll">全部</checker-item>
        </checker>
        <datetime title="开始时间" v-model="start" @on-change="onStartChange"></datetime>
        <datetime title="结束时间" v-model="end" :start-date="start"></datetime>
      </group>
    </view-box>
  </div>
</template>
<script>
  export default{
    data () {
      return {
        transactionTypes: [
          '充值成功',
          '资金成功'
        ],
        type: [],
        all: false,
        start: '',
        end: ''
      }
    },
    mounted () {
    },
    methods: {
      selectAll () {
        this.all = !this.all
        if (this.all) {
          this.type = [0, 1, 2, 3, 4, 5, 6, 7]
        } else {
          this.type = []
        }
      },
      onStartChange () {
        if (this.start > this.end) {
          this.end = this.start
        }
      }
    }
  }
</script>
<style scoped>
  .vux-checker-item {
    display: inline-block;
  }

  .trans-type-item {
    width: 32%;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
  }
  
  .checker-item {
    width: 32%;
    margin: 10px 0;
    padding: 10px 0;
    border: none;
    background: #ffffff url(../../../static/images/ui/unit/checker_item_active.png) no-repeat right bottom;
    background-size: 100% 100%;
    text-align: center;
  }
  
  .checker-item-selected {
    border: none;
    background: #ffffff url(../../../static/images/ui/unit/checker_item_selected.png) no-repeat right bottom;
    background-size: 100% 100%;
  }
</style>
