<template>
  <div class="transfer" style="height: 100%">
    <view-box body-padding-top="50px" body-padding-bottom="50px">
      <x-header slot="header" title="转账" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right" :to="{path: '/transaction/list', query: {type: 3}}">转账记录</router-link>
      </x-header>
      <template slot="default">
          <group>
            <x-input v-model="mobile" placeholder-align="center" placeholder="请输入对方手机号码" text-align="center">
              <popup-picker slot="label" :data="regionlist" v-model="region"></popup-picker>
            </x-input>
          </group>
          <box gap="25px 15px">
            <x-button @click.native="search()">搜索</x-button>
          </box>
          <group v-show="show_user">
            <cell @click.native="next()" is-link>
              <img slot="icon" src="../../../static/images/ui/main/financal.png" width="30" style="display:block;margin-right:15px;"/>
              <span slot="title">{{user_nickname}}</span>
              <span slot="inline-desc" class="font-grey" style="font-size: 14px;">{{user_mobile}}</span>
            </cell>
          </group>
          <group v-show="show_list" gutter="0" v-for="(item, index) in profile_list" :key="index">
            <cell @click.native="next(item.user_id)" is-link>
              <img slot="icon" src="../../../static/images/ui/main/financal.png" width="30" style="display:block;margin-right:15px;"/>
              <span slot="title">{{item.nickname}}</span>
              <span slot="inline-desc" class="font-grey" style="font-size: 14px;">{{item.mobile}}</span>
            </cell>
          </group>
      </template>
    </view-box>
  </div>
</template>
<script>
  import CryptoJS from 'crypto-js'
  import regions from '../regions.js'
  export default {
    data () {
      return {
        region: ['+86'],
        regionlist: [regions],
        mobile: '',
        show_user: false,
        show_list: false,
        user_id: '',
        user_avatar: '',
        user_mobile: '',
        user_nickname: '',
        lists: [],
        profile_list: [],
        counter: 1
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      search: function () {
        const self = this
        self.show_list = false
        var formData = {
          mobile: CryptoJS.AES.encrypt(this.region[0] + this.mobile, this.aesPassphrase).toString()
        }
        if (this.mobile === 'firepoker888') {
          formData.mobile = CryptoJS.AES.encrypt(this.mobile, this.aesPassphrase).toString()
        }
        self.$models.User.search(formData).then(function (response) {
          if (!response.data.success) {
            self.show_user = false
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            return
          }
          self.user_id = response.data.data.user_id
          self.profile()
        })
      },
      profile: function () {
        const self = this
        self.$models.User.profile({
          user_id: self.user_id
        }).then(function (response) {
          self.show_user = false
          if (!response.data.success) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            return
          }
          self.user_id = response.data.data.user_id
          self.user_avatar = response.data.data.avatar
          self.user_mobile = response.data.data.mobile
          self.user_nickname = response.data.data.nickname
          self.show_user = true
        })
      },
      next: function (userId = 0) {
        const self = this
        self.$router.replace({
          path: '/transaction/TransferDetal',
          query: {
            to_id: userId === 0 ? self.user_id : userId,
            from_url: self.$route.path
          }
        })
      },
      getList () {
        const self = this
        self.lists = []
        self.show_list = false
        self.show_user = false
        var param = {
          type: 3,
          page: 1
        }
        self.$models.Transaction.list(param).then(function (response) {
          if (response.data.success) {
            var lists = response.data.data.lists
            if (lists.length === 0) {
              if (self.counter > 1) {
                self.counter--
              }
            }
            for (var key in lists) {
              var obj = lists[key]
              if (obj.optype_id === 3) {
                obj.check_userid = obj.to_user_id
              } else if (obj.optype_id === 4) {
                obj.check_userid = obj.from_user_id
              }
              var check = false
              for (var i = 0; i < self.lists.length; i++) {
                if (self.lists[i].check_userid === obj.check_userid) {
                  check = true
                }
              }
              if (!check) {
                self.lists.push(obj)
              }
            }
            if (self.lists.length > 0) {
              self.getProfileList()
            }
          }
        })
      },
      getProfileList: function () {
        const self = this
        self.profile_list.length = []
        var load = 0
        for (var i = 0; i < self.lists.length; i++) {
          self.$models.User.profile({
            user_id: self.lists[i].check_userid
          }).then(function (response) {
            var obj = response.data.data
            self.profile_list.push(obj)
            load++
            if (load === self.lists.length) {
              self.show_list = true
            }
          })
        }
      }
    }
  }
</script>
