<template>
  <div class="transaction-detal" style="height: 100%;">
    <view-box body-padding-top="50px" body-padding-bottom="0">
      <x-header slot="header" title="转账详情" :left-options="{backText: '', preventGoBack: true}" :right-options="{showMore: false}" @on-click-back="back()"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <template slot="default">
        <box gap="30px 0px">
          <h1>{{amount}}</h1>
          <group>
            <cell title="对方账号" @click.native="next()" is-link>{{user_mobile}}</cell>
            <cell title="转账时间">{{optime}}</cell>
            <cell>
              <template slot="title">
                <label style="width: 200px;">转账备注</label>
              </template>
              <template slot="default">
                <textarea class="weui-cell__ft" readonly="true" style="resize: none;border: none;">{{remarks}}</textarea>
              </template>
            </cell>
          </group>
        </box>
      </template>
    </view-box>
    <p class="copy-right">© BestPay</p>
  </div>
</template>
<script>

  export default{
    data () {
      return {
        amount: 0,
        remarks: '',
        optype_id: 0,
        optime: '',
        user_id: '',
        user_mobile: ''
      }
    },
    created () {
      const self = this
      self.amount = this.$route.query.amount
      self.remarks = this.$route.query.remarks
      self.optype_id = this.$route.query.optype_id
      self.optime = this.$route.query.optime
      self.user_id = this.$route.query.user_id
      self.user_mobile = this.$route.query.user_mobile
    },
    mounted () {
    },
    methods: {
      back () {
        const self = this
        console.log(self.$route.query.from_url)
        self.$router.replace({
          path: self.$route.query.from_url
        })
      },
      next (userId = 0) {
        const self = this
        self.$router.replace({
          path: '/transaction/TransferDetal',
          query: {
            to_id: self.user_id,
            from_url: self.$route.path
          }
        })
      }
    }
  }
</script>
<style scoped>
  h1 {
    text-align: center;
  }
  
  input:focus, textarea:focus {
    outline: none;
  }
</style>
