<template>
  <div class="transfer-detal" style="height: 100%">
    <view-box body-padding-top="50px" body-padding-bottom="50px">
      <x-header slot="header" title="转账" :left-options="{backText: '', preventGoBack: true}" :right-options="{showMore: false}" @on-click-back="clickBack()"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right" :to="{path: '/transaction/list', query: {type: 3}}">转账记录</router-link>
      </x-header>
      <template slot="default">
        <group gutter="10">
          <x-input class="value-input" title="¥" :placeholder="balance_placeholder" type="number" label-width="30px" v-model="amount" :max="8"></x-input>
        </group>
        <group gutter="10">
          <x-textarea title="备注：" :max="100" :height="100" v-model="remarks"></x-textarea>
        </group>
        <box gap="25px 15px">
          <x-button @click.native="submit()">转账</x-button>
        </box>
      </template>
    </view-box>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        to_uid: '',
        amount: '',
        remarks: '',
        user_avatar: '',
        user_mobile: '',
        user_nickname: '',
        balance_placeholder: '',
        sending: false
      }
    },
    created () {
      const self = this
      self.to_uid = this.$route.query.to_id
    },
    methods: {
      submit: function () {
        const self = this
        if (self.sending) {
          return
        }
        self.sending = true
        self.$models.Transaction.transfer({
          to_uid: this.to_uid,
          amount: this.amount,
          remarks: this.remarks
        }).then(function (response) {
          self.sending = false
          if (!response.data.success) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            return
          }
          self.$vux.toast.show({
            type: 'success',
            text: '转账成功'
          })
          let timer = setInterval(function () {
            clearInterval(timer)
            self.clear()
            self.$router.replace({
              path: self.$router.currentRoute.query.from_url
            })
          }, 2000)
        })
      },
      clear: function () {
        const self = this
        self.amount = ''
        self.remarks = ''
      },
      clickBack: function () {
        const self = this
        self.$router.replace({
          path: self.$router.currentRoute.query.from_url
        })
      }
    }
  }
</script>
<style lang="less" scoped>
  .value-input {
    font-size: 1.5em;
    padding-top: 50px;
    padding-bottom: 10px;
  }
</style>
