body.top-body {
    background: #fff
}

.t-body {
    padding: 10px;
    height: 400px;
    overflow: auto
}

.t-t {
    border: 1px solid #ddd;
    height: 25px;
    line-height: 25px;
    background: #f5f5f5;
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 3px
}

.t-t .glyphicon {
    top: 3px
}

.t-t .glyphicon:link {
    color: #ddd
}

.t-s {
    margin-left: 15px;
    padding: 10px;
    border-left: 1px solid #ddd
}

.t-t1 {
    color: #fff;
    height: 20px;
    line-height: 17px;
    background: #428bca;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 10px;
    margin: 2px
}

.t-t2 {
    color: #000;
    height: 20px;
    line-height: 17px;
    background: #5bc0de;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 10px;
    margin: 2px
}

.t-t3 {
    color: #000;
    height: 20px;
    line-height: 17px;
    background: #f0ad4e;
    display: inline-block;
    padding: 2px 5px;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    margin: 2px
}

.listU {
    margin-left: 15px;
    padding: 10px;
    border-left: 1px solid #ddd
}

.t-label {
    position: relative;
    display: inline-block;
    padding: .4em .6em;
    font-size: 85%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 2px 3px
}

.t-label input[type="checkbox"] {
    margin: 0 !important
}

.t-label:before {
    content: "";
    border-style: solid;
    border-width: 11px 11px 11px 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 0;
    width: 0;
    -webkit-transform: rotate(360deg)
}

.label-warning::before {
    border-color: transparent rgb(240, 173, 78) transparent transparent;
}