<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>

                <?php View::display('page-header');?>

                <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                <button onclick="exportScv(this)" data-url="/manage/withdrawal/export" type="button" class="btn btn-default navbar-right">导出(Export Recorde)</button>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="detail-col">#</th>
                                        <th>User Id</th>
                                        <th>订单号(Order No)</th>
                                        <th>出款信息(Platform)</th>
                                        <th>银行卡(Bank Card info)</th>
                                        <th>金额(Amount)</th>
                                        <th>手续费(Fee)</th>
                                        <th>状态(Order Status)</th>
                                        <th>发起时间(Create Time)</th>
                                        <th>IP</th>
                                        <th>操作人员(Verifier)</th>
                                        <th>审核备注(Remarks)</th>
                                        <th>前端展示备注(Display Remarks)</th>
                                        <th>审核时间(Verify Time)</th>
                                        <th>操作(Operate)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($list as $info): ?>
                                    <tr>
                                        <td><?=$info->withdrawal_id?></td>
                                        <td><?=$info->user_id;?></td>
                                        <td><?=$info->serial_number?></td>

                                        <td class="col-xs-2">
                                            <?php if (!empty($info->platform_id)): ?>
                                                渠道(Platform)：<?=is_object($info->platform) ? $info->platform->name : ''?><br />
                                                渠道订单号(Platform Order No)：<?=$info->platform_order_no?>
                                            <?php endif;?>
                                        </td>
                                        <td class="col-xs-2">
                                            银行(Bank)：<?=$info->card()->withTrashed()->first()->bank->bank_name?><br />
                                            卡号(Card No)：<?=$info->card()->withTrashed()->first()->card_no?><br />
                                            持卡人(User Name)：<?=$info->card()->withTrashed()->first()->name?>
                                        </td>
                                        <td><?=$info->amount?></td>
                                        <td><?=$info->fee?></td>
                                        <td><?=$info::STATUS_ENUM[$info->status]?></td>
                                        <td><?=$info->created_at->format('Y-m-d H:i:s')?></td>
                                        <td><?=$info->client_ip?></td>
                                        <td><?=is_object($info->admin) ? $info->admin->name : '';?></td>
                                        <td><?=$info->remarks?></td>
                                        <td><?=$info->display_remarks?></td>
                                        <td><?=$info->admin_operate_time?></td>
                                        
                                        <td>
                                            <div class="hidden-sm hidden-xs">
                                                <?php //当状态为扣金币成功时展示通过审核按钮 ?>
                                                <?php if ($info->status == \Withdrawal\WithdrawalModel::WITHDRAWAL_STATUS_MINUS_GOLD_SUCCESS): ?>
                                                <div class="btn-group">
                                                    <a href='/manage/withdrawal/verify?id=<?=$info->withdrawal_id;?>' class="btn btn-success btn-sm popover-success" title="审核">审核(Verify)</a>
                                                </div>

                                                <button onclick="adminverify(this, 'manualwithdrawal')" data-toggle="modal" data-target="#myModal" data-url='/manage/withdrawal/set?id=<?=$info->withdrawal_id;?>&type=manualwithdrawal' class="btn btn-xs btn-purple" title="完成">
                                                    <i class="ace-icon fa bigger-120">人工提现(manual withdrawal)</i>
                                                </button>

                                                <!-- 汇款状态持续了30分钟 就显示手动处理按钮 -->
                                                <?php elseif ((time() - strtotime($info->created_at) >= 30 * 60) && $info->status == \Withdrawal\WithdrawalModel::WITHDRAWAL_STATUS_TRANSFER_START): ?>
                                                <button onclick="adminverify(this, 'setfailed')" data-url='/manage/withdrawal/set?id=<?=$info->withdrawal_id;?>&type=setfailed' class="btn btn-xs btn-danger" title="退款">
                                                    <i class="ace-icon fa bigger-120">退币(Return Game Point)</i>
                                                </button>
                                                <button onclick="adminverify(this, 'setsuccess')" data-url='/manage/withdrawal/set?id=<?=$info->withdrawal_id;?>&type=setsuccess' class="btn btn-xs btn-success" title="完成">
                                                    <i class="ace-icon fa bigger-120">完成(Set Finished)</i>
                                                </button>
                                                <?php endif;?>

                                                <div class="btn-group">
                                                    <a data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">
                                                        查看接口日志
                                                        <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-info dropdown-menu-right">
                                                        <li>
                                                            <a target="_blank" href="/manage/withdrawal/notice?withdrawal_id=<?=$info->withdrawal_id?>">notice status</a>
                                                        </li>

                                                        <li>
                                                            <a target="_blank" href="/manage/withdrawal/querylog?withdrawal_id=<?=$info->withdrawal_id?>">query log</a>
                                                        </li>

                                                        <li>
                                                            <a target="_blank" href="/manage/withdrawal/log?withdrawal_id=<?=$info->withdrawal_id?>">request log</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <button onclick="adminverify(this, 'displayremark')" data-url='/manage/withdrawal/set?id=<?=$info->withdrawal_id;?>&type=displayremark' class="btn btn-xs btn-warning" title="添加前展示单备注">
                                                    <i class="ace-icon fa bigger-120">添加前展示单备注</i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                    <?php endforeach;?>
                                    </tbody>
                                </table>

                                <?php View::display('paginate', ['info' => $list]);?>
                            </div><!-- /.span -->
                        </div><!-- /.row -->

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div><!-- /.main-container -->

<?php View::display('foot-scripts')?>

<script type="text/javascript">

    function adminverify(obj, type) {
        var url = $(obj).attr('data-url');

        if( type == 'setfailed' || type == 'setsuccess' || type == 'manualwithdrawal' || type == "displayremark"){
            var alertMsg = "请填写备注";

            if ( type == "displayremark") {
                alertMsg = "请填写展示给用户看的订单备注";
            }

            bootbox.prompt(alertMsg, function(result) {
                if(result != null && result != '') {
                    $.get(url, {remarks:result}, function(msg){
                        // alert(msg);
                        if ( msg.success == 1) {
                            window.location.reload();
                        }else{
                            bootbox.alert(msg.message);
                        }
                    },'json');
                }
            });
        }
    }
</script>