<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>

                <?php View::display('page-header');?>

                <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>提现订单号</th>
                                        <th>回调类型</th>
                                        <th>请求地址</th>
                                        <th>请求数据</th>
                                        <th>请求时间</th>
                                        <th>响应数据</th>
                                        <th>响应时间</th>
                                        <th>创建时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($list as $info): ?>
                                    <tr>
                                        <td><?=$info->log_id?></td>
                                        <td><?=$info->withdrawal->serial_number;?></td>
                                        <td><?=$info::STATUS_ENUM[$info->action_type]?></td>

                                        <td style="width: 300px;"><?=$info->url?></td>

                                        <td style="width: 400px;">
                                            <?= echoResponseData($info->request_data)?>
                                        </td>

                                        <td><?=$info->request_time?></td>

                                        <td style="width: 400px; word-break: break-word;">
                                            <?= echoResponseData($info->response_data)?>
                                        </td>

                                        <td><?=$info->response_time?></td>
                                        <td><?=$info->created_at->format('Y-m-d H:i:s')?></td>
                                    </tr>
                                    <?php endforeach;?>
                                    </tbody>
                                </table>

                                <?php View::display('paginate', ['info' => $list]);?>
                            </div><!-- /.span -->
                        </div><!-- /.row -->

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div><!-- /.main-container -->

<?php View::display('foot-scripts')?>