<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>

                <?php View::display('page-header');?>

                <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>提现订单号</th>
                                        <th>状态</th>
                                        <th>任务开始时间</th>
                                        <th>请求地址</th>
                                        <th>请求数据</th>
                                        <th>请求时间</th>
                                        <th>响应数据</th>
                                        <th>响应时间</th>
                                        <th>任务创建时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach ($list as $info): ?>
                                    <tr>
                                        <td><?=$info->query_id?></td>
                                        <td><?=$info->withdrawal->serial_number;?></td>
                                        <td><?=$info::STATUS_ENUM[$info->status]?></td>
                                        <td><?=$info->start_at?></td>

                                        <td style="width: 300px;">
                                            <?= is_object($info->queryLog) ? $info->queryLog->request_url : ""?>
                                        </td>

                                        <td style="width: 400px; word-break: break-word;">
                                            <?= is_object($info->queryLog) ? echoResponseData($info->queryLog->request_data) : ""?>
                                        </td>

                                        <td>
                                            <?= is_object($info->queryLog) ? json_encode($info->queryLog->request_time) : ""?>
                                        </td>

                                        <td style="width: 400px; word-break: break-word;">
                                        <?php
                                            if ( is_object($info->queryLog) ) {
                                                echoResponseData($info->queryLog->response_data);
                                            }
                                        ?>
                                        </td>

                                        <td>
                                            <?= is_object($info->queryLog) ? json_encode($info->queryLog->response_time) : ""?>
                                        </td>
                                        <td><?=$info->created_at->format('Y-m-d H:i:s')?></td>
                                    </tr>
                                    <?php endforeach;?>
                                    </tbody>
                                </table>

                                <?php View::display('paginate', ['info' => $list]);?>
                            </div><!-- /.span -->
                        </div><!-- /.row -->

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div><!-- /.main-container -->

<?php View::display('foot-scripts')?>