<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>

                <?php View::display('page-header');?>

                <div class="row">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="alert alert-info" role="alert">游戏报表：提现数据(Withdrawal Record)</div>

                            <table id="" class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="center">统计区间(statistics time)</th>
                                        <th class="center">充值总金额(deposit total Amount)</th>
                                        <th class="center">充值单数(number)</th>
                                        <th class="center">提现总金额(withdrawal total Amount)</th>
                                        <th class="center">提现单数(number)</th>
                                        <th class="center">净冲提</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>当天(today)</td>
                                        <td><?=$todayDeposit->amount?></td>
                                        <td><?=$todayDeposit->num?></td>
                                        <td><?=$todayWithdrawal->amount?></td>
                                        <td><?=$todayWithdrawal->num?></td>
                                        <td><?=$todayWithdrawal->amount - $todayDeposit->amount?></td>
                                    </tr>

                                    <tr>
                                        <td>历史(history)</td>
                                        <td><?=$totalDeposit->amount?></td>
                                        <td><?=$totalDeposit->num?></td>
                                        <td><?=$totalWithdrawal->amount?></td>
                                        <td><?=$totalWithdrawal->num?></td>
                                        <td><?=$totalWithdrawal->amount - $totalDeposit->amount?></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="alert alert-info" role="alert">用户基本信息(User Info)</div>

                            <div class=" panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">用户名(User Name)</label>
                                    <div class="col-sm-8">
                                        <span class="form-control" disabled="">
                                        <?=$oWithdrawal->user->name;?>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">账号名(Account Name)</label>
                                    <div class="col-sm-8">
                                        <span class="form-control <?=is_object($oBlackCard) ? "red" : ''?>" data-copy="" disabled=""><?php 
                                            if( $oWithdrawal->isTrashedCard() ){
                                                echo "用户已经删除该银行卡";
                                            }else{
                                                echo $oWithdrawal->card->name;
                                                echo is_object($oBlackCard) ? "($oBlackCard->remarks)" : '';
                                            }
                                        ?></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">卡号(Card No)</label>
                                    <div class="col-sm-8">
                                        <span class="form-control <?=is_object($oBlackCard) ? "red" : ''?>" data-copy="" disabled=""><?php 
                                            if( $oWithdrawal->isTrashedCard() ){
                                                echo "用户已经删除该银行卡";
                                            }else{
                                                echo $oWithdrawal->card->card_no;
                                                echo is_object($oBlackCard) ? "($oBlackCard->remarks)" : '';
                                            }
                                        ?></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">银行名称(Bank Name)</label>
                                    <div class="col-sm-8">
                                        <span class="form-control " data-copy="" disabled="">
                                        <?php 
                                            if( $oWithdrawal->isTrashedCard() ){
                                                echo "用户已经删除该银行卡";
                                            }else{
                                                echo $oWithdrawal->card->bank->bank_name;
                                            }
                                        ?>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">开户行地址(Address)</label>
                                    <div class="col-sm-8">
                                        <span class="form-control" disabled="">
                                            <?php 
                                            if( $oWithdrawal->isTrashedCard() ){
                                                echo "用户已经删除该银行卡";
                                            }else{
                                                echo $oWithdrawal->card->branc_name;
                                            }
                                        ?>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">金额(Amount)</label>
                                    <div class="col-sm-8">
                                        <span class="form-control " data-copy="" disabled="">
                                            <?=$oWithdrawal->amount?>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">提现发起IP(Apply Ip)</label>
                                    <div class="col-sm-8">
                                        <span class="form-control <?php if(!$isNormalIp) echo "red";?>" data-copy="" disabled="">
                                            <?=$oWithdrawal->client_ip?>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="alert alert-info" role="alert">用户登录Ip分布(User Login Ip)</div>

                            <table id="simple-table" class="table  table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Ip地址(Ip Addr)</th>
                                        <th>登录次数(Times)</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <?php foreach($loginIps as $ip): ?>
                                    <tr>
                                        <td><?=$ip->ip?></td>
                                        <td><?=$ip->num?></td>
                                    </tr>
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>

                        <div class="panel panel-default">

                            <div class="alert alert-info" role="alert">审核备注(Verify Remarks)</div>

                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">审核备注(Verify Remarks)</label>
                                    <div class="col-sm-8 panel">
                                        <input id="remarks" type="text" name="remarks" class="form-control" placeholder="请填写拒绝理由(Please fill remarks here)">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">选择提现渠道(Choose Platform)</label>
                                    <div class="col-sm-8">
                                        <select id="platform_id" name="platform_id" class="bootbox-input bootbox-input-select form-control">
                                        <?php
                                            foreach ($platformList as $key => $platform) {
                                                if ($key == 0) {
                                                    echo "<option select='selected' value='{$platform->platform_id}'>{$platform->name}</option>";
                                                } else {
                                                    echo "<option value='{$platform->platform_id}'>{$platform->name}</option>";
                                                }
                                            }
                                        ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body">
                                <button onclick="adminverify(this)" data-url='/manage/withdrawal/refuse?id=<?=$id;?>' type="button" class="btn btn-danger">拒绝(Refuse)</button>
                                <?php if( !in_array($oWithdrawal->user->app_user_id, $notAllowedWithdrawalList)): ?>
                                    <button onclick="adminverify(this)" data-url='/manage/withdrawal/accept?id=<?=$id;?>' type="button" class="btn btn-success navbar-right">通过(Pass)</button>
                                <?php else:?>
                                    <button type="button" disabled="disabled" class="btn btn-success navbar-right">oops! this guy is been blocked!</button>
                                <?php endif;?>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div><!-- /.main-container -->

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    function adminverify(obj) {
        var remarks = $('#remarks').val();
        var platform_id = $('#platform_id').val();
        var url = $(obj).attr('data-url');

        if ( typeof remarks == "undefined" || remarks == null || remarks == '') {

            $.gritter.add({
                title: '请填写审核备注！！！',
                text: '请填写拒绝理由或者通过备注或者其他备注！！！<br/> Please fill verify remarks',
                class_name: 'gritter-error gritter-center',
            });

            return false;
        }

        if ( typeof platform_id == "undefined" || platform_id == null || platform_id == '') {
            $.gritter.add({
                title: '请选择出款渠道！！！',
                text: '请选择一个出款渠道，才能给用户出款！！！',
                class_name: 'gritter-error gritter-center',
            });

            return false;
        }

        $.get(url, {remarks:remarks, platform_id:platform_id}, function(msg){

            bootbox.alert(msg.message);

            if ( msg.success == 1) {
                setTimeout(function () {
                    window.location.href = "/manage/withdrawal/list";
                }, 2000);
            }
        },'json');
    }
</script>