<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        收银台
    </title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/dist/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</head>
<body class="container">
<?php if ( ! empty($user)): ?>
    已登陆，<a href="/wap/">进入收银台>></a>
<?php else: ?>
    <div class="container">
        <form class="form-signin" action="/index/auth/login" method="post">
            <h2 class="form-signin-heading">登录</h2>
            <label for="inputMobile" class="sr-only">请输入手机号</label>
            <input id="inputMobile" autocomplete="off" name="mobile" pattern="^0?(13[0-9]|15[012356789]|14[012356789]|18[0-9]|17[0-9|14[57])[0-9]{8}$" class="form-control" placeholder="请输入手机号" required autofocus />
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="请输入密码" name="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">立即登录</button>
        </form>
    </div> <!-- /container -->
<?php endif; ?>
</div>

<script src="/dist/jquery/jquery-3.2.1.min.js"></script>
<script src="/dist/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>