.default-color{
  color: #999999;
}

.warning-color{
  color: #FF9933;
}

.success-color{
  color: #00CC00;
}

.danger-color{
  color: #CC3333;
}

.info-color{
  color: #6699FF;
}

.font-red{
  color: #ff5e54;
}

.font-green{
  color: #3ab157;
}

.font-grey{
  color: #b3b3b3;
}

.copy-right{
  text-align: center;
  font-size: 12px;
  color: #ccc;
  width: 100%;
  position: absolute;
  bottom: 5px;
  z-index: -999;
}
