<template>
  <li class="weui-uploader__file" :style="style">
    <div style="left: 75%;top: -10%;position: relative;" @click="remove">
      <badge v-show="showClose" text="x"></badge>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    backgroundImage: {
      type: String,
      default: ''
    },
    showClose: {
      type: Boolean,
      default: false
    },
    id: {
      type: Number,
      default: 0
    }
  },
  computed: {
    style () {
      return {
        backgroundImage: `url(${this.backgroundImage})`
      }
    }
  },
  methods: {
    remove () {
//    alert(this.backgroundImage)
//    this.$emit('remove-image')
    }
  }
}
</script>
