<template>
  <div class="login-index">
    <el-row :gutter="0">
      <el-col :span="8">
        <div class="grid-content bg-purple">
          &nbsp;
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple">
          <br/><br/><br/><br/><br/>
          <el-form label-position="top" label-width="80px">
            <el-form-item>
              <span slot="label" style="font-weight: bold; font-size: 2em;">用户登陆</span>
              <el-input v-model="mobile" placeholder="在此输入手机号" class="input-with-select">
              	<el-select v-model="region" slot="prepend" placeholder="请选择国际区号" style="width: 150px;">
			      <el-option
				      v-for="(item,index) in regionlist"
				      :key="index"
				      :label="item.value"
				      :value="item.value" >
				       	{{item.name}}
				    </el-option>
			    </el-select>
              </el-input>
              <el-input v-if="showVcdoeLogin" v-model="vcode" placeholder="在此输入手机验证码">
                <el-button slot="append" style="width:150px">发送验证码</el-button>
              </el-input>
              <el-input v-else v-model="password" placeholder="在此输入密码" type="password"></el-input>
              <div>
                <span v-if="showVcdoeLogin" style="float: right" @click="usePasswordLogin">使用密码登陆</span>
                <span v-else style="float: right" @click="useVcodeLogin">使用验证码登陆</span>
                <span>忘记密码？</span>
              </div>
              <el-button @click="login">登陆</el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="grid-content bg-purple">
          &nbsp;
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import CryptoJS from 'crypto-js/crypto-js'
  import regions from '../regions.js'
  
  export default {
    data () {
      return {
        region: ['+86'],
        regionlist: regions,
        mobile: '',
        password: '',
        vcode: '',
        showVcdoeLogin: true,
        vcode_status: {
          send: false,
          disabled: false,
          type: 'primary',
          start: false,
          show: false,
          countdown_sec: 15,
          btn_label: '发送验证码'
        },
        vcode_focus: false
      }
    },
    mounted () {
      var self = this
      self.getInfo()
    },
    methods: {
      getInfo: function () {
        var self = this
        self.$models.User.info().then(function (response) {
          if (response.data.success !== 1) {
            self.$router.push('/login')
          }
          self.loaded = true
          self.info = response.data.data
        })
      },
      login: function () {
        var self = this
        if (!self.mobile) {
          self.$message.error('请输入手机号')
          return
        }
        var formData = {
          mobile: CryptoJS.AES.encrypt(this.region[0] + this.mobile, this.aesPassphrase).toString()
        }
        if (this.showVcdoeLogin) {
          formData.vcode = CryptoJS.AES.encrypt(this.vcode, this.aesPassphrase).toString()
        } else {
          formData.password = CryptoJS.AES.encrypt(this.password, this.aesPassphrase).toString()
        }
        this.$models.User.login(formData).then(function (response) {
          if (!response.data.success) {
            self.$message.error(response.data.message)
            return
          }
          self.$router.replace({
            path: '/'
          })
        })
      },
      useVcodeLogin: function () {
        this.showVcdoeLogin = true
        this.password = ''
      },
      usePasswordLogin: function () {
        this.showVcdoeLogin = false
        this.vcode = ''
      }
    }
  }
</script>
