<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>名称</th>
                                                <th>描述</th>
                                                <th>优先级</th>
                                                <th>是否可用</th>
                                                <th>排序</th>
                                                <th>创建时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td><?=$info->group_id;?></td>
                                                <td><?=$info->name;?></td>
                                                <td><?=$info->describe?></td>
                                                <td><?=$info->priority;?></td>
                                                <td><?=$info->disabled;?></td>
                                                <td><?=$info->order;?></td>
                                                <td><?=$info->created_at;?></td>
                                                <td>
                                                    <a class="btn btn-sm btn-info" href="/manage/groupadmin/list?id=<?= $info->group_id?>">管理员列表</a>

                                                    <a class="btn btn-sm btn-info" href="/manage/groupfunc/list?id=<?= $info->group_id?>">权限列表</a>

                                                    <a class="btn btn-sm btn-info" href="/manage/groupfunc/set?id=<?= $info->group_id?>">权限设置</a>
                                                </td>
                                            </tr>
                                            <?php endforeach;?>

                                        </tbody>
                                    </table>
                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>