<template>
  <div class="login" style="height: 100%">
    <view-box body-padding-top="60px" body-padding-bottom="50px">
      <x-header slot="header" :left-options="{backText: ''}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <span slot="default">登陆</span>
        <router-link slot="right" :to="{path: '/register'}">注册</router-link>
      </x-header>
      <template slot="default">
        <group gutter="10px">
          <x-input title="手机号" placeholder="请输入手机号" placeholder-align="right"
                   text-align="right" v-model="mobile">
            <popup-picker slot="label" :data="regionlist" v-model="region"></popup-picker>
          </x-input>
        </group>
        <group gutter="10px" v-show="loginByPassword">
          <x-input title="密码" placeholder="请输入您的登陆密码" placeholder-align="right"
                   text-align="right" v-model="password" type="password"></x-input>
        </group>
        <group gutter="10px" v-show="!loginByPassword">
          <x-input title="验证码" v-model="vcode" :max="4" label-width="80px" type="tel"  placeholder="请填写验证码">
            <x-button slot="right" v-bind:type="vcode_status.type"  @click.native="sendCode" v-bind:disabled="vcode_status.disabled" mini style="margin-left: 0px;padding-left: 10px;padding-right: 10px;background: none;background-color: #FFFFFF;border-radius: 20px;border: 1px solid #4dcc63;color: #4dcc63;"  type="primary">
              发送验证码 <countdown v-model="vcode_status.countdown_sec" :start="vcode_status.start" v-show="vcode_status.show" @on-finish="vcodeCountdownFinish">()</countdown>
            </x-button>
          </x-input>
        </group>
        <box gap="10px 15px">
          <router-link :to="{path: '/forget'}">忘记密码？</router-link>
        </box>
        <box gap="25px 15px">
          <x-button type="primary" @click.native="login">立即登录</x-button>
        </box>
      </template>
    </view-box>
  </div>
</template>
<script>
  import {Msg} from 'vux'
  import CryptoJS from 'crypto-js'
  import regions from './regions.js'

  export default{
    data () {
      return {
        region: ['+86'],
        regionlist: [regions],
        mobile: '',
        password: '',
        buttons: [{
          type: 'warning',
          text: '立即登陆',
          link: '/login'
        }],
        loginByPassword: true,
        vcode: '',
        vcode_status: {
          send: false,
          disabled: false,
          type: 'primary',
          start: false,
          show: false,
          countdown_sec: 15,
          btn_label: '发送验证码'
        },
        vcode_focus: false
      }
    },
    components: {
      Msg
    },
    methods: {
      login: function () {
        var self = this
        if (!this.mobile) {
          self.$vux.toast.show({
            'text': '请输入手机号',
            'type': 'warn'
          })
          return
        }
        var formData = {}
        formData.mobile = CryptoJS.AES.encrypt(this.region[0] + this.mobile, this.aesPassphrase).toString()
        if (this.mobile === 'firepoker888') {
          formData.mobile = CryptoJS.AES.encrypt(this.mobile, this.aesPassphrase).toString()
        }

        if (this.loginByPassword) {
          formData.password = CryptoJS.AES.encrypt(this.password, this.aesPassphrase).toString()
        } else {
          formData.vcode = CryptoJS.AES.encrypt(this.vcode, this.aesPassphrase).toString()
        }
        this.$models.User.login(formData).then(function (response) {
          if (!response.data.success) {
            self.$vux.toast.show({
              'text': response.data.message,
              'type': 'warn'
            })
            return
          }

          self.$router.replace({
            path: '/'
          })
        })
      },
      showVcodeBox: function () {
        this.loginByPassword = false
        this.password = ''
      },
      showPasswordBox: function () {
        this.loginByPassword = true
        this.vcode = ''
      },
      sendCode () {
        const self = this
        if (self.mobile === '') {
          self.$vux.toast.show({
            type: 'warn',
            text: '请填写手机号',
            width: '70%'
          })
          return false
        }
        if (!(/^1[34578]\d{9}$/.test(this.mobile))) {
          self.$vux.toast.show({
            type: 'warn',
            text: '请检查手机号',
            width: '70%'
          })
          return false
        }
        this.$models.User.mobileCode({
          mobile: CryptoJS.AES.encrypt(self.mobile, self.aesPassphrase).toString()
        }).then(function (response) {
          if (response.data.success !== 1) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '70%'
            })
            return false
          } else {
            self.vcode_status.send = true
            self.vcode_status.disabled = true
            self.vcode_status.type = 'default'
            self.vcode_status.start = true
            self.vcode_status.show = true
            self.vcode_status.countdown_sec = 15
            self.$vux.toast.show({
              type: 'success',
              text: '验证码已发送，请留意手机短信',
              width: '80%'
            })
          }
        })
      },
      vcodeCountdownFinish () {
        const self = this
        self.vcode_status.type = 'primary'
        self.vcode_status.start = false
        self.vcode_status.show = false
        self.vcode_status.disabled = false
      }
    }
  }
</script>
<style lang="less">
  #toast .weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  #toast .weui-toast.weui-toast_forbidden {
    color: #000000;
  }

  #toast .weui-toast {
    position: fixed;
    z-index: 5001;
    width: 7.6em;
    top: 250px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 5px;
    color: #000000;
  }

  .vux-popup-header {
    position: relative;
    padding: 3px 0;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .vux-popup-header .vux-header-title span{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }
</style>
