<template>
  <div class="no-login" style="height:100%;">
    <view-box ref="viewBox" body-padding-bottom="50px">
      <template slot="default">
        <group gutter="0">
          <div style="width: 100%;text-align: center;padding-top: 30px;padding-bottom: 5%;" class="grad">
            <box>
              <icon class="warn" type="warn" is-msg></icon>
              <br /><br />
              <x-button class="login-btn" style="width:80%" :link="{path: '/login'}">立即登录</x-button>
            </box>
          </div>
          <cell title="昵称">
            <img slot="icon" src="../../static/images/ui/main/member.png" width="30" style="display:block;margin-right:15px;"/>
            未登陆
          </cell>
        </group>
        <group class="user-center-button-list">
          <cell title="充值" :link="{path: '/login'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/deposit.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="提现" :link="{path: '/login'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/withdrawal.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="转账" :link="{path: '/login'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/withdrawal.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="明细" :link="{path: '/login'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/transaction.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="银行卡" :link="{path: '/login'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/card.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="安全" :link="{path: '/login'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/pin.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
        </group>
        <br/>
        <br/>
        <p class="copy-right">© BestPay</p>
      </template>
    </view-box>
  </div>
</template>
<script>
  import { Box, Icon } from 'vux'

  export default {
    components: {
      Box,
      Icon
    }
  }
</script>
<style scoped>
  .center {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
  }

  .center img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #ececec;
  }

  .grad {
    background: -webkit-linear-gradient(left, #22a639 , #4bcd63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #22a639, #4bcd63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #22a639, #4bcd63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #22a639 , #4bcd63); /* 标准的语法 */
  }

  .warn {
    color: #FFFFFF;
    opacity: 0.5;
  }

  .login-btn {
    background: #FFFFFF;
    opacity: 0.9;
  }
</style>
