<template>
  <div class="user-center" style="height:100%;" v-if="loaded">
    <view-box ref="viewBox" body-padding-bottom="50px">
      <template slot="default">
        <!--<group gutter="0">
          <div style="width: 100%;text-align: center;padding-top: 30px;padding-bottom: 30px; float: left;" class="grad">
            <div style="width: 40%;float: left;font-size: 12px;color: white;" class="vux-1px-r"> 
              <img src="../../static/images/top-bar.jpg" height="60" width="60" />
              <p>ID:ABCXXX</p>
              <p>昵称:ABCXXX</p>
            </div>
            <div style="display: block;width: 60%; float: right;">
            <span style="color: #d4f0d9;vertical-align: middle;display: block;">账户余额（积分）</span>
            <div style="width: 98%;float: left;color: #d4f0d9;"><div style="color: #FFFFFF;font-size: 2rem;">{{info.usable_gold}}</div><div>可用积分</div></div>
            </div>
          </div>
          <cell title="手机号">
            <img slot="icon" src="../../static/images/ui/main/member.png" width="30" style="display:block;margin-right:15px;"/>
            <img v-show="info.financal.status == 1" src="../../static/images/ui/main/financal.png" width="22" style="margin-right:5px;vertical-align: middle;"/> {{info.nickname}}
          </cell>
        </group>-->
        <group gutter="0">
          <div style="width: 100%;text-align: center;padding-top: 30px;padding-bottom: 30%;" class="grad">
            <span style="color: #d4f0d9;vertical-align: middle;display: block;">账户余额（积分）</span>
            <div style="width: 98%;float: left;color: #d4f0d9;"><div style="color: #FFFFFF;font-size: 2rem;">{{info.usable_gold}}</div><div>可用积分</div></div>
          </div>
          <cell title="昵称">
            <img slot="icon" src="../../static/images/ui/main/member.png" width="30" style="display:block;margin-right:15px;"/>
            <img v-show="info.financal.status == 1" src="../../static/images/ui/main/financal.png" width="22" style="margin-right:5px;vertical-align: middle;"/> {{info.nickname}}
          </cell>
        </group>
        <group class="user-center-button-list">
          <a href="#/deposit" target="_blank" style="color: #000">
            <cell title="充值" is-link>
              <img slot="icon" src="../../static/images/ui/main/deposit.png" width="30" style="display:block;margin-right:15px;"/>
            </cell>
          </a>
          <cell title="提现" :link="{path: '/withdrawal'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/withdrawal.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="转账" :link="{path: '/transaction/transfer'}" is-link>
            <img slot="icon" src="../../static/images/ui/main/transfer.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="明细" :link="{path: '/transaction/list', query: { financal: info.financal.status}}" is-link>
            <img slot="icon" src="../../static/images/ui/main/transaction.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="牌局" :link="{path: '/transaction/desk'}" v-show="info.financal.status == 1" is-link>
            <img slot="icon" src="../../static/images/ui/main/desk.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="银行卡" :link="{path: '/card/list', query: { has_fund_pin: info.has_fund_pin, mobile: info.mobile}}" is-link>
            <img slot="icon" src="../../static/images/ui/main/card.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="安全" :link="{path: '/funds/reset', query: { has_fund_pin: info.has_fund_pin, mobile: info.mobile}}" is-link>
            <img slot="icon" src="../../static/images/ui/main/pin.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <cell title="消息" :link="{path: '/messages/detail'}" v-show="info.financal.status == 1" is-link>
            <img slot="icon" src="../../static/images/ui/main/messages.png" width="30" style="display:block;margin-right:15px;"/>
          </cell>
          <a class="weui-cell" :href="'https://chat6.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=798303&configID=51530&jid=7242121594&skillId=3522&pagereferrer=SingleCounter&s=1&info=' + infoValue" target="_blank" style="color: #000;display: block;">
            <cell title="在线客服" style="padding: 0;" is-link>
              <img slot="icon" src="../../static/images/ui/main/onlineService.jpg" width="30" style="display:block;margin-right:15px;"/>
            </cell>
          </a>
        </group>
        <br/>
        <br/>
        <p class="copy-right">© BestPay</p>
      </template>
      <tabbar slot="bottom" class="logout-button">
        <tabbar-item @on-item-click="logout">
          <span slot="label">退出登陆</span>
        </tabbar-item>
      </tabbar>
    </view-box>
  </div>
</template>
<script>
  import {Blur} from 'vux'

  export default{
    components: {
      Blur
    },
    mounted () {
      var self = this
      self.$models.User.info().then(function (response) {
        if (response.data.success !== 1) {
          self.$router.push('/not-login')
        }
        self.loaded = true
        self.info = response.data.data
        self.infoValue = encodeURIComponent('userId=' + self.info.mobile + '&name=' + self.info.mobile + '&memo=' + self.info.mobile)
      })
    },
    data () {
      return {
        loaded: false,
        url: '/static/images/top-bar.jpg',
        info: {
          uid: '',
          usable_gold: 0,
          freeze_gold: 0,
          financal: {
            status: 0
          }
        }
      }
    },
    methods: {
      logout () {
        var self = this
        self.$models.User.logout().then(function () {
          window.location.href = '/'
        })
      },
      test () {
        window.location.href = 'http://www.baidu.com'
      }
    }
  }
</script>
<style scoped>
  .center {
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
  }

  .center img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #ececec;
  }

  .grad {
    background: -webkit-linear-gradient(left, #22a639 , #4bcd63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #22a639, #4bcd63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #22a639, #4bcd63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #22a639 , #4bcd63); /* 标准的语法 */
  }
</style>
