<?php View::display('header'); ?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]); ?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb') ?>

            <div class="page-content">
                <?php View::display('settings'); ?>
                <?php View::display('page-header'); ?>
                
                <form id="validation-form" class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">渠道名称</label>
                        <div class="col-sm-3">
                            <input name="name" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">渠道展示名称</label>
                        <div class="col-sm-3">
                            <input name="display_name" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">渠道标识符</label>
                        <div class="col-sm-3">
                            <input name="identifier" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">帐号</label>
                        <div class="col-sm-3">
                            <input name="account" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">key</label>
                        <div class="col-sm-3">
                            <input name="key" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否需要银行卡</label>
                        <div class="col-sm-3">
                            <select name="need_bank" class="input-xlarge">
                                <option <?php echo $platform->need_bank == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->need_bank == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">custom_params</label>
                        <div class="col-sm-3">
                            <input name="custom_params" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">接口地址</label>
                        <div class="col-sm-3">
                            <input name="load_url" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">中转地址</label>
                        <div class="col-sm-3">
                            <input name="relay_load_url" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否直接加载接口返回结果</label>
                        <div class="col-sm-3">
                            <select name="load_straight" class="input-xlarge">
                                <option <?php echo $platform->load_straight == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->load_straight == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">回调通知地址</label>
                        <div class="col-sm-3">
                            <input name="notify_url" type="text" class="col-xs-10" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">状态</label>
                        <div class="col-sm-3">
                            <select name="status" class="input-xlarge">
                                <?php foreach($platform->statusName as $key => $val): ?>
                                <option <?php echo $platform->status == $key ? "selected" : ''; ?> value="<?= $key ?>"> <?= $val ?> </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否PC端显示</label>
                        <div class="col-sm-3">
                            <select name="pc_show" class="input-xlarge">
                                <option <?php echo $platform->pc_show == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->pc_show == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否移动端显示</label>
                        <div class="col-sm-3">
                            <select name="mobile_show" class="input-xlarge">
                                <option <?php echo $platform->mobile_show == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->mobile_show == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否默认为移动端支付方式</label>
                        <div class="col-sm-3">
                            <select name="mobile_default" class="input-xlarge">
                                <option <?php echo $platform->mobile_default == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->mobile_default == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否默认为PC端支付方式</label>
                        <div class="col-sm-3">
                            <select name="pc_default" class="input-xlarge">
                                <option <?php echo $platform->pc_default == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->pc_default == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否IOS端显示</label>
                        <div class="col-sm-3">
                            <select name="ios_show" class="input-xlarge">
                                <option <?php echo $platform->ios_show == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->ios_show == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否IOS默认渠道</label>
                        <div class="col-sm-3">
                            <select name="ios_default" class="input-xlarge">
                                <option <?php echo $platform->ios_default == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->ios_default == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否安卓端显示</label>
                        <div class="col-sm-3">
                            <select name="android_show" class="input-xlarge">
                                <option <?php echo $platform->android_show == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->android_show == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">是否安卓默认渠道</label>
                        <div class="col-sm-3">
                            <select name="android_default" class="input-xlarge">
                                <option <?php echo $platform->android_default == 1 ? "selected" : ''; ?> value="1">是</option>
                                <option <?php echo $platform->android_default == 0 ? "selected" : ''; ?> value="0">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">最大充值金额</label>
                        <div class="col-sm-3">
                            <input name="max_load" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">最小充值金额</label>
                        <div class="col-sm-3">
                            <input name="min_load" type="text" class="col-xs-10 col-sm-5" value="">
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <?php View::display('footer'); ?>

    <?php View::display('scroll-up'); ?>
</div>

<?php View::display('foot-scripts') ?>

<script type="text/javascript">
    $('#validation-form').validate({
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        ignore: "",
        rules: {
            max_load: {
                required: true,
            },
            min_load: {
                required: true,
            },
            identifier:{
                required: true,
            },
            load_url:{
                required: true,
                url: true,
            },
            name:{
                required: true,
            },
            display_name:{
                required: true,
            },
            account:{
                required: true,
            },
            key:{
                required: true,
            },
        },

        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
            $(e).remove();
        },

        errorPlacement: function (error, element) {
            if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
        },

        submitHandler: function (form) {
            form.submit();
        },
        invalidHandler: function (form) {
        }
    });
</script>