<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <a href="/manage/dpsplatform/export" target="_blank" type="button" class="btn btn-default navbar-right">导出(Export Recorde)</a>
                    <a href="/manage/dpsplatform/add" type="button" class="btn btn-default navbar-right">添加充值渠道</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="detail-col">#</th>
                                            <th>渠道编号</th>
                                            <th>渠道名称</th>
                                            <th>收银台名称</th>
                                            <th>状态</th>
                                            <th>费率</th>
                                            <th>最大限额</th>
                                            <th>最小限额</th>
                                            <th>IOS展示</th>
                                            <th>安卓展示</th>
                                            <th>IOS默认</th>
                                            <th>安卓默认</th>
                                            <th>pc展示</th>
                                            <th>移动展示</th>
                                            <th>pc默认</th>
                                            <th>移动默认</th>
                                            <th>收银台排序</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td><?=$info->platform_id;?></td>
                                                <td><?=$info->identifier;?></td>
                                                <td><?=$info->name;?></td>
                                                <td><?=$info->display_name;?></td>
                                                <td><?=$info->statusName[$info->status];?></td>
                                                <td><?=$info->rate;?></td>
                                                <td><?=$info->max_load;?></td>
                                                <td><?=$info->min_load;?></td>
                                                <?=$info->ios_show ? "<td class='success'>是" : "<td>否";?></td>
                                                <?=$info->android_show ? "<td class='success'>是" : "<td>否";?></td>
                                                <?=$info->ios_default ? "<td class='success'>是" : "<td>否";?></td>
                                                <?=$info->android_default ? "<td class='success'>是" : "<td>否";?></td>
                                                <?=$info->pc_show ? "<td class='success'>是" : "<td>否";?></td>
                                                <?=$info->mobile_show ? "<td class='success'>是" : "<td>否";?></td>
                                                <?=$info->pc_default ? "<td class='success'>是" : "<td>否";?></td>
                                                <?=$info->mobile_default ? "<td class='success'>是" : "<td>否";?></td>
                                                <td><?=$info->limit?></td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs btn-group">

                                                        <a href="/manage/dpsPlatform/edit?id=<?=$info->platform_id;?>" class="btn btn-xs btn-info">修改</a>

                                                        <?php if ($info->need_bank): ?>
                                                        <a href="/manage/dpsPlatform/deposit?id=<?=$info->platform_id;?>" class="btn btn-xs btn-info">充值</a>
                                                        <?php endif;?>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>

                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    function setInUse(obj) {
        var url = $(obj).attr('data-url');
        $.post(url,'',function(res){
            if ( res.success == 1) {

            }else{

            }
            location.reload();
        });
    }
</script>