<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>
                <?php View::display('page-header');?>

                <form id="validation-form" class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">App用户ID</label>
                        <div class="col-sm-3">
                            <input name="user_id" type="text" placeholder="appuserid" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">持卡人姓名</label>
                        <div class="col-sm-3">
                            <input name="card_name" type="text" placeholder="持卡人姓名" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">银行</label>
                        <div class="col-sm-3">
                            <select name="bank_id" class="input-xlarge">
                                <option value=""></option>
                                <?php foreach ($bankList as $id => $name): ?>
                                <option value="<?=$id?>"> <?=$name?> </option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">省</label>
                        <div class="col-sm-3">
                            <input name="province" type="text" value="" placeholder="province" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">市</label>
                        <div class="col-sm-3">
                            <input name="city" type="text" value="" placeholder="city" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">支行名称</label>
                        <div class="col-sm-3">
                            <input name="branc_name" type="text" value="" placeholder="支行名称" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">银行卡号</label>
                        <div class="col-sm-3">
                            <input name="card_no" type="text" placeholder="银行卡号" class="input-xlarge">
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div>

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    $('#validation-form').validate({
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        ignore: "",
        rules: {
            user_id: {
                required: true,
            },
            province: {
                required: true,
            },
            city: {
                required: true,
            },
            branc_name: {
                required: true,
            },
            card_name: {
                required: true,
            },
            card_no: {
                required: true,
                minlength: 15,
                maxlength: 19,
            },
            bank_id: {
                required: true,
            },
        },

        messages: {
            user_id: {
                required: "必填",
            },
            card_name: {
                required: "必填",
            },
            card_no: {
                required: "必填",
                minlength: "最小15位",
                maxlength: "最大19位",
            },
            bank_id: "必填",
        },


        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
            $(e).remove();
        },

        errorPlacement: function (error, element) {
            if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
        },

        submitHandler: function (form) {
            form.submit();
        },
        invalidHandler: function (form) {
        }
    });
</script>