<?php View::display('header'); ?>

    <body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.loadState('main-container')
            } catch (e) {
            }
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb') ?>

                <div class="page-content">
                    <?php View::display('settings'); ?>

                    <?php View::display('page-header'); ?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]); ?>

                    <a href="/manage/card/add?user_id=<?php echo !empty($_GET['user_id']) ? $_GET['user_id'] : ''; ?>" type="button" class="btn btn-default navbar-right">添加银行卡</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="detail-col">#</th>
                                                <th>APP用户ID</th>
                                                <th>APP用户名</th>
                                                <th>银行</th>
                                                <th>支行名称</th>
                                                <th>持卡人</th>
                                                <th>卡号</th>
                                                <th>状态</th>
                                                <th>创建时间</th>
                                                <th>是否使用</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td> <?= $info->card_id ?></td>
                                                <td> <?= $info->user_id; ?> </td>
                                                <td> <?= is_object($info->user)?$info->user->nickname:''; ?> </td>
                                                <td> <?= $info->bank->bank_name ?> </td>
                                                <td> <?= $info->branc_name ?> </td>
                                                <td> <?= $info->name ?> </td>
                                                <td> <?= $info->card_no ?> </td>
                                                <td> <?= $info::STATUS_ENUM[$info->status]; ?> </td>
                                                <td> <?= $info->created_at->format('Y-m-d H:i:s')?></td>

                                                <td><?php echo empty($info->deleted_at) ? "使用中" : "已删除" ; ?></td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs btn-group">
                                                        <?php if(!empty($info->deleted_at)): ?>
                                                        <button onclick="setInUse(this)" data-url="/manage/card/restore?id=<?= $info->card_id; ?>" class="btn btn-xs btn-success">
                                                            <i class="ace-icon fa fa-check bigger-120"></i>
                                                        </button>

                                                        <?php else: ?>
                                                        <button title="删除" onclick="setInUse(this)" data-url="/manage/card/del?id=<?= $info->card_id; ?>" class="btn btn-xs btn-danger">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </button>
                                                        <?php endif;?>

                                                        <a href="/manage/card/edit?id=<?= $info->card_id; ?>" class="btn btn-xs btn-info">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <?php View::display('paginate', ['info' => $list]); ?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts') ?>

<script type="text/javascript">
    function setInUse(obj) {
        var url = $(obj).attr('data-url');
        $.post(url,'',function(res){
            if ( res.success == 1) {
                
            }else{
                
            }
            location.reload();
        });
    }
</script>