<?php $menus = require(APPLICATION_PATH . '/conf/menu.conf.php'); ?>
<div id="sidebar" class="sidebar responsive ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="active">
            <a href="/manage/dashboard">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <?php foreach ($menus as $menu) : ?>
            <?php // pr($controller); ?>
            <?php // pr($menu['sideBar']); ?>
            <li class="<?php if(in_array($controller, $menu['sideBar'])){ echo 'active open';} ?>">
                <a href="<?= array_get($menu, 'link', '#') ?>"
                   <?php if ( ! empty($menu['childrens'])): ?>
                       class="dropdown-toggle"
                   <?php endif; ?>>
                    <i class="menu-icon fa fa-<?= array_get($menu, 'icon', 'desktop') ?>"></i>
                    <span class="menu-text"><?= array_get($menu, 'name', 'undefined') ?></span>

                    <?php if ( ! empty($menu['childrens'])): ?>
                        <b class="arrow fa fa-angle-down"></b>
                    <?php endif; ?>
                </a>

                <b class="arrow"></b>

                <?php if ( ! empty($menu['childrens'])): ?>
                    <ul class="submenu">
                        <?php foreach ($menu['childrens'] as $menu1): ?>
                            <li class="">
                                <a href="<?= array_get($menu1, 'link', '#') ?>"
                                    <?php if ( ! empty($menu1['childrens'])): ?>
                                        class="dropdown-toggle"
                                    <?php endif; ?>>
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    <?= array_get($menu1, 'name', 'undefined') ?>

                                    <?php if ( ! empty($menu1['childrens'])): ?>
                                        <b class="arrow fa fa-angle-down"></b>
                                    <?php endif; ?>
                                </a>


                                <?php if ( ! empty($menu1['childrens'])): ?>
                                    <ul class="submenu">
                                        <?php foreach ($menu1['childrens'] as $menu2): ?>
                                            <li class="">
                                                <a href="<?= array_get($menu2, 'link', '#') ?>"
                                                    <?php if ( ! empty($menu2['childrens'])): ?>
                                                        class="dropdown-toggle"
                                                    <?php endif; ?>>
                                                    <i class="menu-icon fa fa-caret-right"></i>
                                                    <?= array_get($menu2, 'name', 'undefined') ?>
                                                </a>

                                                <b class="arrow"></b>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                <?php endif; ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>