<?php View::display('header'); ?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
            try {
                ace.settings.loadState('main-container')
            } catch (e) {
            }
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
			<div class="main-content-inner">
                <?php View::display('breadcrumb') ?>

                <div class="page-content">
                    <?php View::display('settings'); ?>

                    <?php View::display('page-header'); ?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]); ?>

                    <div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<table id="simple-table"
										class="table  table-bordered table-hover">
										<thead>
											<tr>
												<th class="detail-col">#</th>
												<th>日期</th>
												<th>用户ID</th>
												<th>用户姓名</th>
												<th>用户余额</th>
												<th>充值成功</th>
												<th>提现扣除</th>
												<th>转账转出</th>
												<th>转账转入</th>
												<th>系统添加</th>
												<th>系统扣除</th>
												<th>提现返回</th>
												<th>测试添加</th>
												<th>测试扣除</th>
											</tr>
										</thead>
										<tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
												<td class="center">
													<div class="action-buttons">
                                                        <?= $info->id ?>
                                                    </div>
												</td>

												<td><?= $info->date ?></td>
												<td><?= $info->user_id ?></td>
												<td><?= $info->name ?></td>
												<td><?= $info->balance ?></td>
												<td><?= $info->recharge ?></td>
												<td><?= $info->withdraw ?></td>
												<td><?= $info->turnout ?></td>
												<td><?= $info->turnin ?></td>
												<td><?= $info->systemadd ?></td>
												<td><?= $info->systemdel ?></td>
												<td><?= $info->reback ?></td>
												<td><?= $info->testadd ?></td>
												<td><?= $info->testdel ?></td>
											</tr>
                                        <?php endforeach; ?>
                                        </tbody>
									</table>
                                    <?php View::display('paginate', ['info' => $list]); ?>
                                </div>
								<!-- /.span -->
							</div>
							<!-- /.row -->

							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div>
	<!-- /.main-container -->

<?php View::display('foot-scripts') ?>