<template>
  <div class="card-add">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>添加银行卡</h2>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-steps v-show="info.has_mobile" :active="step" finish-status="success" style="width: 80%;">
                <el-step title="银行信息"></el-step>
                <el-step title="步验证密码"></el-step>
              </el-steps>
              <el-steps v-show="!info.has_mobile" :active="step" finish-status="success" style="width: 80%;">
                <el-step title="银行信息"></el-step>
                <el-step title="验证手机"></el-step>
                <el-step title="验证密码"></el-step>
              </el-steps>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-form v-show="step === 0" class="title"  ref="form" label-position="left" label-width="80px">
                <span>请绑定一张支持提现本人的卡</span>
                <el-form-item label="持卡人">
                  <el-input v-model="formData.name" placeholder="请输入持卡人姓名" placeholder-align="right" :disabled="named"></el-input>
                </el-form-item>
                <span v-show="!named" style="color: #FF0000;text-align: right;">以后必须是同姓名的卡才可以绑定</span>
                <el-form-item label="卡号">
                  <el-input v-model="cardNum" :minlength="min" :maxlength="max" placeholder="请输入16到19位卡号" placeholder-align="right" type="tel" style="width: 300px;"></el-input>
                </el-form-item>
                <el-form-item label="卡号">
                  <el-select v-model="selected_bank" placeholder="请选择">
                    <el-option
                      v-for="item in banks[0]"
                      :key="item"
                      :label="item"
                      :value="item">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-form>
              <el-form v-show="step === 1 && !info.has_mobile" class="title"  ref="form" label-position="left" label-width="80px">
                <el-form-item label="手机号">
                   <el-input v-model="formData.mobile" placeholder="请输入银行预留手机号" :maxlength="mobile_max"></el-input>
                 </el-form-item>
                 <el-form-item label="验证码">
                   <el-input v-model="formData.vcode" placeholder="请填写验证码" :maxlength="code_max"></el-input>
                   <el-button v-bind:type="vcode_status.type"  @click.native="sendCode" v-bind:disabled="vcode_status.disabled">
                     发送验证码
                   </el-button>
                 </el-form-item>
              </el-form>
              <el-form v-show="step === 2 || (step === 1 && info.has_mobile)" class="title"  ref="form" label-position="left" label-width="80px">
                 <el-form-item label="资金密码">
                   <el-input v-model="formData.fund_pin" placeholder="请请输入资金密码" type="password" :maxlength="vcode_max"></el-input>
                 </el-form-item>
              </el-form>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-button type="primary" @click="nextStep" :disabled="next_disabled">{{buttonText}}</el-button>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        named: true,
        min: 16,
        max: 19,
        vcode_max: 6,
        mobile_max: 11,
        code_max: 4,
        card_warning: '',
        info: {
          has_mobile: false
        },
        step: 0,
        step_label: 5,
        selected_bank: '',
        formData: {
          name: '',
          cardNum: '',
          bank: '',
          mobile: '',
          vcode: '',
          fund_pin: ''
        },
        cardSelector: {
          show: false
        },
        cardNum: '',
        showAlert: false,
        buttonText: '下一步',
        vcode_status: {
          send: false,
          disabled: false,
          type: 'primary',
          start: false,
          show: false,
          countdown_sec: 15,
          btn_label: '发送验证码'
        },
        vcode_focus: false,
        fund_pin_focus: false,
        password_show: false,
        next_disabled: true,
        banks: [[
          '中国工商银行',
          '招商银行',
          '中国建设银行',
          '中国农业银行',
          '中国银行',
          '交通银行',
          '中国民生银行',
          '中信银行',
          '上海浦东发展银行',
          '中国邮政储蓄银行',
          '中国光大银行',
          '平安银行',
          '广东发展银行',
          '华夏银行',
          '兴业银行'
        ]],
        bank_index: {
          '中国工商银行': {
            'id': 1,
            'icon': '../../static/images/banks/ICBC.png'
          },
          '招商银行': {
            'id': 2,
            'icon': '../../static/images/banks/CMB.png'
          },
          '中国建设银行': {
            'id': 3,
            'icon': '../../static/images/banks/CCB.png'
          },
          '中国农业银行': {
            'id': 4,
            'icon': '../../static/images/banks/ABC.png'
          },
          '中国银行': {
            'id': 5,
            'icon': '../../static/images/banks/BOC.png'
          },
          '交通银行': {
            'id': 6,
            'icon': '../../static/images/banks/COMM.png'
          },
          '中国民生银行': {
            'id': 7,
            'icon': '../../static/images/banks/CMBC.png'
          },
          '中信银行': {
            'id': 8,
            'icon': '../../static/images/banks/CITIC.png'
          },
          '上海浦东发展银行': {
            'id': 9,
            'icon': '../../static/images/banks/SPDB.png'
          },
          '中国邮政储蓄银行': {
            'id': 10,
            'icon': '../../static/images/banks/PSBC.png'
          },
          '中国光大银行': {
            'id': 11,
            'icon': '../../static/images/banks/CEBB.png'
          },
          '平安银行': {
            'id': 12,
            'icon': '../../static/images/banks/PAB.png'
          },
          '广东发展银行': {
            'id': 13,
            'icon': '../../static/images/banks/GDB.png'
          },
          '华夏银行': {
            'id': 14,
            'icon': '../../static/images/banks/HXBANK.png'
          },
          '兴业银行': {
            'id': 15,
            'icon': '../../static/images/banks/CIB.png'
          }
        }
      }
    },
    watch: {
      cardNum: function (newVal, oldVal) {
        if (newVal === oldVal) {
          return
        }
        this.selected_bank = ''
        if (newVal.length >= 16) {
          this.getBankInfo(newVal)
        }
      }
    },
    mounted () {
      this.loadUser()
    },
    methods: {
      loadUser () {
        var self = this
        self.$models.User.info().then(function (response) {
          if (response.data.success !== 1) {
            self.$router.push('/not-login')
          }
          self.loaded = true
          self.info = response.data.data
          self.checkFundPin()
        })
      },
      checkFundPin () {
        var self = this
        if (!self.info.has_fund_pin) {
          self.$vux.alert.show({
            title: '您还没有资金密码',
            content: '点击确定前往设置',
            onHide () {
              self.$router.replace({
                path: '/funds/reset',
                query: {
                  from_url: self.$route.path
                }
              })
            }
          })
        } else {
          this.loadUserName()
        }
      },
      nextStep () {
        if (this.step === 0) {
          return this.step0()
        }
        if (this.step === 1) {
          if (this.info.has_mobile) {
            return this.step2()
          } else {
            return this.step1()
          }
        }
        if (this.step === 2) {
          return this.step2()
        }
      },
      addStep () {
        const self = this
        self.step = ++self.step % 3
        if ((self.step === 1 && self.info.has_mobile) || self.step === 2) {
          self.setFocus(2)
          self.buttonText = '提交'
          self.fund_pin_focus = true
        }
      },
      getBankInfo (cardNo) {
        const self = this
        this.$models.Card.bank({card_no: cardNo}).then(function (response) {
          if (response.data.success) {
            self.selected_bank = response.data.data.bank
            self.next_disabled = false
            self.card_warning = ''
            self.card_gutter = '37px'
          } else {
            self.selected_bank = ''
            self.next_disabled = true
            self.card_warning = response.data.message
            self.card_gutter = '0px'
          }
        })
      },
      getBankIcon (bank) {
        return ''
      },
      changeBank () {
        this.cardNum = ''
        this.formData.cardNum = ''
      },
      loadUserName () {
        const self = this
        this.$models.User.name().then(function (response) {
          if (response.data.success) {
            self.formData.name = response.data.data.name
            if (response.data.data.name === '') {
              self.named = false
            } else {
              self.named = true
            }
          }
        })
      },
      setFocus (value) {
        const self = this
        self.vcode_focus = false
        self.fund_pin_focus = false
        switch (value) {
          case 1:
            self.vcode_focus = true
            self.password_show = true
            break
          case 2:
            self.fund_pin_focus = true
            self.password_show = true
            break
          default:
            self.password_show = false
            break
        }
      },
      sendCode () {
        const self = this
        if (self.formData.mobile === '') {
          self.$message({
            message: '请填写手机号',
            type: 'warning'
          })
          return false
        }
        if (!(/^1[34578]\d{9}$/.test(this.formData.mobile))) {
          self.$message({
            message: '请检查手机号',
            type: 'warning'
          })
          return false
        }
        this.$models.User.mobileCode({mobile: self.formData.mobile}).then(function (response) {
          if (response.data.success !== 1) {
            self.$message({
              message: response.data.message,
              type: 'warning'
            })
            return false
          } else {
            self.vcode_status.send = true
            self.vcode_status.disabled = true
            self.vcode_status.type = 'default'
            self.vcode_status.start = true
            self.vcode_status.show = true
            self.vcode_status.countdown_sec = 15
            self.$message({
              message: '验证码已发送，请留意手机短信',
              type: 'success'
            })
          }
        })
      },
      vcodeCountdownFinish () {
        const self = this
        self.vcode_status.type = 'primary'
        self.vcode_status.start = false
        self.vcode_status.show = false
        self.vcode_status.disabled = false
      },
      inputMax () {
        const self = this
        self.formData.vcode = self.$refs.vcode_input.password_value
      },
      inpuVerificationMax (value) {
        const self = this
        self.formData.fund_pin = this.$refs.password.password_value
        self.nextStep()
      },
      inputKeyboard (value) {
        const self = this
        if (value === -2) {
          self.password_show = false
          return
        }
        if (self.vcode_focus) {
          self.$refs.vcode_input.inputKey(value)
          self.formData.vcode = self.$refs.vcode_input.password_value
        } else if (self.fund_pin_focus) {
          self.$refs.password.inputKey(value)
        }
      },
      step0 () {
        const self = this
        if (this.formData.name === '') {
          this.$message({
            message: '请填写姓名',
            type: 'warn'
          })
          return false
        }
        if (this.cardNum === '') {
          this.$message({
            message: '请填写卡号',
            type: 'warn'
          })
          return false
        }
        if (this.selected_bank === '' || this.cardNum.length < 16) {
          this.$message({
            message: '请检查卡号',
            type: 'warn'
          })
          return false
        }
        this.$models.Card.check({'card_no': this.cardNum}).then(function (response) {
          if (response.data.success !== 1) {
            self.$message({
              message: response.data.message,
              type: 'warn'
            })
            return false
          }
          self.addStep()
          self.formData.cardNum = self.cardNum
        })
        return true
      },
      step1 () {
        if (this.formData.mobile === '') {
          this.$message({
            message: '请填写手机号',
            type: 'warn'
          })
          return false
        }
        if (!this.vcode_status.send) {
          this.$message({
            message: '请先获取验证码',
            type: 'warn'
          })
          return false
        } else {
          if (this.formData.vcode.length < 4) {
            this.$message({
              message: '请填写4位数字验证码',
              type: 'warn'
            })
            return false
          }
        }
        if (!(/^1[34578]\d{9}$/.test(this.formData.mobile))) {
          this.$message({
            message: '请检查手机号',
            type: 'warn'
          })
          return false
        }

        this.addStep()
        return true
      },
      step2 () {
        const self = this
        // 检查资金资金密码
        if (self.formData.fund_pin === '') {
          self.$message({
            message: '请填写资金密码',
            type: 'warning'
          })
          return
        }
        self.formData.bank = self.bank_index[self.selected_bank].id

        self.$models.Card.add(self.formData).then(function (response) {
          if (response.data.success !== 1) {
            self.$message({
              message: response.data.message,
              type: 'error'
            })
            return
          }
          self.$message({
            message: '新增银行卡成功',
            type: 'success'
          })
          let timer = setInterval(function () {
            clearInterval(timer)
            if (self.$router.currentRoute.query.from_url) {
              self.$router.replace({
                path: self.$router.currentRoute.query.from_url,
                has_fund_pin: true
              })
            } else {
              self.$router.replace({
                path: '/card/list'
              })
            }
          }, 3000)
        })
      },
      onShowPassword () {
        this.$refs.password.clear()
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      }
    }
  }
</script>

<style>
  .title {
    margin-top: 30px;
  }
</style>