<template>
  <div class="card-list">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>我的银行卡</h2>
            </el-row>
            <el-button @click="addCard()">添加银行卡</el-button>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-table :data="cards" style="width: 100%">
                <el-table-column prop="card_no" label="银行卡号">
                </el-table-column>
                <el-table-column prop="bank.bank_name" label="银行名称" width="180">
                </el-table-column>
                <el-table-column label="操作" width="180">
                  <template slot-scope="scope">
                    <el-button @click="del(scope.row)" type="text" size="small">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
            </el-row>
          </el-col>
        </el-row>
        <password id="password" ref="password"  v-show="password_show" @close="password_show = false" @confirm="inputMax"></password>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        has_fund_pin: null,
        mobile: null,
        cards: [],
        current_card: null,
        submitting: false,
        password_show: false,
        list_load: false,
        del_show: false,
        del_desc: '',
        no_data: '您还没有添加银行卡哦',
        fund_pin: '',
        banks: {
          'ICBC': '中国工商银行',
          'CMB': '招商银行',
          'CCB': '中国建设银行',
          'ABC': '中国农业银行',
          'BOC': '中国银行',
          'COMM': '交通银行',
          'CMBC': '中国民生银行',
          'CITIC': '中信银行',
          'SPDB': '上海浦东发展银行',
          'PSBC': '中国邮政储蓄银行',
          'CEB': '中国光大银行',
          'SPABANK': '平安银行',
          'GDB': '广东发展银行',
          'HXBANK': '华夏银行',
          'CIB': '兴业银行'
        }
      }
    },
    created () {
      var self = this
      self.has_fund_pin = this.$route.query.has_fund_pin
      self.mobile = this.$route.query.mobile
    },
    mounted () {
      this.loadUserCards()
    },
    methods: {
      gotoBindCard () {
        const self = this
        self.$vux.alert.show({
          title: '您还没有绑定过银行卡',
          content: '点击确定绑定银行卡',
          onHide () {
            self.$router.replace({
              path: '/card/add',
              query: {
                from_url: self.$route.path
              }
            })
          }
        })
      },
      gotoSetFundPin () {
        var self = this
        self.$vux.alert.show({
          title: '您还没有资金密码',
          content: '点击确定前往设置',
          onHide () {
            self.$router.replace({
              path: '/funds/reset',
              query: {
                from_url: '/card/add',
                has_fund_pin: self.has_fund_pin,
                mobile: self.mobile
              }
            })
          }
        })
      },
      del (card) {
        var self = this
        if (self.cards.length === 0) {
          self.$message({
            message: '对不起，你就剩一张银行卡了，不能删除',
            type: 'warning'
          })
        } else {
          self.del_show = true
          var temp = card.card_no
          var cardNo = temp.replace(new RegExp(/[* ]/g), '')
          self.del_desc = '确定删除卡号尾数为' + cardNo + '的银行卡吗？'
          self.current_card = card
          this.$confirm(self.del_desc, '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            self.delConfirm()
          })
        }
      },
      delConfirm () {
        var self = this
        self.del_show = false
        self.password_show = true
        self.$refs.password.model = true
      },
      onShowPassword () {
        this.$refs.password.clear()
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      },
      inputMax () {
        const self = this
        self.fund_pin = self.$refs.password.password_value
        self.password_show = false
        if (!self.submitting) {
          self.submitting = true
          self.submitDel(self.current_card)
        }
      },
      inputKeyboard (value) {
        const self = this
        self.$refs.password.inputKey(value)
      },
      loadUserCards () {
        var self = this
        self.$models.Card.list().then(function (response) {
          if (response.data.success) {
            self.cards = response.data.data.cards
            if (self.cards.length === 0) {
              if (self.has_fund_pin) {
                self.gotoBindCard()
              } else {
                self.gotoSetFundPin()
              }
            }
            self.list_load = true
          }
        })
      },
      getBankIcon (bank) {
        for (let a in this.banks) {
          if (bank === this.banks[a]) {
            return '../../../static/images/ui/cards/' + a + '.png'
          }
        }
      },
      submitDel (card) {
        var self = this
        self.$models.Card.delete({card_id: card.card_id, fund_pin: self.fund_pin}).then(function (response) {
          self.submitting = false
          if (response.data.success !== 1) {
            self.$message({
              message: response.data.message,
              type: 'warning'
            })
            return
          }
          self.loadUserCards()
        })
      },
      addCard () {
        var self = this
        self.$router.replace({
          path: '/card/add'
        })
      }
    }
  }
</script>

<style scoped>
  .title {
    margin-top: 30px;
  }
</style>