<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>
                <?php View::display('page-header');?>

                <form id="validation-form" class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">用户昵称: </label>
                        <div class="col-sm-3">
                            <input readonly="" type="text" value="<?=$oUser->nickname;?>" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">资金:</label>
                        <div class="col-sm-3">
                            <input readonly="" type="text" value="<?= is_object($oUser->account) ? $oUser->account->balance: 0;?>" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">帐变类型</label>
                        <div class="col-sm-5">
                            <?php foreach ($operateGoldList as $key => $value): ?>
                            <label class="btn btn-b btn-default btn-sm">
                                <input type="radio" name="transaction_type" value="<?=$key?>"><?=$value?>
                            </label>
                            <?php endforeach?>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">备注</label>
                        <div class="col-sm-3">
                            <input name="remarks" type="text" placeholder="备注" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">金额</label>
                        <div class="col-sm-3">
                            <input name="amount" type="text" placeholder="" class="input-xlarge">
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Reset
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div>

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    $('#validation-form').validate({
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        ignore: "",
        rules: {
            remarks: {
                required: true,

            },
            transaction_type: {
                required: true,
            },
            amount: {
                required: true,
            },
        },

        messages: {
            user_id: {
                required: "必填",
            },
            card_no: {
                required: "必填",
            },
            bank_id: "必填",
        },


        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
            $(e).remove();
        },

        errorPlacement: function (error, element) {
            if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
        },

        submitHandler: function (form) {
            form.submit();
        },
        invalidHandler: function (form) {
        }
    });
</script>