<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]);?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb')?>

            <div class="page-content">
                <?php View::display('settings');?>
                <?php View::display('page-header');?>

                <form id="validation-form" class="form-horizontal" role="form" method="">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">用户昵称: </label>
                        <div class="col-sm-3">
                            <input readonly="" type="text" value="<?=$userInfo->nickname;?>" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">用户ID</label>
                        <div class="col-sm-3">
                            <input readonly="" type="text" value="<?=$userInfo->user_id;?>" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">电话</label>
                        <div class="col-sm-3">
                            <input readonly="" type="text" value="<?=$userInfo->mobile;?>" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">名称</label>
                        <div class="col-sm-3">
                            <input readonly="" type="text" value="<?=$userInfo->name;?>" class="input-xlarge">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">注册时间</label>
                        <div class="col-sm-3">
                            <input readonly="" type="text" value="<?=$userInfo->created_at;?>" class="input-xlarge">
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <?php View::display('footer');?>

    <?php View::display('scroll-up');?>
</div>

<?php View::display('foot-scripts')?>