<?php View::display('header'); ?>

    <body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.loadState('main-container')
            } catch (e) {
            }
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb') ?>

                <div class="page-content">
                    <?php View::display('settings'); ?>

                    <?php View::display('page-header'); ?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]); ?>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="detail-col">#</th>
                                            <th>用户名</th>
                                            <th>昵称</th>
                                            <th>时间</th>
                                            <th>最近登录详情</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td class="center">
                                                    <div class="action-buttons">
                                                        <?= $info->user_id ?>
                                                    </div>
                                                </td>

                                                <td><?= $info->name ?></td>

                                                <td><?= $info->nickname ?></td>

                                                <td><?= $info->created_at->format('Y-m-d H:i:s') ?></td>

                                                <td>
                                                <?php 
                                                    $logIp = $info->ips()->orderBy('created_at', 'desc')->limit(5)->get();
                                                    if ( !$logIp->isEmpty() ) {
                                                        foreach ($logIp as $ip) {
                                                            echo "IP：$ip->ip, 时间：$ip->created_at </br>";
                                                        }
                                                    }
                                                ?>
                                                </td>

                                                <td>
                                                    <div class="btn-group">
                                                        <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">
                                                            查看
                                                            <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-info dropdown-menu-right">
                                                            <li>
                                                                <a href="/manage/deposit/list?user_id=<?= $info->user_id?>">充值记录</a>
                                                            </li>

                                                            <li>
                                                                <a href="/manage/withdrawal/list?user_id=<?= $info->user_id?>">提现记录</a>
                                                            </li>

                                                            <li>
                                                                <a href="/manage/transaction/list?user_id=<?= $info->user_id?>">账变记录</a>
                                                            </li>

                                                            <li>
                                                                <a href="/manage/card/list?user_id=<?= $info->user_id?>">银行卡</a>
                                                            </li>

                                                            <li>
                                                                <a href="/manage/userplatform/list?user_id=<?= $info->user_id?>">充值渠道</a>
                                                            </li>

                                                            <li>
                                                                <a href="/manage/user/info?user_id=<?= $info->user_id?>">用户详情</a>
                                                            </li>

                                                            <!-- <li class="divider"></li> -->
                                                        </ul>
                                                    </div>
                                                    
                                                    <a class="btn btn-sm btn-danger" href="/manage/user/goldoperate?user_id=<?= $info->user_id?>">资金操作</a>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <?php View::display('paginate', ['info' => $list]); ?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts') ?>