<template>
  <div class="withdrawal-add" style="height: 100%">
    <view-box body-padding-top="50px" body-padding-bottom="50px">
      <x-header slot="header" title="提现" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right" :to="{path: '/withdrawal/list'}">提现记录</router-link>
      </x-header>
      <template slot="default">
        <group gutter="0">
          <cell is-link v-on:click.native="showCardSelector" style="min-height: 56px;">
            <span slot="title">{{card.value.name}}</span>
            <span slot="inline-desc">{{card.value.num}}</span>
            <img slot="icon" class="circular-shape rmargin-10px" width="50" :src="card.icon">
          </cell>
        </group>
        <group title="为提高到账效率，请您补全银行卡资料" v-if="need_branch">
          <popup-picker ref="branch_picker" title="开户地" :data="branches" :columns="3" v-model="branch" show-name></popup-picker>
          <x-input title="开户网点" placeholder="请输入网点名称" placeholder-align="right" text-align="right" v-model="branc_name"></x-input>
        </group>
        <group title="" v-else>
          <x-input title="开户地" :placeholder="branch_province_city" placeholder-align="right" text-align="right" :disabled="true" :readonly="true"></x-input>
          <x-input title="开户网点" :placeholder="branc_name_show" placeholder-align="right" text-align="right" :disabled="true" :readonly="true"></x-input>
        </group>
        <group gutter="10px" :title="'提现积分：(可用积分'+ usable_balance +')'">
          <x-input title="¥" :placeholder="balance_placeholder" type="number" label-width="30px" v-model="amount" :max="8" @on-change="withdrawalChange" style="font-size: 1.5em;padding-top: 50px;padding-bottom: 10px;"></x-input>
          <cell>
            <template slot="title">
              <label style="padding: 10px;font-size: 0.8em;color: red;">{{balance_tips}}</label>
            </template>
            <template slot="value">
              <label class="font-green" style="padding: 10px;font-size: 0.8em;" @click="withdrawalAll">全部提现</label>
            </template>
          </cell>
        </group>
        <box gap="25px 15px">
          <x-button text="两小时内到账，确认提现" type="primary" @click.native="withdrawalClick" :disabled="submit_disabled"></x-button>
          <x-button plain type="primary" class="link_btn" @click.native="forgotPassword"><span style="padding-bottom:5px; border-bottom:1px solid #4dcc63;font-size: 16px;">忘记密码?</span></x-button>
        </box>
        <popup v-model="popup_show" height="80%"  @on-hide="onHidePopUp" style="background: #FFFFFF;">
          <div v-show="price_show">
            <x-header class="vux-popup-header" slot="header" title="收费提示" :left-options="{showBack: false}" style="width:100%;position:absolute;left:0;top:0;z-index:100;">
              <a slot="right" type="close" @click="closePrice" style="font-size: 1.5em;">✕</a>
            </x-header>
            <box gap="70px 0px">
              <group-title style="color: #666666;">积分不足以支付服务费，实际到账金额如下</group-title>
              <group>
                <cell title="到账积分"><span style="color: #ff0000;"> {{withdrawal_amount}}</span></cell>
                <cell title="本次服务费" :value="charge"></cell>
              </group>
              <div style="position: absolute;bottom: 0px;width: 100%;">
                <x-button text="继续提现" type="primary" @click.native="continueClick" :disabled="submit_disabled" style="width: 95%;border-top: none;margin-bottom: 5px;"></x-button>
              </div>
            </box>
          </div>
          <div v-show="password_show">
            <x-header class="vux-popup-header" slot="header" title="" :left-options="{showBack: false}" style="width:100%;position:absolute;left:0;top:0;z-index:100;border-bottom: 1px solid #D9D9D9;">
              <span>输入资金密码</span>
              <a slot="right" type="close" @click="closePassword" style="font-size: 1.5em;">✕</a>
            </x-header>
            <box gap="70px 0px">
              <group-title style="text-align: center;color: #000000;"><span>提现</span><span style="font-size: 1.8rem;">{{withdrawal_amount}}积分</span><br><span class="font-grey">服务费{{charge}}积分 </span><span class="font-grey" v-if="!need_fee">(本次免手续费)</span></group-title>
              <password id="password" ref="password" v-on:input-max="inputMax"></password>
              <tabbar>
                <keyboard @input-keyboard="inputKeyboard"></keyboard>
              </tabbar>
            </box>
          </div>
        </popup>
        <popup v-model="cardSelector.show" height="80%">
          <div class="withdrawal-card-selector">
            <x-header class="vux-popup-header" slot="header" title="" :left-options="{showBack: false}">
              <span>选择银行卡</span>
              <a slot="right" type="close" @click="closeCardSelector" style="font-size: 1.5em;">✕</a>
            </x-header>
            <group gutter="0">
              <radio :options="cards" v-model="cardId" @on-change="selectCard">
                <template slot-scope="props" slot="each-item">
                  <p>
                    <img :src="props.icon" class="rmargin-5px" style="float: left" width="50">
                    <span>{{ props.label.name }}</span><br/>
                    <span>{{ props.label.num }}</span>
                  </p>
                </template>
              </radio>
            </group>
          </div>
        </popup>
        <div>
          <popup v-model="show_guide" @on-hide="checkCard" style="background: none;width: 100%;height: 100%;">
            <div style="width: 100%;height: 100%;text-align: center;">
              <img src="../../../static/images/guide/1.png" style="width: 100%;position: absolute;top: 0px;left: 0px;" />
              <x-button style="position: absolute;height: 100%;width: 100%;opacity: 0;" @click.native="hideGuide"></x-button>
            </div>
          </popup>
        </div>
        <p class="copy-right">© BestPay</p>
      </template>
    </view-box>
  </div>
</template>
<script>
  import $ from 'jquery'
  import CryptoJS from 'crypto-js'
  import AddressList from '../card/address.json'
  export default{
    data () {
      return {
        title: '提现',
        info: null,
        balance_placeholder: '',
        usable_balance: 0.00,
        card: {
          value: {
            name: '',
            num: ''
          },
          icon: ''
        },
        cardId: null,
        cards: [],
        cardSelector: {
          show: false
        },
        amount: '',
        withdrawal_amount: 0,
        charge_percent: 0.02,
        charge: 0,
        need_fee: true,
        need_fee_amount: 2000,
        fund_pin: '',
        submit_disabled: true,
        popup_show: false,
        price_show: false,
        password_show: false,
        show_guide: false,
        balance_tips: '',
        submitting: false,
        showBankProfile: true,
        need_branch: false,
        branches: AddressList,
        branch: ['1', '35'],
        branc_name: '',
        branch_province_city: '',
        branc_name_show: '',
        vcode: '',
        vcode_status: {
          send: false,
          disabled: false,
          type: 'primary',
          start: false,
          show: false,
          countdown_sec: 15,
          btn_label: '发送验证码'
        },
        mobile: ''
      }
    },
    mounted () {
      $('.weui-tabbar:before').css('border-top', 'none')
      const self = this
      self.$models.User.info().then(function (response) {
        if (response.data.success !== 1) {
          self.$router.push('/not-login')
        }
        self.loaded = true
        self.info = response.data.data
        self.mobile = self.info.mobile
        self.usable_balance = Number(self.info.usable_gold).toFixed(0)
        self.balance_placeholder = '可提现' + self.usable_balance.toString()
        self.need_fee = self.info.need_withdrawal_fee
        self.$models.Card.list().then(function (response1) {
          if (!response.data.success) {
            self.$vux.toast.show({
              text: response1.data.message,
              type: 'warn'
            })
            return false
          }
          self.cards = []
          for (let card of response1.data.data.cards) {
            self.cards = self.cards.concat([{
              key: card.card_id,
              value: {
                name: card.bank.bank_name,
                num: card.card_no,
                province: card.province,
                city: card.city,
                branc_name: card.branc_name
              },
              icon: self.getBankIcon(card.bank)
            }])
          }
          self.checkGuide()
        })
      })
    },
    methods: {
      checkGuide () {
        var self = this
        self.show_guide = !self.info.has_fund_pin
        self.show_guide ? null : this.checkCard()
      },
      hideGuide () {
        var self = this
        self.show_guide = false
        self.checkCard()
      },
      checkCard () {
        var self = this
        if (self.cards.length > 0) {
          self.card = self.cards[0]
          self.cardId = self.cards[0].key
          self.submit_disabled = false
          self.checkCardNeedBranch(self.card)
        } else {
          self.submit_disabled = true
          self.gotoBindCard()
        }
      },
      checkCardNeedBranch (card) {
        if (card.branc_name === '' || card.province === '' || card.city === '') {
          this.need_branch = true
        } else {
          this.branch_province_city = card.province + ' ' + card.city
          this.branc_name_show = card.branc_name
          this.need_branch = false
        }
      },
      withdrawalAll () {
        this.amount = this.usable_balance
      },
      showCardSelector () {
        this.cardSelector.show = true
      },
      closeCardSelector () {
        this.cardSelector.show = false
      },
      selectCard (key) {
        this.card = this.cards.filter(function (obj) {
          if (obj.key === key) return obj
        })[0]

        this.checkCardNeedBranch(this.card.value)
        this.closeCardSelector()
      },
      withdrawalChange (value) {
        const self = this
        if (Number(value) > self.usable_balance) {
          self.balance_tips = '提现超过可提现积分'
        } else {
          self.balance_tips = ''
        }
        self.need_fee = self.info.need_withdrawal_fee
        if (self.need_fee) {
          self.charge = Math.round(value * (self.charge_percent * Number(self.need_fee)))
        } else {
          if (Number(value) <= Number(self.need_fee_amount)) {
            self.charge = 0
          } else {
            self.charge = Math.round((value - self.need_fee_amount) * self.charge_percent)
          }
        }
      },
      forgotPassword () {
        var self = this
        self.$router.replace({
          path: '/funds/reset',
          query: {
            has_fund_pin: self.info.has_fund_pin,
            mobile: self.info.mobile
          }
        })
      },
      withdrawalClick () {
        var self = this
        if (self.info.user_id !== '1515') {
          if (Number(self.amount) < 100) {
            this.$vux.alert.show({
              content: '提现积分不能少于100'
            })
            return
          }
        }
        if (Number(self.amount) > Number(self.usable_balance)) {
          this.$vux.alert.show({
            content: '超过可提现积分'
          })
        } else if (self.need_fee) {
          if (Number(self.amount) + Number(self.charge) <= Number(self.usable_balance)) {
            self.popup_show = true
            self.password_show = true
            self.withdrawal_amount = self.amount
          } else if (Number(self.amount) <= Number(self.usable_balance) && Number(self.amount) + Number(self.charge) > Number(self.usable_balance)) {
            self.popup_show = true
            self.price_show = true
            self.withdrawal_amount = self.amount - self.charge
            self.charge = Math.round(self.withdrawal_amount * self.charge_percent)
            var dValue = self.withdrawal_amount + self.charge - self.amount
            if (dValue > 0) {
              self.withdrawal_amount -= dValue
              self.charge = Math.round(self.withdrawal_amount * (self.charge_percent * Number(self.need_fee)))
            }
          }
        } else if (!self.need_fee) {
          if (Number(self.amount) < Number(self.usable_balance)) {
            self.popup_show = true
            self.password_show = true
            self.withdrawal_amount = self.amount
          } else {
            self.popup_show = true
            self.price_show = true
            self.withdrawal_amount = self.amount - self.charge
          }
        }
      },
      inputKeyboard (value) {
        const self = this
        self.$refs.password.inputKey(value)
      },
      continueClick () {
        var self = this
        self.price_show = false
        self.password_show = true
      },
      showPassword () {
        const self = this
        if (self.amount === 0) {
          self.$vux.toast.show({
            type: 'warn',
            text: '请输入提现金额'
          })
          return
        }
        if (!self.info.has_fund_pin) {
          self.$vux.alert.show({
            title: '您还没有资金密码',
            content: '点击确定前往设置',
            onHide () {
              self.$router.replace({
                path: '/funds/reset'
              })
            }
          })
          return
        }
        this.password_show = true
      },
      inputMax () {
        const self = this
        self.fund_pin = self.$refs.password.password_value
        if (!self.submitting) {
          self.submitting = true
          self.submit()
        }
      },
      submit () {
        const self = this

        var formData = {
          card_id: self.cardId,
          amount: self.withdrawal_amount,
          fund_pin: CryptoJS.AES.encrypt(self.fund_pin, this.aesPassphrase).toString()
        }

        if (self.need_branch) {
          formData.province = self.$refs.branch_picker.getNameValues().split(' ')[0]
          formData.city = self.$refs.branch_picker.getNameValues().split(' ')[1]
          formData.branc_name = self.branc_name
        }
        self.$models.Withdrawal.create(formData).then(function (response) {
          if (!response.data.success) {
            self.submitting = false
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            return
          }
          self.$router.replace({
            path: '/withdrawal/detail',
            query: {
              id: response.data.data.withdrawal_id
            }
          })
        })
      },
      getBankIcon (bank) {
        return '../../static/images/banks/' + bank.identifier + '.png'
      },
      gotoBindCard () {
        const self = this
        self.$vux.alert.show({
          title: '您还没有绑定过银行卡',
          content: '点击确定绑定银行卡',
          onHide () {
            self.$router.replace({
              path: '/card/add',
              query: {
                from_url: self.$route.path
              }
            })
          }
        })
      },
      closePrice () {
        const self = this
        self.popup_show = false
        self.price_show = false
      },
      closePassword () {
        const self = this
        self.popup_show = false
        self.password_show = false
      },
      onHidePopUp (e) {
        const self = this
        self.price_show = false
        self.password_show = false
      },
      onShowPassword () {
        const self = this
        self.$refs.password.clear()
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      },
      sendCode () {
        const self = this
        this.$models.User.mobileCode().then(function (response) {
          if (response.data.success !== 1) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '70%'
            })
            return false
          } else {
            self.vcode_status.disabled = true
            self.vcode_status.type = 'default'
            self.vcode_status.start = true
            self.vcode_status.countdown_sec = 15
            self.vcode_status.send = true
            self.vcode_status.show = true
            self.$vux.toast.show({
              type: 'success',
              text: '验证码已发送，请留意手机短信',
              width: '70%'
            })
          }
        })
        self.code_focus = true
        self.new_fund_pin_focus = false
        self.confirm_fund_pin_focus = false
      },
      vcodeCountdownFinish () {
        const self = this
        self.vcode_status.type = 'primary'
        self.vcode_status.start = false
        self.vcode_status.show = false
        self.vcode_status.disabled = false
      }
    }
  }
</script>
<style lang="less" scoped>
  .link_btn {
    background: none;
    color: #4dcc63;
    border: none;
    font-size: 14px;
  }

  .vux-popup-header {
    position: relative;
    padding: 3px 0;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .vux-popup-header .vux-header-title span{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }
  .weui-btn:after {
    border: none
  }
</style>
