<template>
  <div class="withdrawal-detail" style="height: 100%;">
    <view-box body-padding-top="50px" body-padding-bottom="0">
      <x-header slot="header" title="提现详情" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <template slot="default">
        <msg icon="success" title="提现申请已提交" :description="'预计到账时间：' + redict_time"></msg>
        <group>
          <form-preview header-label="提现金额" :header-value="'¥ ' + amount" :body-items="list"></form-preview>
        </group>
        <box gap="25px 15px">
            <x-button @click.native="back" type="primary">完成</x-button>
        </box>
      </template>
    </view-box>
    <p class="copy-right">© BestPay</p>
  </div>
</template>
<script>
  import {Msg, FormPreview} from 'vux'

  export default{
    data () {
      return {
        amount: 0,
        redict_time: '',
        list: []
      }
    },
    mounted () {
      const self = this
      self.$models.Withdrawal.info({
        withdrawal_id: self.$route.query.id
      }).then(function (response) {
        if (!response.data.success) {
          self.$vux.toast.text(response.data.message, 'warn')
        }

        self.amount = response.data.data.amount
        self.redict_time = response.data.data.redict_time
        var temp = response.data.data.card_no
        var cardNo = temp.replace(new RegExp(/[* ]/g), '')
        self.list = [
          {
            label: '订单编号',
            value: response.data.data.order_no
          },
          {
            label: '到账账号',
            value: response.data.data.bank_name + ' 尾号' + cardNo
          },
          {
            label: '手续费',
            value: '¥ ' + response.data.data.fee
          }
        ]
      })
    },
    methods: {
      back () {
        const self = this
        self.$router.replace({
          path: '/',
          query: {
            from_url: self.$route.path
          }
        })
      }
    },
    components: {
      Msg,
      FormPreview
    }
  }
</script>
