<template>
  <div class="withdrawal_list" style="height: 100%">
    <view-box body-padding-top="50px" body-padding-bottom="0">
      <x-header slot="header" title="提现记录" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right" :to="{path: '/withdrawal'}">立即提现</router-link>
      </x-header>
      <template v-if="loading_data && !refresh_data">
        <load-more tip="正在加载"></load-more>
      </template>
      <template v-if="!loading_data && view_list.length == 0">
        <box gap="100px 20px">
           <flexbox orient="vertical">
            <flexbox-item align="center"><img style="width: 20%;" src="../../../static/images/ui/withdrawal/no_result.png"/></flexbox-item>
            <flexbox-item align="center"><span style="color: #b3b3b3;font-size: 14px;">您没有提现记录哦～</span></flexbox-item>
           </flexbox>
        </box>
      </template>
      <template v-else>
        <div>
          <v-scroll style="margin-top: 50px;" :on-refresh="onRefresh" :on-infinite="onInfinite" :dataList="scrollData">
            <box gutter="0" v-for="viewObj in view_list" :key="viewObj.dataObj.withdrawal_id">
              <div class="vux-form-preview weui-form-preview">
                <div class="weui-form-preview__hd">
                  <label class="weui-form-preview__label" v-bind:class="getColor(viewObj.dataObj.withdrawal_id)" v-html="getStatus(viewObj.dataObj.withdrawal_id)"></label>
                  <em class="weui-form-preview__value" v-html="getAmount(viewObj.dataObj.withdrawal_id)"></em>
                </div>
                <div class="weui-form-preview__bd">
                  <div class="weui-form-preview__item" v-for="item in viewObj.list">
                      <label class="weui-form-preview__label">{{item.label}}</label>
                      <span class="weui-form-preview__value">{{item.value}}</span>
                  </div>
                </div>
              </div>
              <br>
            </box>
          </v-scroll>
        </div>
      </template>
      <p class="copy-right">© BestPay</p>
    </view-box>
  </div>
</template>
<script>
  export default{
    components: {
      'v-scroll': require('../unit/pull-refresh/pull-refresh.vue')
    },
    data () {
      return {
        lists: {},
        status: [],
        view_list: [],
        list_load: false,
        counter: 1,
        num: 15,
        loading_data: false,
        refresh_data: false,
        scrollData: {
          noFlag: false
        }
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      getStatus (index) {
        const self = this
        let status = this.lists[index].status
        return self.status[status]
      },
      getList () {
        const self = this
        self.loading_data = true
        this.$models.Withdrawal.list({page: self.counter}).then(function (response) {
          var lists = response.data.data.list
          self.status = response.data.data.status
          if (lists.length === 0) {
            if (self.counter > 1) {
              self.counter--
            }
            let more = self.$el.querySelector('.load-more')
            if (more) {
              more.style.display = 'none'
              self.scrollData.noFlag = true
            }
          }
          for (var key in lists) {
            var obj = lists[key]
            if (self.lists[obj.withdrawal_id] === undefined) {
              var list = [{
                label: '提现时间',
                value: obj.created_at
              },
              {
                label: '手续费',
                value: obj.fee === 0 ? '免手续费' : obj.fee
              },
              {
                label: '订单号',
                value: obj.serial_number
              },
              {
                label: '备注',
                value: obj.display_remarks
              }]
              var viewObj = {
                dataObj: obj,
                list: list
              }
              self.lists[obj.withdrawal_id] = obj
              self.view_list.push(viewObj)
            }
          }
          self.loading_data = false
          self.refresh_data = false
        })
      },
      getColor (id) {
        let status = this.lists[id].status
        let className = 'default-color'
        switch (status) {
          case 0:
          case 3:
          case 5:
          case 6:
            className = 'default-color'
            break
          case 1:
            className = 'success-color'
            break
          case 2:
          case 4:
          case 7:
            className = 'danger-color'
            break
        }
        return className
      },
      getDate (id) {
        let date = this.lists[id].created_at.split(' ')[0]
        return date
      },
      getAmount (id) {
        let amount = this.lists[id].amount
        return '¥ ' + amount
      },
      onRefresh (done) {
        if (!this.refresh_data) {
          this.lists = {}
          this.view_list = []
          this.refresh_data = true
          this.counter = 1
          this.getList()
          done()
        }
      },
      onInfinite (done) {
        this.counter++
        this.getList()
        done()
      }
    }
  }
</script>
<style scoped>
  .date{
    color: cornflowerblue;
    font-size: 1.5em;
  }
</style>
