<template v>
    <box gap="20px">
      <grid :rows="6" style="background: #fff;border: solid 0px #CCCCCC;height: 3.5em;">
        <grid-item v-for="i in 6" :key="i" style="height: 100%;text-align: center;vertical-align: top;">
          <span class="grid-label" v-show="getTextChatAt(i)">{{getTextChatAt(i)}}</span>
          <badge class="grid-badge" v-show="getPasswordChatAt(i)"></badge>
        </grid-item>
      </grid>
    </box>
</template>

<script>
  export default {
    data () {
      return {
        password_value: ''
      }
    },
    props: {
      max: {
        default: 6
      },
      input_focus: false,
      enabled: {
        default: true
      },
      isPassword: {
        default: true
      }
    },
    mounted () {
    },
    methods: {
      inputPassword (value) {
        if (!this.enabled) {
          return
        }
        var len = this.password_value.length
        if (value >= 0) {
          if (len < this.max) {
            this.password_value += value.toString()
          }
        } else {
          this.password_value = this.password_value.substr(0, len - 1)
        }
        len = this.password_value.length
        this.$emit('input-change', this.password_value)
        if (len === this.max) {
          this.$emit('input-max', this.password_value)
        } else {
          this.$emit('input-not-max', this.password_value)
        }
      },
      getPasswordChatAt (index) {
        if (!this.isPassword) {
          return false
        }
        var value = this.password_value.charAt(index - 1)
        if (value !== '') {
          if (this.isPassword) {
            return true
          }
        }
        return value
      },
      getTextChatAt (index) {
        if (this.isPassword) {
          return false
        }
        var value = this.password_value.charAt(index - 1)
        if (value !== '') {
          return value
        }
        return ''
      },
      clear () {
        this.password_value = ''
      },
      inputKey (value) {
        this.inputPassword(value)
      }
    },
    directives: {
      focus: {
        inserted: function (el, {value}) {
//        console.log('初始：' + value)
          if (value) {
            el.focus()
          }
        },
        update: function (el, {value}) {
//        console.log('更新：' + value)
          if (value) {
            el.focus()
          }
        }
      }
    }
  }
</script>

<style scoped>
  img {
    width: 100%;
    height: 100%;
  }
  
  .container {
    position: absolute;
    top: 4rem;
    margin: 5%;
    padding-bottom: .266667rem;
    width: 90%;
  }
  
  .grid-label {
    display: block;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    color: #666;
    width: 100%;
  }
  
  .grid-badge {
    text-align: center;
    line-height: 100%;
    margin-bottom: 10px;
    background-color: #000000;
  }
  
  .weui-grids:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  .weui-grids:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  
  .weui-grid:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }

  .weui-grid:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  
  .vux-badge-dot {
    height: auto;
    padding: 7px;
}
</style>
