<template>
  <div class="deposit-add" style="height: 100%">
    <view-box body-padding-top="50px" body-padding-bottom="51px">
      <x-header slot="header" title="充值" :left-options="{backText: ''}" :right-options="{showMore: false}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <router-link slot="right" :to="{path: '/deposit/list'}">充值记录</router-link>
      </x-header>
      <template slot="default">
        <!--<group gutter="10px">
          <cell title="充值账号">
            <img v-show="info.financal.status == 1" src="/images/icon/main/financal.png" width="18" style="margin-right:5px"/>会员账号 ID: {{info.nickname}}
          </cell>
        </group>-->
        <group gutter="10px">
          <cell title="充值账号" is-link v-on:click.native="showPlatform = true">
            <span slot="title">{{platform.value}}</span>
            <span slot="inline-desc">充值会员ID：{{info.nickname}}</span>
            <img slot="icon" class="rmargin-10px" width="50" :src="platform.icon">
          </cell>
          <popup-radio v-if="showBankSelect" title="银行" :options="banks" v-model="bank_id">
            <template slot-scope="props" slot="each-item">
              <p style="line-height: 20px">{{ props.label }}</p>
            </template>
          </popup-radio>
        </group>
        <!--<group>
          <popup-radio title="支付方式" :options="platforms" v-model="platform_key" @on-change="changePlatform">
            <template slot-scope="props" slot="each-item">
              <p style="line-height: 50px">
                <img width="50" v-bind:src= 'props.icon'
                     class="circular-shape rmargin-5px" style="float: left"> {{ props.label }}
              </p>
            </template>
          </popup-radio>
        </group>-->
        <div v-show="show_list">
          <group gutter="0" :title="'最低'+platform.min_load+'元 最高'+platform.max_load +'元'">
          <x-input :title="input_amount * 1 + ' 积分'" v-model="input_amount" type="tel" placeholder="输入自定义金额" text-align="right" :max="7"></x-input>
          </group>
          <group>
            <radio :options="amountList" v-model="amount">
              <template slot-scope="props" slot="each-item">
                <p style="width: 100%;">
                  <label>{{ props.label }} 积分</label>
                  <span class="font-green" style="position: absolute; left: 70%;">¥{{ props.label }}</span>
                </p>
              </template>
            </radio>
          </group>
          <box gap="25px 15px">
            <x-button type="primary" @click.native="check" :disabled="pay_click">立即支付 ¥{{Math.max(amount, input_amount)}}</x-button>
            <br>
            <p><i>{{platform.description}}</i></p>
          </box>
        </div>
        <div v-show="!show_list">
          <box gap="20px 0px 0px">
            <div class="donate">
              <div v-if="platform_show.type == 'qr'" style="text-align: center;">
                <img v-bind:src="platform_show.link" style="width: 50%;padding-top: 20px;"/>
              </div>
              <div v-html="platform_show.content"></div>
            </div>
          </box>
          <div v-if="platform_show.type == 'url'">
            <box gap="10px 10px 10px">
                <x-button type="primary" @click.native="navToPay">去充值</x-button>
            </box>
          </div>
        </div>
        <popup v-model="showPlatform">
          <div>
            <x-header class="vux-popup-header" slot="header" title="" :left-options="{showBack: false}">
              <span>选择付款方式</span>
              <a slot="right" type="close" @click="showPlatform = false" style="font-size: 1.5em;">✕</a>
            </x-header>
            <group gutter="0">
              <radio :options="platforms" v-model="platform_key" @on-change="changePlatform">
                <template slot-scope="props" slot="each-item">
                  <p style="line-height: 45px">
                    <img width="45" v-bind:src= 'props.icon' class="rmargin-20px" style="float: left">
                    <span style="float: left; line-height: 20px;">{{ props.label }}
                      <br />
                      <span style="font-size: 10px; color: #aaa">最低 {{platforms[props.index].min_load}}元 最高 {{platforms[props.index].max_load}}元</span>
                    </span>
                  </p>
                </template>
              </radio>
            </group>
          </div>
        </popup>
        <popup v-model="showPayPage" height="100%" @on-hide="showAsk">
          <view-box body-padding-top="50px" body-padding-bottom="0" slot="default" style="height: 100%">
            <x-button slot="header" text="完成" @click.native="showPayPage = false" type="primary"
                      style="width:100%;position:absolute;left:0;top:0;z-index:100;border-radius: 0;height: 58px;"></x-button>
            <iframe v-if="showPayPage" :src="load_url" width="100%" height="100%" style="position: absolute;border: none;top: 50px"></iframe>
          </view-box>
        </popup>
        <p class="copy-right">© BestPay</p>
      </template>
    </view-box>
  </div>
</template>
<script>
  export default{
    data () {
      return {
        title: '充值',
        showPlatform: false,
        platforms: [],
        platform: {
          value: '',
          icon: '',
          min_load: '',
          max_load: ''
        },
        platforms_hash: [],
        platform_key: null,
        platform_show: {
          desc: ''
        },
        amountList: [
        ],
        defaultAmountList: [
          100,
          200,
          500,
          1000
        ],
        wechatAmountList: [
          108,
          218,
          588,
          1098
        ],
        qqAmountList: [
          100,
          218,
          318,
          500
        ],
        amountList1: [
          199,
          799,
          1599,
          2999
        ],
        amount: 0,
        amount_index: -1,
        input_amount: '',
        confirm: {
          show: false
        },
        showBankSelect: false,
        banks: [],
        need_bank: null,
        bank_id: null,
        showPayPage: false,
        load_url: '',
        qrcode: null,
        info: {
          nickname: '',
          usable_gold: '',
          freeze_gold: '',
          financal: {
            status: 0
          }
        },
        show_list: true,
        pay_click: false
      }
    },
    watch: {
      'platform': function (newVal, oldVal) {
        if (newVal !== oldVal) {
          this.checkBank()
        }
      },
      'amount': function () {
        if (this.amount > 0) {
          this.input_amount = ''
        }
      },
      'input_amount': function () {
        if (this.input_amount > 0) {
          this.amount = 0
        }
      }
    },
    mounted () {
      const self = this

      if (typeof self.$route.query.platform_id === 'undefined') {
        self.platform_key = 1
      } else {
        self.platform_key = JSON.parse(self.$route.query.platform_id)
      }

      self.$models.Deposit.platforms({type: 'all'}).then(function (platforms) {
        let userPlatform = platforms.data.data.user_platform
        for (let platform of platforms.data.data.lists) {
          var mobileShow, mobileDefault
          if (navigator.userAgent.match(/AppleWebKit.*Mobile.*/) !== null) {
            if (navigator.userAgent.indexOf('Android') > -1) {
              mobileShow = platform.android_show
              mobileDefault = platform.android_default
            } else {
              mobileShow = platform.ios_show
              mobileDefault = platform.ios_default
            }
          } else {
            mobileShow = platform.pc_show
            mobileDefault = platform.pc_default
          }
          var platformObj = {
            show_view: Boolean(mobileShow),
            default_show: Boolean(mobileDefault),
            key: platform.id,
            value: platform.name,
            need_bank: platform.need_bank,
            bank_id: platform.bank_id,
            max_load: platform.max_load,
            min_load: platform.min_load,
            icon: 'static/images/logo/' + platform.icon + '.png',
            show: platform.hasOwnProperty('show') ? {
              content: platform.show.content,
              type: platform.show.type,
              link: platform.show[platform.show.type]
            } : null,
            description: platform.description
          }
          if (userPlatform[platform.id] !== undefined) {
            if (navigator.userAgent.indexOf('Android') <= -1 && userPlatform[platform.id]['terminal_type'] === 3) {
              platformObj.show_view = userPlatform[platform.id]['is_show']
            } else if (navigator.userAgent.indexOf('Android') > -1 && userPlatform[platform.id]['terminal_type'] === 4) {
              platformObj.show_view = userPlatform[platform.id]['is_show']
            }
          }
          if (platformObj.show_view) {
            self.platforms = self.platforms.concat(platformObj)
          }
          self.platforms_hash[platformObj.key] = platformObj
          platformObj.default_show ? self.platform_key = platformObj.key : null
          platformObj.default_show ? self.platform = platformObj : null
        }
        self.checkBank()
      })
      self.$models.User.info().then(function (response) {
        if (response.data.success !== 1) {
          self.$router.push('/not-login')
        }
        self.loaded = true
        self.info = response.data.data
      })
    },
    methods: {
      checkBank () {
        for (let platform of this.platforms) {
          if (platform.key === this.platform_key && platform.need_bank === 1) {
            this.bank_id = platform.bank_id
            if (platform.bank_id === '') {
              this.showBankSelect = true
              this.fetchBankForPlatform()
            } else {
              this.showBankSelect = false
              this.banks = []
            }
          }
        }
      },
      fetchBankForPlatform () {
        const self = this
        self.$models.Deposit.banks({platform_id: self.platform.key}).then(function (response) {
          let banks = []
          for (let id in response.data.data.lists) {
            let val = response.data.data.lists[id]
            banks = banks.concat([{
              key: id,
              value: val.name
            }])
          }
          self.banks = banks
        })
      },
      check () {
        var submitAmout = Math.max(this.amount, this.input_amount)
        var minLoad = this.platforms_hash[this.platform_key].min_load
        var maxLoad = this.platforms_hash[this.platform_key].max_load
        if (submitAmout >= minLoad && submitAmout <= maxLoad) {
          this.submit(submitAmout)
        } else {
          var name = this.platforms_hash[this.platform_key].value
          this.$vux.alert.show({
            content: name + '充值支持 ' + minLoad + '元 ~ ' + maxLoad + '元'
          })
        }
      },
      submit (submitAmout) {
        const self = this
        self.pay_click = true
        // 提交订单，获取订单号、支付页地址
        self.$models.Deposit.create({
          platform_id: this.platform_key,
          bank_id: this.bank_id,
          amount: submitAmout
        }).then(function (response) {
          self.pay_click = false
          if (!response.data.success) {
            self.$vux.toast.show({
              'text': response.data.message,
              'type': 'warn'
            })
            return
          }

          self.load_url = response.data.data.load_url

          if (response.data.data.load_straight === 1) {
            window.location.href = self.load_url
            self.showAsk()
            return
          }

          // 拉起弹窗展示充值页
          self.showPayPage = true

          self.$vux.loading.show({
            text: 'Loading'
          })
          setTimeout(() => {
            self.$vux.loading.hide()
          }, 3000)
        })
      },
      showAsk () {
        const self = this
        self.$vux.confirm.show({
          content: '请在新开窗口中完成支付<br />若已完成，请点击“完成支付"',
          confirmText: '完成支付',
          // 组件除show外的属性
          onCancel () {
//          console.log('取消') // 非当前 vm
          },
          onConfirm () {
            self.payComplete()
//          console.log('支付完成')
          }
        })
      },
      changePlatform (e) {
        const self = this
        if (self.platforms_hash.hasOwnProperty(e)) {
          let platform = self.platforms_hash[e]
          self.platform = platform
          if (self.platform.key === 12) {
            self.amountList = self.qqAmountList
          } else if (self.platform.key === 25) {
            self.amountList = self.amountList1
          } else if (self.platform.key === 32) {
            self.amountList = [
              106,
              518,
              2010,
              5800
            ]
          } else {
            self.amountList = self.defaultAmountList
          }
          if (self.amount_index === -1) {
            self.amount_index = 0
          }
          self.amount = self.amountList[self.amount_index]
          self.showContent(self.platform)
        }
        self.showPlatform = false
      },
      showContent (platform) {
        const self = this
        if (platform.show) {
          self.show_list = false
          switch (platform.show.type) {
            case 'qr':
              self.showQrCode(platform)
              break
            case 'url':
              self.showUrl(platform)
              break
          }
        } else {
          self.show_list = true
        }
      },
      showQrCode (platform) {
        const self = this
        self.platform_show = platform.show
      },
      showUrl (platform) {
        const self = this
        self.platform_show = platform.show
      },
      navToPay () {
        const self = this
        window.location.href = self.platform_show.link
      },
      payComplete () {
        const self = this
        self.showPayPage = false
        self.$router.replace({
          path: '/deposit/list'
        })
      }
    }
  }
</script>
<style scoped>
.donate {
  background-color: #fff;
}

.show-desc{
  font-size: 0.8em;padding: 10px;
}

.show-img{
  text-align: center;
}

.vux-popup-header {
    position: relative;
    padding: 3px 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.vux-popup-header .vux-header-title span{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}
</style>
