<template>
  <div id="app" style="height:100%;">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app'
  }
</script>

<style lang="less">
  @import '~vux/src/styles/reset.less';
  @import './assets/less/reset.less';

  body {
    background-color: #fbf9fe;
  }
</style>

<style>
  html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  .circular-shape {
    border-radius: 50%;
  }
  .block {
    display: block;
  }
  .rmargin-5px {
    margin-right: 5px;
  }
  .rmargin-10px {
    margin-right: 10px;
  }
  .rmargin-20px {
    margin-right: 20px;
  }
</style>
<style>
  @import url("assets/css/color.css");
</style>
