<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings'); ?>

                    <?php View::display('page-header'); ?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]); ?>
                    
                    <button onclick="exportScv(this)" data-url="/manage/deposit/export" type="button" class="btn btn-default navbar-right">导出(Export Recorde)</button>
                    
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>订单号(Order No)</th>
                                            <th>用户昵称</th>
                                            <th>渠道(Deposit Platform)</th>
                                            <th>金额(Amount)</th>
                                            <th>渠道手续费(Fee)</th>
                                            <th>状态(Order Status)</th>
                                            <th>发起时间(Created time)</th>
                                            <th>IP</th>
                                            <th>操作(Operate)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach($list as $info):?>
                                            <tr>
                                                <td><?= $info->deposit_id?></td>
                                                <td><?= $info->order_no?></td>
                                                <td><?= $info->user->nickname?></td>
                                                <td>
                                                    <?php if(is_object($info->platform)): ?>
                                                        渠道(Platform)：<?= $info->platform->name ?><br />
                                                        渠道订单号(Platform Order No)：<?= is_null($info->order)?'':$info->order->third_order_no ?>
                                                    <?php endif;?>
                                                </td>
                                                <td><?= $info->amount ?></td>
                                                <td><?= $info->fee ?></td>

                                                <td><?php pr($searchItemsConf['status']['source']['data'][$info->status]) ?></td>

                                                <td><?= $info->created_at->format('Y-m-d H:i:s')?></td>

                                                <td><?= $info->client_ip ?></td>

                                                <td>
                                                    <div class="btn-group">

                                                        <?php if($info->status == 0): ?>
                                                        <!-- <button onclick="set(this)" data-url="/manage/deposit/set?id=<?=$info->deposit_id;?>" class="btn btn-danger btn-sm" aria-expanded="false">
                                                            设置为人工完成
                                                        </button> -->
                                                        <?php endif;?>

                                                        <a data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle" aria-expanded="false">
                                                            查看
                                                            <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-info dropdown-menu-right">
                                                            <li>
                                                                <a target="_blank" href="/manage/deposit/order?order_id=<?= $info->order_id?>">查看发起日志</a>
                                                            </li>

                                                            <!-- <li>
                                                                <a target="_blank" href="/manage/deposit/querylog?deposit_id=<?= $info->deposit_id?>">查看query日志</a>
                                                            </li> -->

                                                            <li>
                                                                <a target="_blank" href="/manage/deposit/log?deposit_id=<?= $info->deposit_id?>">查看通知日志</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>

                                    <?php View::display('paginate', ['info' => $list]); ?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    function set(obj) {
        var url = $(obj).attr('data-url');

        bootbox.prompt("请填写备注(请在设置完成后，给用户手动加币！)", function(result) {
            if(result !== null) {
                $.post(url, {remarks:result}, function(msg){
                    // alert(msg);
                    if ( msg.success == 1) {
                        window.location.reload();
                    }else{
                        bootbox.alert(msg.message);
                    }
                },'json');
            }
        });
    }
</script>