<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>订单号</th>
                                            <th class="col-xs-1">请求参数</th>
                                            <th>状态</th>
                                            <th>IP</th>
                                            <th>推送时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td class="center">
                                                    <div class="action-buttons">
                                                        <?=$info->log_id;?>
                                                    </div>
                                                </td>

                                                <td><?=is_object($info->deposit) ? $info->deposit->order_no : '';?></td>
                                                <td><?php 
                                                    foreach ($info->request as $key => $value) {
                                                        echo $key . " : " .$value . "<br />";
                                                    }
                                                ?></td>
                                                <td><?=$info->notifyStatus[$info->status];?></td>
                                                <td><?=$info->ip;?></td>
                                                <td><?=$info->created_at;?></td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>

                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>