<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>本平台订单号</th>
                                            <th>渠道订单号</th>
                                            <th>渠道订单状态</th>
                                            <th>请求参数</th>
                                            <th>响应参数</th>
                                            <th>生成支付地址</th>
                                            <th>发起时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td><?=$info->order_id;?></td>
                                                <td><?=is_object($info->deposit) ? $info->deposit->order_no : '';?></td>
                                                <td><?=$info->third_order_no;?></td>
                                                <td><?=$info->third_order_status;?></td>
                                                <td style="width: 400px; word-break: break-word;">
                                                    <?php echoResponseData($info->load_request);?>
                                                </td>
                                                <td style="width: 400px; word-break: break-word;">
                                                    <?php echoResponseData($info->load_response);?>
                                                </td>
                                                <td style="width: 400px;"><?=$info->load_url;?></td>
                                                <td><?=$info->created_at;?></td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>

                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>