<template>
      <div class="nav">
        <el-row type="flex" class="row-bg">
          <el-col :span="20" :offset="6">
            <el-row type="flex" class="row-bg" justify="end">
              <el-button class="amount-btn" type="text">余额: ${{info.usable_gold}}</el-button>
              <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="0">首页</el-menu-item>
                <el-submenu index="1">
                  <template slot="title">充值</template>
                  <el-menu-item index="1-1">充值积分</el-menu-item>
                  <el-menu-item index="1-2">充值记录</el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                  <template slot="title">提现</template>
                  <el-menu-item index="2-1">提现积分</el-menu-item>
                  <el-menu-item index="2-2">提现记录</el-menu-item>
                </el-submenu>
                <el-menu-item index="3">转账</el-menu-item>
                <el-menu-item index="4">明细</el-menu-item>
                <el-submenu index="5">
                  <template slot="title">我的</template>
                  <el-menu-item index="5-1">银行卡</el-menu-item>
                  <el-menu-item index="5-2">交易明细</el-menu-item>
                  <el-menu-item index="5-3">安全管理</el-menu-item>
                </el-submenu>
                <el-submenu index="6">
                  <template slot="title">帮助</template>
                  <el-menu-item index="6-1">建议与反馈</el-menu-item>
                  <el-menu-item index="6-1">关于</el-menu-item>
                </el-submenu>
              </el-menu>
              <el-button type="text" @click="logout()">退出</el-button>
            </el-row>
          </el-col>
        </el-row>
      </div>
</template>

<script>
  export default {
    data () {
      return {
        activeIndex: '0',
        info: {
          uid: '',
          usable_gold: 0,
          freeze_gold: 0,
          financal: {
            status: 0
          }
        }
      }
    },
    props: {
    },
    created () {
      var self = this
      self.activeIndex = self.$route.query.activeIndex
    },
    mounted () {
      var self = this
      self.getInfo()
    },
    methods: {
      handleSelect (key, keyPath) {
        const self = this
        self.activeIndex = key
        let query = {
          activeIndex: self.activeIndex,
          from_url: self.$route.path
        }
        var url
        switch (self.activeIndex) {
          case '0':
            url = '/'
            break
          case '1-1':
            url = '/deposit/add'
            break
          case '1-2':
            url = '/deposit/list'
            break
          case '2-1':
            url = '/withdrawal/add'
            break
          case '2-2':
            url = '/withdrawal/list'
            break
          case '3':
            url = '/transaction/transfer'
            break
          case '4':
            url = '/transaction/list'
            break
          case '5-1':
            url = '/card/list'
            query.has_fund_pin = self.info.has_fund_pin
            query.mobile = self.info.mobile
            break
        }
        self.$router.replace({
          path: url,
          query: query
        })
      },
      getInfo: function () {
        var self = this
        self.$models.User.info().then(function (response) {
          if (response.data.success !== 1) {
            self.$router.push('/login')
          }
          self.loaded = true
          self.info = response.data.data
        })
      },
      logout: function () {
        var self = this
        self.$models.User.logout().then(function () {
          window.location.href = '/'
        })
      }
    }
  }
</script>

<style scoped>
  .amount-btn {
    margin-right: 50px;
  }
</style>