<template>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%" :modal="model" @close="close" center>
      <span>请输入资金密码</span>
      <el-input v-model="password_value" placeholder="请请输入资金密码" type="password" :maxlength="max"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="close()">取 消</el-button>
        <el-button type="primary" @click="confirm()">确 定</el-button>
      </span>
    </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        password_value: '',
        dialogVisible: true,
        max: 6,
        model: false
      }
    },
    mounted () {
    },
    methods: {
      clear () {
        this.password_value = ''
      },
      close () {
        this.dialogVisible = false
        this.clear()
        this.$emit('close')
      },
      confirm () {
        this.$emit('confirm')
        this.close()
      }
    },
    directives: {
      focus: {
        inserted: function (el, {value}) {
//        console.log('初始：' + value)
          if (value) {
            el.focus()
          }
        },
        update: function (el, {value}) {
//        console.log('更新：' + value)
          if (value) {
            el.focus()
          }
        }
      }
    }
  }
</script>

<style scoped>
  img {
    width: 100%;
    height: 100%;
  }
  
  .container {
    position: absolute;
    top: 4rem;
    margin: 5%;
    padding-bottom: .266667rem;
    width: 90%;
  }
  
  .grid-label {
    display: block;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    color: #666;
    width: 100%;
  }
  
  .grid-badge {
    text-align: center;
    line-height: 100%;
    margin-bottom: 10px;
    background-color: #000000;
  }
  
  .weui-grids:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  .weui-grids:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
  
  .weui-grid:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }

  .weui-grid:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #999999;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
  
  .vux-badge-dot {
    height: auto;
    padding: 7px;
}
</style>
