<div class="col-sm-12">
<?php if( !empty($type) && !empty($msg)): ?>
    <div class="alert alert-<?= $type ?>">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <strong>
            <i class="ace-icon fa fa-times"></i>
        </strong>
        <?= $msg ?>
        <br />
    </div>
<?php endif;?>
</div>

<?php if( !empty($redir_url)): ?>
<script type="text/javascript">
    setTimeout('window.location.href="<?= $redir_url; ?>"', 2000);
</script>
<?php endif; ?>