<!-- inline scripts related to this page -->

<script type="text/javascript">

    jQuery(function($) {
        //to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
        $('input[class*=date-range-picker]').daterangepicker({
            'applyClass' : 'btn-sm btn-success',
            'cancelClass' : 'btn-sm btn-default',
            locale: {
                applyLabel: 'Apply',
                cancelLabel: 'Cancel',
                format: 'YYYY-MM-DD',
            },
        })
        .prev().on(ace.click_event, function(){
            $(this).next().focus();
        });

        $('body').attr('class', 'skin-2');
    });

    function exportScv(obj) {
        $('form[name="search-box"]').attr('action', $(obj).attr('data-url'));
        $('form[name="search-box"]').submit();
        $('form[name="search-box"]').attr('action', '');
    }
</script>

<script type="text/javascript">
    function del(obj) {
        var url = $(obj).attr('data-url');
        $.get(url, '', function(msg){
            if ( msg.success == 1) {
                window.location.reload();
            }else{
                bootbox.alert(msg.message);
            }
        },'json');
    }
</script>

</body>
</html>
