<div class="page-header">
    <h1>
        Tables
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Static &amp; Dynamic Tables
        </small>
    </h1>
</div><!-- /.page-header -->