<div class="row">
    <div class="col-xs-6">
        <div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">Showing <?= $info->toArray()['from']; ?> to <?= $info->toArray()['to']; ?> of <?= $info->toArray()['total']; ?> entries</div>
    </div>

    <div class="col-xs-6">
        <div class="dataTables_paginate paging_simple_numbers" id="dynamic-table_paginate">
            <ul class="pagination">
                <li class="paginate_button previous" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous"><a href="<?= $info->previousPageUrl(); ?>">Previous</a></li>

                <?php if ($info->currentPage() - 5 <= 1 ): ?>
                    <?php foreach ($info->getUrlRange(1,$info->currentPage()) as $p => $link): ?>
                    <li class="paginate_button <?php if($info->currentPage() == $p) echo "active"; ?>" aria-controls="dynamic-table" tabindex="0">
                        <a href="<?= $link; ?>"> <?= $p; ?> </a>
                    </li>
                    <?php endforeach; ?>
                <?php else:?>
                    <?php foreach ($info->getUrlRange(1,2) as $p => $link): ?>
                    <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                        <a href="<?= $link; ?>"> <?= $p; ?> </a>
                    </li>
                    <?php endforeach; ?>
                    <li class="paginate_button disabled" aria-controls="dynamic-table" tabindex="0">
                        <a href="javascript:;">...</a>
                    </li>
                    <?php foreach ($info->getUrlRange($info->currentPage() -2, $info->currentPage()) as $p => $link): ?>
                    <li class="paginate_button <?php if($info->currentPage() == $p) echo "active"; ?>" aria-controls="dynamic-table" tabindex="0">
                        <a href="<?= $link; ?>"> <?= $p; ?> </a>
                    </li>
                    <?php endforeach; ?>
                <?php endif ?>

                <?php if ($info->currentPage() + 5 >= $info->lastPage() ): ?>
                    <?php if ( $info->currentPage() < $info->lastPage() ): ?>
                        <?php foreach ($info->getUrlRange($info->currentPage() +1 ,$info->lastPage()) as $p => $link): ?>
                        <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                            <a href="<?= $link; ?>"> <?= $p; ?> </a>
                        </li>
                        <?php endforeach; ?>
                    <?php endif ?>
                <?php else: ?>
                    <?php foreach ($info->getUrlRange($info->currentPage()+1, $info->currentPage()+2) as $p => $link): ?>
                    <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                        <a href="<?= $link; ?>"> <?= $p; ?> </a>
                    </li>
                    <?php endforeach; ?>
                    <li class="paginate_button disabled" aria-controls="dynamic-table" tabindex="0">
                        <a href="javascript:;">...</a>
                    </li>
                    <?php foreach ($info->getUrlRange($info->lastPage() -1, $info->lastPage()) as $p => $link): ?>
                    <li class="paginate_button" aria-controls="dynamic-table" tabindex="0">
                        <a href="<?= $link; ?>"> <?= $p; ?> </a>
                    </li>
                    <?php endforeach; ?>
                <?php endif ?>

                <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next"><a href="<?= $info->nextPageUrl(); ?>">Next</a></li>
            </ul>
        </div>
    </div>
</div>
