<form name="search-box" class="navbar-form navbar-left" role="search" action="">
    <?php foreach($searchItemConf as $colums => $conf): ?>

        <?php if($conf['type'] == 'input'): ?>
        <div class="form-group">
            <span class="form-group-addon" id=""><?= $conf['label'] ?> ：</span>
            <input type="text" name="<?= $colums ?>" value="<?php echo isset($conf['val']) ? $conf['val'] : ''; ?>" class="form-control" placeholder="Search">
        </div>
        
        <?php elseif($conf['type'] == 'select'): ?>
        <div class="form-group">
            <span class="form-group-addon" id=""><?= $conf['label'] ?> ：</span>
            <select class="form-control" name="<?= $colums ?>">
                <option selected value=""> </option>

                <?php foreach($conf['source']['data'] as $val => $display): ?>
                <option <?php if(isset($_GET[$colums]) && $_GET[$colums] != '' &&  $_GET[$colums] == $val) {echo "selected";}; ?> value="<?= $val ?>"><?= $display?></option>
                <?php endforeach; ?>
            </select>
        </div>

        <?php elseif($conf['type'] == 'hidden'): ?>
            <input type="hidden" name="<?= $colums ?>" value="<?php echo isset($conf['val']) ? $conf['val'] : ''; ?>" class="form-control" placeholder="Search">

        <?php elseif($conf['type'] == 'date-range-picker'): ?>
            <label for="id-date-range-picker-1"><?= $conf['label'] ?> ：</label>
            <div class="form-group">
                <div class="col-xs-8 col-sm-11">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar bigger-110"></i>
                        </span>
                        <input class="form-control date-range-picker" type="text" name="<?= $colums; ?>" id="id-date-range-picker-1" value="<?php echo isset($conf['val']) ? $conf['val'] : ''; ?>" />
                    </div>
                </div>
            </div>
        <?php endif; ?>
    <?php endforeach;?>

    <?php if(!empty($searchItemConf)): ?>
    <button type="submit" class="btn btn-default">搜索</button>
    <?php endif; ?>
</form>