<template>
  <div class="panel-index">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg box-cards" justify="space-around">
              <el-card class="box-card">
                <div slot="header" class="clearfix card-title">
                  <label>充值</label>
                </div>
                <img class="card-img" src="../../assets/images/guide.png" />
                <router-link :to="{path: '/deposit/add'}"><el-button class="card-btn">进入</el-button></router-link>
              </el-card>
              <el-card class="box-card">
                <div slot="header" class="clearfix card-title">
                  <label>提现</label>
                </div>
                <img class="card-img" src="../../assets/images/guide.png" />
                <router-link :to="{path: '/withdrawal/add'}"><el-button class="card-btn">进入</el-button></router-link>
              </el-card>
              <el-card class="box-card">
                <div slot="header" class="clearfix card-title">
                  <label>转账</label>
                </div>
                <img class="card-img" src="../../assets/images/guide.png" />
                <router-link :to="{path: '/transaction/transfer'}"><el-button class="card-btn">进入</el-button></router-link>
              </el-card>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        info: {
          uid: '',
          usable_gold: 0,
          freeze_gold: 0,
          financal: {
            status: 0
          }
        }
      }
    },
    mounted () {
    },
    methods: {
    }
  }
</script>

<style scoped>
  
  .box-cards{
    margin-top: 100px;
  }
  
  .box-card {
    width: 30%;
    text-align: center;
  }
  
  .card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .card-img {
    width: 50%;
  }
  
  .card-btn {
    margin-top: 20px;
    width: 70%;
  }
</style>