<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <div class="row">
                        <form name="rightsSettingForm" method="post" action="" autocomplete="off">

                            <div class="col-xs-6">
                                <div class="panel panel-primary">
                                    <div class="t-title panel-heading">
                                        <input type="checkbox" name="checkAll" />
                                        所有权限
                                    </div>
                                    <div class="t-body" id ="t-box">

                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="panel panel-info">
                                    <div class="t-title panel-heading">
                                        已选权限
                                    </div>
                                    <div class="t-body" id ="f-box">

                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="controls text-center">
                                    <a href="" class="btn btn-default">重置</a>
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>

<!-- page specific plugin scripts -->
<link rel="stylesheet" type="text/css" href="/assets/css/ui.css">

<?php
$list     = [];
$readonly = 0;
foreach ($datas as $key => $value) {
    $item = [
        'id'             => $value['function_id'],
        'level'          => $value['level'],
        'parent_id'      => $value['parent_func_id'],
        'forefather_ids' => $value['forefather_ids'],
        'title'          => $value['display_name'],
        'controller'     => $value['controller'],
        'action'         => $value['action'],
        'desc'           => $value['display_name'],
    ];
    if ($readonly) {
        if (in_array($value['id'], $checked)) {
            array_push($list, $item);
        }
    } else {
        array_push($list, $item);
    }
}
$list    = json_encode($list);
$checked = json_encode($checked);
?>

<?php print("<script language=\"javascript\">var rights = $list; var checked = $checked; var readonly = $readonly; </script>\n");?>

<script>
    jQuery(document).ready(function($) {

        var container = $('#t-box');
        $(rights).each(function(index, el) {
            // debugger;
            var html  = [],
                id    = this.id,
                pid   = this.parent_id,
                fid   = this.forefather_ids,
                fPid  = fid ? fid.split(',')[1] : 0,
                desc  = this.desc,
                level = +this.level;

            if (level == 1 || level == 2) {
                html.push(
                    '<div class="t-box" id="#Container'+id+'">'
                    +   '<div class="t-t">'
                    +       (readonly ? '' : '<input type="checkbox" name="functionality_id[]" class="checkSet" liVal="'+level+'" lId ="'+id+'" flId ="'+fid+'" id="functionality_' + id + '" forefather="' + fid + '" value="' + id + '" nameVal="'+desc+'" ' + ($.inArray(id, checked) < 0 ? '' : 'checked') + ' /> ')
                    +        desc
                    +    '<a class="glyphicon glyphicon-tasks pull-right" style="color:#18AF71;" data-toggle="collapse" data-parent="#Container'+id+'" href="#checkboxList_'+id+'"></a>'
                    +    '</div>'
                    +   '<div class="t-s collapse '+ (readonly ? 'in' : '') + ' list_'+id + '" id="checkboxList_'+id+'" >'

                    +   '</div>'
                    +'</div>'
                );

                if (level == 1)
                    container.append(html.join(''));
                else
                    container.find('.list_' + pid).append(html.join(''));
            } else {
                html.push(
                    '<span class="t-label label-warning">'
                    +  (readonly ? '' : '<input type="checkbox" class="funCheckbox" liVal="3" lId ="'+fPid+'" name="functionality_id[]" id="functionality_' + id + '" forefather="' + fid + '" value="' + id + '"  nameVal="'+desc+'" ' + ($.inArray(id, checked) < 0 ? '' : 'checked') + ' /> ')
                    +        desc
                    +'</span>'
                );
                if (level > 3)
                    container.find('.list_' + fPid).append(html.join(''));
                else
                    container.find('.list_' + pid).append(html.join(''));
            }
        });

        if (! readonly) {
            var checkFun = function(){
                $('#f-box').html('');
                container.find(':checkbox').each(function(index, val) {
                    var i=[];
                    var cl=$(this).attr('liVal'),na = $(this).attr('nameVal'),lId=$(this).attr('lId'),flId =$(this).attr('flId');
                        if( this.checked && cl == '1'){
                            i.push(
                                 '<span class="t-t1">'+ na+'</span><div class="listU listU_'+lId+'"></div>'
                            )
                            $('#f-box').append(i.join(''));
                        }else if(this.checked & cl == '2'){
                            i.push(
                               '<span class="t-t2">'+ na +'</span><div class="listU listU_'+lId+'"></div>'
                            )
                            $('#f-box').find('.listU_'+flId ).append(i.join(''));
                        }else if(this.checked & cl == '3'){
                            i.push(
                               '<span class="t-t3 ">'+ na+'</span>'
                            )
                            $('#f-box').find('.listU_'+lId ).append(i.join(''));
                        }
                });
            };

            $('input[name=checkAll]').click(function(event) {
                var checkedStatus = this.checked;
                container.find(':checkbox').each(function(index, el) {
                    this.checked = checkedStatus;
                });
                checkFun();
            });

            $('.checkSet').click(function(event) {
                var checkedStatus = this.checked,
                    panelId = $(this).val(),
                    forefatherId =$(this).attr('forefather');
                document.getElementById('functionality_' + panelId).checked = checkedStatus;
                // if(forefatherId && document.getElementById('functionality_' + forefatherId) != null ){
                //     document.getElementById('functionality_' + forefatherId).checked = checkedStatus;
                // }
                $('#checkboxList_' + panelId).find(':checkbox').each(function(index, el) {
                    this.checked = checkedStatus;
                });
                checkFun();
            });
            
            $('.funCheckbox').click(function(event) {
                var checkedStatus = this.checked;
                if (checkedStatus) {
                    var forefatherIds = ($(this).attr('forefather')).split(',');
                    for (var i = 0, l = forefatherIds.length; i < l; i++) {
                        // $('#functionality_' + forefatherIds[i]).attr('checked', checkedStatus);
                        document.getElementById('functionality_' + forefatherIds[i]).checked = checkedStatus;
                    }
                }
                checkFun();
            });

            // 初始化全选和组内全选的勾选状态
            var checkedCount = $('.funCheckbox:checked').length;
            var allCount = $('.funCheckbox').length;
            if (checkedCount == allCount) $('input[name=checkAll]').attr('checked', true);
            $('.panel-body').each(function(index, el) {
                var id = $(this).attr('id').split('_')[1];
                var setCheckedCount = $(this).find('.funCheckbox:checked').length;
                var setCount = $(this).find('.funCheckbox').length;
                if (setCheckedCount == setCount)
                    document.getElementById('checkSet_' + id).checked = true;
            });
            checkFun();
        }
    });
</script>