<?php View::display('header'); ?>
<script src="/assets/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="/assets/css/chosen.min.css" />

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

<?php View::display('alert', !empty($alertData) ? $alertData : []);?>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <?php View::display('nav/side', ['controller' => $Controller]); ?>

    <div class="main-content">
        <div class="main-content-inner">
            <?php View::display('breadcrumb') ?>

            <div class="page-content">
                <?php View::display('settings'); ?>
                <?php View::display('page-header'); ?>
                
                <form id="validation-form" class="form-horizontal" role="form" method="post">

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">管理员</label>
                        <div class="col-sm-3">

                            <select name="admin_id" class="chosen-select form-control" id="form-field-select-3" data-placeholder="Choose a State...">
                                <option value="">  </option>
                                <?php foreach ($adminList as $value):?>
                                    <option value="<?= $value['admin_id']; ?>"><?= $value['name']; ?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                添加
                            </button>

                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                取消
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <?php View::display('footer'); ?>

    <?php View::display('scroll-up'); ?>
</div>

<?php View::display('foot-scripts') ?>

<script type="text/javascript">
    $('#validation-form').validate({
        errorElement: 'div',
        errorClass: 'help-block',
        focusInvalid: false,
        ignore: "",
        rules: {
            module:{
                required: true,
            },
            controller:{
                required: true,
            },
            action:{
                required:true,
            }
        },

        highlight: function (e) {
            $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
        },

        success: function (e) {
            $(e).closest('.form-group').removeClass('has-error');//.addClass('has-info');
            $(e).remove();
        },

        errorPlacement: function (error, element) {
            if(element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                var controls = element.closest('div[class*="col-"]');
                if(controls.find(':checkbox,:radio').length > 1) controls.append(error);
                else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
            }
            else if(element.is('.select2')) {
                error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
            }
            else if(element.is('.chosen-select')) {
                error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
            }
            else error.insertAfter(element.parent());
        },

        submitHandler: function (form) {
            form.submit();
        },
        invalidHandler: function (form) {
        }
    });

    $('.chosen-select').chosen({allow_single_deselect:true}); 
</script>