<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings'); ?>

                    <?php View::display('page-header'); ?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]); ?>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>手机号</th>
                                                <th width="10%">联系方式</th>
                                                <th width="10%">反馈类型</th>
                                                <th width="45%">详情</th>
                                                <th width="20%">图片</th>
                                                <th>创建时间</th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                        <?php foreach($list as $info):?>
                                            <tr>
                                                <td><?= $info->user->mobile ;?></td>

                                                <td>
                                                    QQ: <?= $info->user->qq ?> <br />
                                                    Wechat: <?= $info->user->wechat ?>
                                                </td>

                                                <td><?= $info->type->name; ?></td>

                                                <td>
                                                <?php foreach (json_decode($info->description_data, true) as $key => $value) {
                                                    echo $info->translateArr[$key] . ": $value <br/>";
                                                }?>
                                                </td>

                                                <td>
                                                <ul class="ace-thumbnails clearfix">
                                                    <?php foreach ($info->img as $value):?>
                                                    <li>
                                                        <a href="<?= $value->content; ?>" data-rel="colorbox" class="cboxElement">
                                                            <img width="50" height="50" alt="50x50" src="<?= $value->content; ?>" />
                                                        </a>
                                                    </li>
                                                    <?php endforeach; ?>
                                                </ul>
                                                </td>
                                                
                                                <td><?= $info->created_at->format('Y-m-d H:i:s')?></td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <?php View::display('paginate', ['info' => $list]); ?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer'); ?>

        <?php View::display('scroll-up'); ?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>

<script type="text/javascript">
    jQuery(function($) {
        var $overflow = '';
        var colorbox_params = {
            rel: 'colorbox',
            reposition:true,
            scalePhotos:true,
            scrolling:false,
            previous:'<i class="ace-icon fa fa-arrow-left"></i>',
            next:'<i class="ace-icon fa fa-arrow-right"></i>',
            close:'&times;',
            current:'{current} of {total}',
            maxWidth:'100%',
            maxHeight:'100%',
            onOpen:function(){
                $overflow = document.body.style.overflow;
                document.body.style.overflow = 'hidden';
            },
            onClosed:function(){
                document.body.style.overflow = $overflow;
            },
            onComplete:function(){
                $.colorbox.resize();
            }
        };

        $('[data-rel="colorbox"]').colorbox(colorbox_params);
        $("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon
        
        
        $(document).one('ajaxloadstart.page', function(e) {
            $('#colorbox, #cboxOverlay').remove();
       });
    })
</script>