<template v>
    <box gap="10px 60px">
      <grid :rows="max" style="background: #fff;border-radius: 8px;border: solid 0px #CCCCCC;height: 3.5em;">
        <grid-item v-for="i in max" :key="i" style="height: 100%;text-align: center;vertical-align: top;">
          <span class="grid-label">{{getTextChatAt(i)}}</span>
        </grid-item>
      </grid>
    </box>
</template>

<script>
  export default {
    data () {
      return {
        input_value: ''
      }
    },
    props: {
      max: {
        default: 4
      },
      input_focus: false,
      enabled: {
        default: true
      },
      setFocus () {
        this.clickGrid()
      }
    },
    mounted () {
    },
    methods: {
      inputHandler (value) {
        if (!this.enabled) {
          return
        }
        var len = this.input_value.length
        if (value >= 0) {
          if (len < this.max) {
            this.input_value += value.toString()
          }
        } else {
          this.input_value = this.input_value.substr(0, len - 1)
        }
        len = this.input_value.length
        this.$emit('input-change', this.input_value)
        if (len === this.max) {
          this.$emit('input-max', this.input_value)
        } else {
          this.$emit('input-not-max', this.input_value)
        }
      },
      getTextChatAt (index) {
        var value = this.input_value.charAt(index - 1)
        return value
      },
      clickGrid () {
        this.$refs.input.focus()
      },
      clear () {
        this.input_value = ''
      },
      inputKey (value) {
        this.inputHandler(value)
      }
    },
    directives: {
      focus: {
        inserted: function (el, {value}) {
          if (value) {
            el.focus()
          }
        },
        update: function (el, {value}) {
          if (value) {
            el.focus()
          }
        }
      }
    }
  }
</script>

<style scoped>
  img {
    width: 100%;
    height: 100%;
  }
  
  .container {
    position: absolute;
    top: 4rem;
    border-radius: 5px;
    margin: 5%;
    padding-bottom: .266667rem;
    width: 90%;
  }
  
  .grid-label {
    display: block;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    color: #666;
    width: 100%;
  }
  
  .grid-badge {
    text-align: center;
    line-height: 100%;
    margin-bottom: 10px;
    background-color: #666;
  }
  
  .grid-center {
    display: block;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    color: #666;
    width: 100%;
    height: 0px;
    opacity: 0;
  }
</style>
