<template>
  <div class="funds-reset" style="height: 100%">
    <view-box body-padding-top="50px" body-padding-bottom="50px">
      <x-header slot="header" title="手机验证" :left-options="{backText: ''}" :right-options="{showMore: false}" style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <group-title style="text-align: center;">我们已经发送验证码到您的手机</group-title>
      <group-title style="text-align: center;">138XXXX1234</group-title>
      <password ref="password" v-on:input-max="inputMax" :isPassword="false"></password>
      <box gap="30px 20px">
        <x-button text="下一步" @click.native="reSend" :disabled="send_disabled">
          <countdown v-model="current_sec" :start="start"  @on-finish="countdownFinish" v-show="show"></countdown>{{time_desc}}
        </x-button>
        <x-button text="提交" type="primary" @click.native="submit" :disabled="disabled"></x-button>
      </box>
    </view-box>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        password: '',
        code: '123456',
        total_sec: 10,
        current_sec: 10,
        time_desc: '秒重发',
        start: true,
        show: true,
        disabled: true,
        send_disabled: true
      }
    },
    mounted () {
      this.$refs.password.autoFocus = true
    },
    methods: {
      countdownFinish (index) {
        this.start = false
        this.show = false
        this.send_disabled = false
        this.time_desc = '重新发送'
      },
      inputMax (value) {
        this.disabled = false
      },
      reSend () {
        this.start = true
        this.show = true
        this.current_sec = this.total_sec
        this.send_disabled = true
        this.$vux.toast.show({
          type: 'success',
          text: '已发送，验证码为123456'
        })
      },
      submit () {
        var password = this.$refs.password.password_value
        if (password === this.code) {
          this.next()
        } else {
          this.$vux.toast.show({
            type: 'warn',
            text: '短信验证码不对，请输入测试码123456'
          })
        }
      },
      next () {
        var self = this
        self.$router.replace({
          path: '/withdrawal/reset'
        })
      }
    }
  }
</script>

<style scoped>
  
</style>
