<template>
  <div style="width: 100%;">
    <flexbox class="keyboard-list-box" :gutter="0">
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(1)"><div class="vux-1px-r keyboard-inner">1</div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(2)"><div class="vux-1px-r keyboard-inner">2</div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(3)"><div class="vux-1px-r keyboard-inner">3</div></flexbox-item>
    </flexbox>
    <flexbox class="keyboard-list-box" :gutter="0">
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(4)"><div class="vux-1px-r keyboard-inner">4</div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(5)"><div class="vux-1px-r keyboard-inner">5</div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(6)"><div class="vux-1px-r keyboard-inner">6</div></flexbox-item>
    </flexbox>
    <flexbox class="keyboard-list-box" :gutter="0">
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(7)"><div class="vux-1px-r keyboard-inner">7</div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(8)"><div class="vux-1px-r keyboard-inner">8</div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(9)"><div class="vux-1px-r keyboard-inner">9</div></flexbox-item>
    </flexbox>
    <flexbox class="keyboard-list-box" :gutter="0">
      <flexbox-item :span="1/3" class="cbox vux-1px-t no-active"><div class="vux-1px-r keyboard-inner"></div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(0)"><div class="vux-1px-r keyboard-inner">0</div></flexbox-item>
      <flexbox-item :span="1/3" class="cbox vux-1px-t no-active" @click.native="clickGrid(-1)">
        <div class="vux-1px-r keyboard-inner">
          <img src="../../../static/images/ui/unit/backspace.png" style="width: 23%;margin-top: 5px;"></img>
        </div>
      </flexbox-item>
    </flexbox>
    <flexbox v-show="show_return" class="keyboard-list-box" :gutter="0">
      <flexbox-item class="cbox vux-1px-t vux-tap-active" @click.native="clickGrid(-2)"><div class="vux-1px-r arrow-down"  style="padding-bottom: 10px;"><x-icon type="ios-arrow-down" size="30"></x-icon></div></flexbox-item>
    </flexbox>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        height: window.innerHeight - 46 - 53
      }
    },
    props: {
      show_return: {
        default: false
      }
    },
    methods: {
      clickGrid (value) {
        this.$emit('input-keyboard', value)
      }
    }
  }
</script>

<style scoped="scoped">
.cbox {
  text-align: center;
}
.keyboard-inner {
  padding: 5px 0;
  width: 100%;
  height: 38px;
  font-size: 1.5rem;
}
.keyboard-list-box {
  background-color: #fff;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.no-active {
  background-color: #d4d8db;
}
.arrow-down {
  padding: 5px 0;
  width: 100%;
  height: 20px;
  font-size: 1.5rem;
}
</style>
