<template>
  <div class="fund-pin" style="height: 100%">
    <view-box body-padding-top="50px" v-show="verification_show">
      <x-header slot="header" :left-options="{backText: ''}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <span slot="default">修改资金密码</span>
      </x-header>
      <template slot="default">
        <group-title style="text-align: center;">验证资金密码</group-title>
        <password ref="password" v-on:input-max="inpuVerificationMax" :input_focus="fund_pin_focus"></password>
      </template>
    </view-box>
    <view-box body-padding-top="50px" v-show="set_show">
      <x-header slot="header" :left-options="{backText: ''}"
                style="width:100%;position:absolute;left:0;top:0;z-index:100;">
        <span slot="default">设置资金密码</span>
      </x-header>
      <template slot="default">
        <group-title style="text-align: center;">请为账号设置6位数字资金密码</group-title>
        <password ref="password_new" v-on:input-max="inputChangeNew" :input_focus="new_fund_pin_focus" @click.native="setFocus(1)"></password>
        <group-title style="text-align: center;">请再次输入新设置的资金密码</group-title>
        <password ref="password_confirm" v-on:input-max="inputChangeConfirm" :input_focus="confirm_fund_pin_focus" @click.native="setFocus(2)"></password>
        <box gap="30px 20px">
          <x-button text="提交" type="primary" @click.native="submit" :disabled="submit_disabled"></x-button>
        </box>
        <toast v-model="toast_show" :type="toast_type">{{toast_msg}}</toast>
        <popup v-model="password_show" height="222px" @on-show="onShowPassword" :show-mask="false">
          <div>
            <tabbar>
              <keyboard @input-keyboard="inputKeyboard" :show_return="true"></keyboard>
            </tabbar>
          </div>
        </popup>
      </template>
    </view-box>
  </div>
</template>
<script>
  export default{
    data () {
      return {
        has_fund_pin: null,
        fund_pin: '',
        new_fund_pin: '',
        new_fund_pin_confirmed: '',
        verification_show: false,
        set_show: false,
        submit_disabled: true,
        fund_pin_focus: true,
        new_fund_pin_focus: false,
        confirm_fund_pin_focus: false,
        password_show: true,
        warn_msg: '两次输入的密码不一致',
        success_msg: '设置资金密码成功',
        toast_show: false,
        toast_type: 'warn',
        toast_msg: ''
      }
    },
    mounted () {
      var self = this
      self.$models.User.info().then(function (response) {
        if (response.data.success !== 1) {
          self.$router.push('/not-login')
        }
      })
    },
    created () {
      var self = this
      self.has_fund_pin = this.$route.query.has_fund_pin
      if (self.has_fund_pin) {
        self.verification_show = true
      } else {
        self.set_show = true
        self.new_fund_pin_focus = true
      }
    },
    methods: {
      inpuVerificationMax (value) {
        const self = this
        self.fund_pin = this.$refs.password.password_value
        self.fund_pin_focus = false
        self.verification_show = false
        self.new_fund_pin_focus = true
        self.set_show = true
      },
      inputChangeNew () {
        this.new_fund_pin = this.$refs.password_new.password_value
        if (this.new_fund_pin_confirmed.length === 0) {
          this.new_fund_pin_focus = false
          this.confirm_fund_pin_focus = true
        }
        this.checkPassword()
      },
      inputChangeConfirm () {
        this.new_fund_pin_confirmed = this.$refs.password_confirm.password_value
        this.checkPassword()
      },
      checkPassword () {
        if (this.new_fund_pin.length === this.new_fund_pin_confirmed.length) {
          if (this.new_fund_pin === this.new_fund_pin_confirmed) {
            this.submit_disabled = false
          } else {
            this.submit_disabled = true
            this.toast_show = true
            this.toast_type = 'warn'
            this.toast_msg = this.warn_msg
          }
        }
      },
      inputKeyboard (value) {
        const self = this
        if (value === -2) {
          self.password_show = false
          return
        }
        if (self.new_fund_pin_focus) {
          self.$refs.password_new.inputKey(value)
        } else if (self.confirm_fund_pin_focus) {
          self.$refs.password_confirm.inputKey(value)
        }
      },
      setFocus (value) {
        const self = this
        self.new_fund_pin_focus = false
        self.confirm_fund_pin_focus = false
        self.password_show = true
        switch (value) {
          case 1:
            self.new_fund_pin_focus = true
            break
          case 2:
            self.confirm_fund_pin_focus = true
            break
        }
      },
      submit: function () {
        const self = this
        self.$models.User.setfundpin({
          fund_pin: self.fund_pin,
          new_fund_pin: self.new_fund_pin,
          new_fund_pin_confirmed: self.new_fund_pin_confirmed
        }).then(function (response) {
          if (!response.data.success) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            return
          }

          self.toast_type = 'success'
          self.toast_show = true
          self.toast_msg = self.success_msg
          setTimeout(function () {
            if (self.$router.currentRoute.query.from_url) {
              self.$router.replace({
                path: self.$router.currentRoute.query.from_url
              })
            } else {
              self.$router.push('/')
            }
          }, 2000)
        })
      },
      onShowPassword () {
        this.$refs.password.clear()
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      }
    }
  }
</script>
