<template>
  <div class="funds-reset" style="height: 100%">
    <view-box slot="default" body-padding-top="50px" body-padding-bottom="50px" ref="viewBox">
      <x-header slot="header" :title="title" :left-options="{backText: ''}" :right-options="{showMore: false}" style="width:100%;position:absolute;left:0;top:0;z-index:100;">
      </x-header>
      <group>
        <xcode-input1 ref="password_new" title="资金密码" placeholder_align="left" placeholder="请为帐号设置6位数字资金密码" type="password" :max="6" v-bind:class="{ active: new_fund_pin_focus }" v-on:input-max="inputChangeNew" :input_focus="new_fund_pin_focus" @click.native="setFocus(1)" ></xcode-input1>
        <xcode-input1 ref="password_confirm" title="确认密码" placeholder_align="left" placeholder="请再次输入新设置的资金密码" type="password" :max="6" v-bind:class="{ active: confirm_fund_pin_focus }" v-on:input-max="inputChangeConfirm" :input_focus="confirm_fund_pin_focus" @click.native="setFocus(2)"></xcode-input1>
        <x-input label-width="80px" v-show="mobile_show" title="手机号" :value="mobile" readonly="readonly"></x-input>
        <xcode-input1  ref="mobile_phone" v-show="verification_show" title="手机号" placeholder-align="left" placeholder="请输入绑定手机号" type="text" :max="11" v-on:input-max="inputMobile" v-bind:class="{ active: mobile_phone_focus }" :input_focus="mobile_phone_focus" @click.native="setFocus(4)"></xcode-input1>
        <xcode-input1 ref="vcode_input" title="验证码" :btn_label="vcode_status.title + (vcode_status.countdown_sec > 0 ? vcode_status.countdown_sec : '')"
                      placeholder_align="left" placeholder="请填写验证码" :show_btn="true" type="tel" :max="4" v-on:input-max="inputMax" v-on:clickBtn="sendCode"
                      @click.native="setFocus(3)" v-bind:class="{ active: code_focus }" :btn_disabled="vcode_status.disabled">
        </xcode-input1>
        <countdown v-model="vcode_status.countdown_sec" :start="vcode_status.start" v-show="vcode_status.show" @on-finish="vcodeCountdownFinish">()</countdown>
      </group>
      <group-title v-if="password_warn_show"><span class="font-red">{{warn_msg}}</span></group-title>
      <box gap="25px 15px">
        <x-button text="提交" type="primary" @click.native="submit" :disabled="submit_disabled" v-show="verification_show"></x-button>
        <x-button text="提交" type="primary" @click.native="submit" v-show="!verification_show"></x-button>
      </box>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <toast id="toast" v-model="toast_show" :is-show-mask="true" :type="toast_type" @on-hide="onHideToast" width="70%">
        <div slot="default">
          <x-icon type="ios-checkmark" style="fill: #3ab157;vertical-align: middle;" size="30"></x-icon>
          <span style="vertical-align: bottom;"></span>
          {{toast_msg}}
        </div>
      </toast>
      <popup v-model="password_show" height="227px" @on-show="onShowPassword" :show-mask="false">
        <div>
          <tabbar>
            <keyboard @input-keyboard="inputKeyboard" :show_return="true"></keyboard>
          </tabbar>
        </div>
      </popup>
      <p class="copy-right">© BestPay</p>
    </view-box>
  </div>
</template>

<script>
  import CryptoJS from 'crypto-js'
  export default {
    data () {
      return {
        title: '',
        has_fund_pin: null,
        mobile: null,
        verification_show: false,
        mobile_show: true,
        newPassword: '',
        confirmPassword: '',
        new_fund_pin_focus: true,
        confirm_fund_pin_focus: false,
        mobile_phone_focus: false,
        code_focus: false,
        submit_disabled: true,
        password_show: true,
        warn_msg: '两次输入的密码不一致',
        password_warn_show: false,
        success_msg: '资金密码设置成功',
        toast_show: false,
        toast_type: 'text',
        toast_msg: '',
        vcode_status: {
          title: '发送验证码',
          vcode: '',
          disabled: false,
          type: 'primary',
          start: false,
          show: false,
          countdown_sec: 0,
          send: false
        }
      }
    },
    mounted () {
      var self = this
      self.$models.User.info().then(function (response) {
        if (response.data.success !== 1) {
          self.$router.push('/not-login')
        }
        self.loaded = true
        self.info = response.data.data
        self.mobile = self.info.mobile
        self.has_fund_pin = self.info.has_fund_pin
        if (self.has_fund_pin) {
          self.title = '重置资金密码'
          self.success_msg = '重置资金密码成功'
          self.new_fund_pin_focus = true
        } else {
          self.title = '设置资金密码'
          self.success_msg = '设置资金密码成功'
          self.new_fund_pin_focus = true
        }
      })
      if (navigator.userAgent.match(/AppleWebKit.*Mobile.*/) === null) {
        this.depositBlank = true
      }
    },
    methods: {
      inputChangeNew () {
        this.newPassword = this.$refs.password_new.password_value
        if (this.confirmPassword.length === 0) {
          this.new_fund_pin_focus = false
          this.confirm_fund_pin_focus = true
        }
        this.checkPassword()
      },
      inputChangeConfirm () {
        this.confirmPassword = this.$refs.password_confirm.password_value
        this.checkPassword()
      },
      checkPassword () {
        if (this.newPassword.length === this.confirmPassword.length) {
          if (this.newPassword === this.confirmPassword) {
            this.submit_disabled = false
            this.password_warn_show = false
          } else {
            this.submit_disabled = true
            this.password_warn_show = true
          }
        }
      },
      inputMobile () {
        this.mobilephone = this.$refs.mobile_phone.password_value
        this.checkPassword()
      },
      inputMax () {
        const self = this
        self.vcode_status.vcode = self.$refs.vcode_input.password_value
        self.checkPassword()
      },
      sendCode () {
        const self = this
        this.$models.User.mobileCode().then(function (response) {
          if (response.data.success !== 1) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '70%'
            })
            return false
          } else {
            self.vcode_status.disabled = true
            self.vcode_status.type = 'default'
            self.vcode_status.start = true
            self.vcode_status.countdown_sec = 15
            self.vcode_status.send = true
            self.$vux.toast.show({
              type: 'success',
              text: '验证码已发送，请留意手机短信',
              width: '70%'
            })
          }
        })
        self.code_focus = true
        self.new_fund_pin_focus = false
        self.confirm_fund_pin_focus = false
        self.mobile_phone_focus = true
      },
      vcodeCountdownFinish () {
        const self = this
        self.vcode_status.type = 'primary'
        self.vcode_status.start = false
        self.vcode_status.show = false
        self.vcode_status.disabled = false
      },
      submit () {
        const self = this
        self.$models.User.setfundpin({
          new_fund_pin: CryptoJS.AES.encrypt(self.newPassword, this.aesPassphrase).toString(),
          new_fund_pin_confirmed: CryptoJS.AES.encrypt(self.confirmPassword, this.aesPassphrase).toString(),
          vcode: CryptoJS.AES.encrypt(self.vcode_status.vcode, this.aesPassphrase).toString()
        }).then(function (response) {
          if (!response.data.success) {
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message,
              width: '70%'
            })
            return
          }
          self.toast_type = 'text'
          self.toast_show = true
          self.toast_msg = self.success_msg
          setTimeout(function () {
            if (self.$router.currentRoute.query.from_url) {
              self.$router.replace({
                path: self.$router.currentRoute.query.from_url
              })
            } else {
              self.$router.push('/')
            }
          }, 2000)
        })
      },
      onHideToast () {
        const self = this
        self.toast_show = false
        if (!self.disabled && self.toast_msg === self.success_msg) {
          self.$router.back()
        }
      },
      inputKeyboard (value) {
        const self = this
        self.password_warn_show = false
        if (value === -2) {
          self.password_show = false
          return
        }
        if (self.new_fund_pin_focus) {
          self.$refs.password_new.inputKey(value)
        } else if (self.confirm_fund_pin_focus) {
          self.$refs.password_confirm.inputKey(value)
        } else if (self.mobile_phone_focus) {
          self.$refs.mobile_phone.inputKey(value)
        } else if (self.code_focus) {
          self.$refs.vcode_input.inputKey(value)
        }
      },
      setFocus (value) {
        document.activeElement.blur()
        const self = this
        self.new_fund_pin_focus = false
        self.confirm_fund_pin_focus = false
        self.mobile_phone_focus = false
        self.code_focus = false
        self.password_show = true
        self.isActive = false
        switch (value) {
          case 1:
            self.new_fund_pin_focus = true
            break
          case 2:
            self.confirm_fund_pin_focus = true
            self.isActive = true
            break
          case 3:
            self.code_focus = true
            break
          case 4:
            self.mobile_phone_focus = true
        }
      },
      onShowPassword (value) {
        switch (value) {
          case 1:
            this.$refs.password_new.clear()
            break
          case 2:
            this.$refs.password_confirm.clear()
            break
          case 3:
            this.$refs.vcode_input.clear()
            break
          case 4:
            this.$refs.mobile_phone.clear()
            break
        }
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      }
    }
  }
</script>

<style lang="less">
  #toast .weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  #toast .weui-toast.weui-toast_forbidden {
    color: #000000;
  }

  #toast .weui-toast {
    position: fixed;
    z-index: 5001;
    width: 7.6em;
    top: 250px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 5px;
    color: #000000;
  }
  .isActive{
    background: red;
  }
</style>
