<template>
  <x-input :title="title" :placeholder="placeholder" :readonly="true" v-model="password_value" :max="max" text-align="left" :type="type" label-width="80px">
    <x-button v-show="show_btn" slot="right" type="primary" mini style="margin-left: 0px;background-color: #FFFFFF;padding-left: 10px;padding-right: 10px;" 
      @click.native="clickBtn">{{btn_label}}</x-button>
  </x-input>
</template>

<script>
  export default {
    data () {
      return {
        password_value: '',
        title_value: '',
        placeholder_value: '',
        type_value: ''
      }
    },
    props: {
      title: String,
      placeholder: String,
      type: String,
      max: Number,
      show_btn: Boolean,
      btn_label: String,
      input_focus: false,
      enabled: {
        default: true
      },
      setFocus () {
        this.clickGrid()
      }
    },
    mounted () {
    },
    methods: {
      inputPassword (value) {
        if (!this.enabled) {
          return
        }
        var len = this.password_value.length
        if (value >= 0) {
          if (len < this.max) {
            this.password_value += value.toString()
          }
        } else {
          this.password_value = this.password_value.substr(0, len - 1)
        }
        len = this.password_value.length
        this.$emit('input-change', this.password_value)
        if (len === Number(this.max)) {
          this.$emit('input-max', this.password_value)
        } else {
          this.$emit('input-not-max', this.password_value)
        }
      },
      getPasswordChatAt (index) {
        if (!this.isPassword) {
          return false
        }
        var value = this.password_value.charAt(index - 1)
        if (value !== '') {
          if (this.isPassword) {
            return true
          }
        }
        return value
      },
      getTextChatAt (index) {
        if (this.isPassword) {
          return false
        }
        var value = this.password_value.charAt(index - 1)
        if (value !== '') {
          return value
        }
        return ''
      },
      clear () {
        this.password_value = ''
      },
      inputKey (value) {
        this.inputPassword(value)
      },
      clickBtn () {
        this.$emit('clickBtn')
      }
    },
    directives: {
      focus: {
        inserted: function (el, {value}) {
          if (value) {
            el.focus()
          }
        },
        update: function (el, {value}) {
          if (value) {
            el.focus()
          }
        }
      }
    }
  }
</script>

<style scoped>
  
  .verification{
    background-color: #FFFFFF;
  }
  
  .weui-btn {
    background: none;
     background-color: #FFFFFF;
     border-radius: 20px; 
     border: 1px solid #4dcc63;
     color: #4dcc63;
  }

</style>
