<?php View::display('header');?>

    <body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]);?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try {
                ace.settings.loadState('main-container')
            } catch (e) {
            }
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]);?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <a onclick="exportScv(this)" data-url="/manage/transaction/export" type="button" class="btn btn-default navbar-right">导出</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="detail-col">#</th>
                                                <th>用户ID</th>
                                                <th>用户名</th>
                                                <th>转出</th>
                                                <th>转入</th>
                                                <th>操作之前金额</th>
                                                <th>金额</th>
                                                <th>剩余金币</th>
                                                <th>操作类型</th>
                                                <th>时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td><?=$info->transaction_id?></td>
                                                <td><?=$info->user_id?></td>
                                                <td><?=is_object($info->user) ? $info->user->name : '';?></td>
                                                <td><?=$info->to_user_id;?></td>
                                                <td><?=$info->from_user_id?></td>
                                                <td><?=$info->before?></td>
                                                <td><?=$info->amount?></td>
                                                <td><?=$info->remain?></td>
                                                <td><?=$info->type->optype_name?></td>
                                                <td><?=$info->created_at->format('Y-m-d H:i:s')?></td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>

                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>