<?php View::display('header');?>

<body class="no-skin">
<?php View::display('nav/top', ['admin' => $admin]); ?>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <?php View::display('nav/side', ['controller' => $Controller]); ?>

        <div class="main-content">
            <div class="main-content-inner">
                <?php View::display('breadcrumb')?>

                <div class="page-content">
                    <?php View::display('settings');?>

                    <?php View::display('page-header');?>

                    <?php View::display('search-box', ['searchItemConf' => $searchItemsConf]);?>

                    <a onclick="exportScv(this)" data-url="/manage/goldoperate/export" type="button" class="btn btn-default navbar-right">导出</a>

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table id="simple-table" class="table  table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>用户ID</th>
                                                <th>订单编号</th>
                                                <th>操作类型</th>
                                                <th>操作人员</th>
                                                <th>操作时间</th>
                                                <th>金额</th>
                                                <th>备注</th>
                                                <th>操作ip</th>
                                                <th>接口调用结果</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        <?php foreach ($list as $info): ?>
                                            <tr>
                                                <td><?=$info->gold_operate_id;?></td>
                                                <td><?=$info->user->nickname;?></td>
                                                <td><?=$info->bill_no?></td>
                                                <td><?=$info->type->optype_name;?></td>
                                                <td><?=$info->admin->name;?></td>
                                                <td><?=$info->optime;?></td>
                                                <td><?=$info->amount;?></td>
                                                <td><?=$info->remarks;?></td>
                                                <td><?=$info->client_ip;?></td>
                                                <td><?= $info->success ? "<span class='alert-success'>成功</span>" : "<span class='alert-danger'>失败</span>";?></td>
                                            </tr>
                                        <?php endforeach;?>
                                        </tbody>
                                    </table>
                                    <?php View::display('paginate', ['info' => $list]);?>
                                </div><!-- /.span -->
                            </div><!-- /.row -->

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <?php View::display('footer');?>

        <?php View::display('scroll-up');?>
    </div><!-- /.main-container -->

<?php View::display('foot-scripts')?>