<template>
  <div class="withdrawal-add">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>提现积分</h2>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-form class="title"  label-position="left" label-width="120px">
                <el-form-item label="选择银行卡">
                  <el-select v-model="cardName" placeholder="请选择" style="width: 300px;">
                    <el-option
                      v-for="item in cards"
                      :key="item.key"
                      :label="item.name"
                      :value="item.name">
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="可用积分">
                  <span>{{total_balance}}</span>
                </el-form-item>
                <el-form-item label="提现积分">
                  <el-input :placeholder="balance_placeholder" label-width="30px" v-model="amount" :maxlength="balance_max" @on-change="withdrawalChange"></el-input>
                  <el-button @click="withdrawalAll">全部提现</el-button>
                </el-form-item>
              </el-form>
            </el-row>
            <el-row type="flex" class="row-bg">
              <el-button type="primary" @click.native="withdrawalClick" :disabled="submit_disabled">两小时内到账，确认提现</el-button>
            </el-row>
          </el-col>
        </el-row>
        <div v-show="popup_show">
          <el-dialog title="收费提示" :visible.sync="price_show" center>
            <span>积分不足以支付服务费，实际到账金额如下</span>
            <el-form class="title"  label-position="left" label-width="120px">
              <el-form-item label="到账积分">
                <span>{{withdrawal_amount}}</span>
              </el-form-item>
              <el-form-item label="本次服务费">
                <span>{{charge}}</span>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click.native="continueClick" :disabled="submit_disabled">继续提现</el-button>
              </el-form-item>
            </el-form>
          </el-dialog>
          <password id="password" ref="password" v-show="password_show" @close="closePassword" @confirm="inputMax"></password>
        </div>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        title: '提现',
        info: null,
        balance_placeholder: '',
        balance_max: 8,
        total_balance: 0.00,
        usable_balance: 0.00,
        card: {
          value: {
            name: '',
            num: ''
          },
          icon: ''
        },
        cardName: '',
        cardId: null,
        cards: [],
        cardSelector: {
          show: false
        },
        amount: '',
        withdrawal_amount: 0,
        charge_percent: 0.03,
        charge: 0,
        need_fee: true,
        need_fee_amount: 2000,
        fund_pin: '',
        submit_disabled: true,
        popup_show: false,
        price_show: false,
        password_show: false,
        show_guide: false,
        balance_tips: '',
        submitting: false
      }
    },
    mounted () {
      const self = this
      self.$models.User.info().then(function (response) {
        if (response.data.success !== 1) {
          self.$router.push('/not-login')
        }
        self.loaded = true
        self.info = response.data.data
        self.total_balance = Number(self.info.usable_gold + self.info.freeze_gold)
        self.usable_balance = Number(self.info.usable_gold)
        self.balance_placeholder = '可提现' + self.usable_balance.toString()
        self.need_fee = self.info.need_withdrawal_fee
        self.$models.Card.list().then(function (response1) {
          if (!response.data.success) {
            self.$vux.toast.show({
              text: response1.data.message,
              type: 'warn'
            })
            return false
          }
          self.cards = []
          for (let card of response1.data.data.cards) {
            self.cards = self.cards.concat([{
              key: card.card_id,
              name: card.bank.bank_name + card.card_no,
              value: {
                name: card.bank.bank_name,
                num: card.card_no
              },
              icon: self.getBankIcon(card.bank)
            }])
          }
          self.checkGuide()
        })
      })
    },
    methods: {
      checkGuide () {
        var self = this
        self.show_guide = !self.info.has_fund_pin
        if (!self.show_guide) {
          self.checkCard()
        }
      },
      hideGuide () {
        var self = this
        self.show_guide = false
        self.checkCard()
      },
      checkCard () {
        var self = this
        if (self.cards.length > 0) {
          self.card = self.cards[0]
          self.cardId = self.cards[0].key
          self.cardName = self.cards[0].value.name + self.cards[0].value.num
          self.submit_disabled = false
        } else {
          self.submit_disabled = true
          self.gotoBindCard()
        }
      },
      withdrawalAll () {
        this.amount = this.usable_balance
      },
      showCardSelector () {
        this.cardSelector.show = true
      },
      closeCardSelector () {
        this.cardSelector.show = false
      },
      selectCard (key) {
        this.card = this.cards.filter(function (obj) {
          if (obj.key === key) return obj
        })[0]
        this.closeCardSelector()
      },
      withdrawalChange (value) {
        const self = this
        if (Number(value) > self.usable_balance) {
          self.balance_tips = '提现超过可提现积分'
        } else {
          self.balance_tips = ''
        }
        self.need_fee = self.info.need_withdrawal_fee
        if (self.need_fee) {
          self.charge = Math.round(value * (self.charge_percent * Number(self.need_fee)))
        } else {
          if (Number(value) <= Number(self.need_fee_amount)) {
            self.charge = 0
          } else {
            self.charge = Math.round((value - self.need_fee_amount) * self.charge_percent)
          }
        }
      },
      forgotPassword () {
        var self = this
        self.$router.replace({
          path: '/funds/reset',
          query: {
            has_fund_pin: self.info.has_fund_pin,
            mobile: self.info.mobile
          }
        })
      },
      withdrawalClick () {
        var self = this
        if (Number(self.amount) < 103) {
          this.$alert('提现积分不能少于103', '提示', {
            confirmButtonText: '确定'
          })
          return
        }
        if (Number(self.amount) > Number(self.usable_balance)) {
          this.$alert('超过可提现积分', '提示', {
            confirmButtonText: '确定'
          })
        } else if (self.need_fee) {
          if (Number(self.amount) + Number(self.charge) <= Number(self.usable_balance)) {
            self.popup_show = true
            self.password_show = true
            self.withdrawal_amount = self.amount
          } else if (Number(self.amount) <= Number(self.usable_balance) && Number(self.amount) + Number(self.charge) > Number(self.usable_balance)) {
            self.popup_show = true
            self.price_show = true
            self.withdrawal_amount = self.amount - self.charge
            self.charge = Math.round(self.withdrawal_amount * self.charge_percent)
            var dValue = self.withdrawal_amount + self.charge - self.amount
            if (dValue > 0) {
              self.withdrawal_amount -= dValue
              self.charge = Math.round(self.withdrawal_amount * (self.charge_percent * Number(self.need_fee)))
            }
          }
        } else if (!self.need_fee) {
          if (Number(self.amount) < Number(self.usable_balance)) {
            self.popup_show = true
            self.password_show = true
            self.withdrawal_amount = self.amount
          } else {
            self.popup_show = true
            self.price_show = true
            self.withdrawal_amount = self.amount - self.charge
          }
        }
      },
      inputKeyboard (value) {
        const self = this
        self.$refs.password.inputKey(value)
      },
      continueClick () {
        var self = this
        self.price_show = false
        self.password_show = true
      },
      showPassword () {
        const self = this
        if (self.amount === 0) {
          self.$vux.toast.show({
            type: 'warn',
            text: '请输入提现金额'
          })
          return
        }
        if (!self.info.has_fund_pin) {
          self.$vux.alert.show({
            title: '您还没有资金密码',
            content: '点击确定前往设置',
            onHide () {
              self.$router.replace({
                path: '/funds/reset'
              })
            }
          })
          return
        }
        this.password_show = true
      },
      inputMax () {
        const self = this
        self.fund_pin = self.$refs.password.password_value
        if (!self.submitting) {
          self.submitting = true
          self.submit()
        }
      },
      submit () {
        const self = this
        self.$models.Withdrawal.create({
          card_id: self.cardId,
          amount: self.withdrawal_amount,
          fund_pin: self.fund_pin
        }).then(function (response) {
          if (!response.data.success) {
            self.submitting = false
            self.$vux.toast.show({
              type: 'warn',
              text: response.data.message
            })
            self.$refs.password.clear()
            self.closePassword()
            return
          }
          self.$router.replace({
            path: '/withdrawal/detail',
            query: {
              id: response.data.data.withdrawal_id
            }
          })
        })
      },
      getBankIcon (bank) {
        return '../../static/images/banks/' + bank.identifier + '.png'
      },
      gotoBindCard () {
        const self = this
        self.$vux.alert.show({
          title: '您还没有绑定过银行卡',
          content: '点击确定绑定银行卡',
          onHide () {
            self.$router.replace({
              path: '/card/add',
              query: {
                from_url: self.$route.path
              }
            })
          }
        })
      },
      closePrice () {
        const self = this
        self.popup_show = false
        self.price_show = false
      },
      closePassword () {
        const self = this
        self.popup_show = false
        self.password_show = false
      },
      onHidePopUp (e) {
        const self = this
        self.price_show = false
        self.password_show = false
      },
      onShowPassword () {
        const self = this
        self.$refs.password.clear()
        let timer = setInterval(function () {
          clearInterval(timer)
        }, 10)
      }
    }
  }
</script>

<style scoped>
  .title {
    margin-top: 30px;
  }
</style>
