<template>
  <div class="withdrawal-detail">
    <el-container>
      <el-header>
        <bestpay-header></bestpay-header>
      </el-header>
      <el-main>
        <el-row type="flex" class="row-bg" :span="20">
          <el-col :span="12" :offset="6">
            <el-row type="flex" class="row-bg title">
              <h2>提现申请已提交</h2>
            </el-row>
            <el-row type="flex" class="row-bg" justify="space-around">
              <el-form class="title"  label-position="left" label-width="120px">
                <el-form-item label="提现申请已提交">
                  <span>预计到账时间{{redict_time}}</span>
                </el-form-item>
                <el-form-item label="提现金额">
                  <span>¥ {{amount}}</span>
                </el-form-item>
                <el-form-item label="订单编号">
                  <span>{{order_no}}</span>
                </el-form-item>
                <el-form-item label="到账账号">
                  <span>{{card}}</span>
                </el-form-item>
                <el-form-item label="手续费">
                  <span>{{fee}}</span>
                </el-form-item>
                <el-form-item>
                  <el-button@click.native="back" type="primary">完成</el-button>
                </el-form-item>
              </el-form>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
    </el-container>
  </div>
</template>

<script>
  export default{
    data () {
      return {
        amount: 0,
        redict_time: '',
        order_no: '',
        card: '',
        fee: ''
      }
    },
    mounted () {
      const self = this
      self.$models.Withdrawal.info({
        withdrawal_id: self.$route.query.id
      }).then(function (response) {
        if (!response.data.success) {
          self.$message({
            message: response.data.message,
            type: 'warning'
          })
        }

        self.amount = response.data.data.amount
        self.redict_time = response.data.data.redict_time
        var temp = response.data.data.card_no
        var cardNo = temp.replace(new RegExp(/[* ]/g), '')
        self.order_no = response.data.data.order_no
        self.card = response.data.data.bank_name + ' 尾号' + cardNo
        self.fee = response.data.data.fee
      })
    },
    methods: {
      back () {
        const self = this
        self.$router.replace({
          path: '/',
          query: {
            from_url: self.$route.path
          }
        })
      }
    }
  }
</script>

<style scoped>
  .title {
    margin-top: 30px;
  }
</style>