<template lang="html">
  <div class="yo-scroll" :class="{'down':(state===0),'up':(state==1),refresh:(state===2),touch:touching}" @touchstart="touchStart($event)" @touchmove="touchMove($event)" @touchend="touchEnd($event)">
    <section class="inner" :style="{ transform: 'translate3d(0, ' + top + 'px, 0)' }">
      <header class="pull-refresh">
        <slot name="pull-refresh">
          <span class="down-tip">下拉更新</span>
          <span class="up-tip">松开刷新数据</span>
          <span class="refresh-tip">加载中……</span>
        </slot>
      </header>
      <slot>
      </slot>
      <footer class="load-more">
        <slot name="load-more">
          <span v-show="downFlag === false">上拉加载更多</span>
          <span v-show="downFlag === true">加载中……</span>
        </slot>
      </footer>
      <div class="nullData" v-show="dataList.noFlag">暂无更多数据</div>
    </section>
  </div>
</template>
<style lang="less">
  @import url("./less/pull-refresh.less");
</style>
<script>
  export default {
    props: {
      offset: {
        type: Number,
        default: 60
      },
      downOffset: {
        type: Number,
        default: 200
      },
      enableInfinite: {
        type: Boolean,
        default: true
      },
      enableRefresh: {
        type: Boolean,
        default: true
      },
      dataList: {
        default: false,
        required: false
      },
      onRefresh: {
        type: Function,
        default: undefined,
        required: false
      },
      onInfinite: {
        type: Function,
        default: undefined,
        require: false
      }
    },
    data () {
      return {
        top: 0,
        state: 0,
        startX: 0,
        startY: 0,
        touching: false,
        infiniteLoading: false,
        downFlag: false
      }
    },
    methods: {
      touchStart (e) {
        this.startY = e.targetTouches[0].pageY
        this.startX = e.targetTouches[0].pageX
        this.startScroll = this.$el.scrollTop || 0
        this.touching = true
        this.dataList.noFlag = false
        this.$el.querySelector('.load-more').style.display = 'block'
      },
      touchMove (e) {
        if (!this.enableRefresh || this.dataList.noFlag || !this.touching) {
          return
        }
        let diff = e.targetTouches[0].pageY - this.startY - this.startScroll
        if (diff > 0) e.preventDefault()
        this.top = Math.pow(diff, 0.8) + (this.state === 2 ? this.offset : 0)
        if (this.state === 2) {
          return
        }
        if (this.top >= this.offset) {
          this.state = 1
        } else {
          this.state = 0
        }
        let more = this.$el.querySelector('.load-more')
        if (!this.top && this.state === 0) {
          more.style.display = 'block'
        } else {
          more.style.display = 'none'
        }
      },
      touchEnd (e) {
        if (!this.enableRefresh) {
          return
        }
        this.touching = false
        if (this.state === 2) {
          this.state = 2
          this.top = this.offset
          return
        }
        if (this.top >= this.offset) { // do refresh
          this.refresh()
        } else { // cancel refresh
          this.state = 0
          this.top = 0
        }
        let endX = e.changedTouches[0].pageX
        let endY = e.changedTouches[0].pageY
        let dy = this.startY - endY
        let dx = endX - this.startX
        if (Math.abs(dx) < 3 && Math.abs(dy) < 3) {
//        console.log('滑动距离太短')
          return
        }
        if (!this.enableInfinite || this.infiniteLoading) {
          return
        }
        let outerHeight = this.$el.clientHeight
        let innerHeight = this.$el.querySelector('.inner').clientHeight
        let scrollTop = this.$el.scrollTop
        let ptrHeight = this.onRefresh ? this.$el.querySelector('.pull-refresh').clientHeight : 0
        let bottom = innerHeight - outerHeight - scrollTop - ptrHeight
//      console.log(bottom + ' __ ' + this.downOffset, this.state)
        if (bottom <= this.downOffset && this.state === 0) {
          this.downFlag = true
          this.infinite()
        } else {
          this.$el.querySelector('.load-more').style.display = 'none'
          this.downFlag = false
        }
      },
      refresh () {
        this.state = 2
        this.top = this.offset
        setTimeout(() => {
          this.onRefresh(this.refreshDone)
        }, 200)
      },
      refreshDone () {
        this.state = 0
        this.top = 0
      },
      infinite () {
        this.infiniteLoading = true
        setTimeout(() => {
          this.onInfinite(this.infiniteDone)
        }, 1000)
      },
      infiniteDone () {
        this.infiniteLoading = false
      }
    }
  }
</script>
